# **ANALYSIS OF START-UP FUNDING TRENDS IN THE INDIAN ECOSYSTEM**

**DESCRIPTION**
The Indian ecosystem is dynamic and constantly evolving, thus, for every business venturing into an unknown territory i.e., a new country or landscape, the fear of the unknown normally takes precedence with regards to whether the business will succeed or not. By examining existing data spanning from 2018 to 2021 on start-up funding, this project will identify key patterns, investment behaviors, and emerging sectors within the Indian start-up ecosystem to inform strategic decision-making for venturing into this market.


**HYPOTHESIS**
- Null Hypothesis (H0) – The funds a company receives does not depend on the sector the company invests in. 


- Alternative Hypothesis (H1) – The funds a company receives depends on the sector a company invests in. 


**BUSINESS QUESTIONS**

1.Does the location of a start-up influence/determine the sector?  

2.Which industries have received the most funding in each year, and how has this distribution changed over time?  

3.What is the distribution of funding amounts among start-ups (e.g., average, median, and range) each year?  

4.What are the average funding amounts for different funding stages (e.g., Seed, Series A, Series B, etc.) each year?  

5.How does funding vary within the various geographical locations for start-ups?

# **1.0 DATA UNDERSTANDING AND DATA EXPLORATION**

In [141]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\joojo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (5.1.0)

In [142]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\joojo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.0.1)

In [143]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns


import scipy.stats as stats
from matplotlib.dates import YearLocator
from matplotlib.ticker import FuncFormatter
import matplotlib.ticker as ticker
import re

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

LOADING OF DATA

LOADING FROM DATABASE

In [144]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server=environment_variables.get("server")
database=environment_variables.get("database")
login=environment_variables.get("Login")
password=environment_variables.get("password")

In [287]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

#use the connect method using pyodbc to connect
connection = pyodbc.connect(connection_string)

In [288]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [147]:
# load 2021 data
data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
data_2020=pd.read_sql(query_2020,connection)

In [148]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [289]:
data_2021.head()

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",NaN,Pre-series A,2021,NaN,NaN,Bangalore,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",NaN,,2021,NaN,NaN,Mumbai,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",NaN,Series D,2021,NaN,NaN,Mumbai,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",NaN,Series C,2021,NaN,NaN,Mumbai,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",NaN,Seed,2021,NaN,NaN,Gurugram,NaN

LOADING CSV FILES

In [150]:

    # load 2018 data
data_2018=pd.read_csv(r'C:\Users\joojo\Downloads\Career Accelerator Phase\LP1\Indian-Startup-Ecosystem\Notebooks\startup_funding2018.csv')

data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [151]:
# load 2019 data
data_2019=pd.read_csv(r'C:\Users\joojo\Downloads\Career Accelerator Phase\LP1\Indian-Startup-Ecosystem\Notebooks\startup_funding2019.csv')

data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

## **2.0  EXPLORATORY DATA ANALYSIS (EDA)**

# **2.1. 2018 DATASET EDA**

In [152]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
246,The Ken,Digital Media,Series A,1500000,"Bengaluru, Karnataka, India",The Ken is India’s first subscriptions-only bu...
412,INDwealth,Financial Services,Seed,"₹2,200,000,000","Gurgaon, Haryana, India",INDwealth is an Artificial Intelligence (AI) p...
249,Foyr,"Home Decor, Interior Design",Series A,4200000,"Pune, Maharashtra, India","Foyr.com is India's first online, automated in..."
115,Satin Creditcare Network Limited (SCNL),"Banking, Finance, Financial Services, Non Profit",Post-IPO Debt,"$30,000,000","New Delhi, Delhi, India",Satin is a non-banking finance company providi...
497,Vokal,"Internet, Knowledge Management",Series A,1500000,"Bengaluru, Karnataka, India",India's Largest Peer-to-Peer Knowledge Sharing...

In [153]:
# checking for number of columns and rows
print (data_2018.shape)
print(f"There are {data_2018.shape[0]} rows, and {data_2018.shape[1]} columns")

(526, 6)
There are 526 rows, and 6 columns

In [154]:
# checking for duplicates
print("There are ",data_2018.duplicated().sum(),"duplicate(s)")

There are  1 duplicate(s)

In [155]:
# Checking for missing values
data_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [156]:
# checking info
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [157]:
# checking for the various column headers
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [158]:
# Performing describtive analysis on the data
data_2018.describe(include='all').T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

 **OBSERVATIONS FROM 2018 DATA**

- The Seed series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named TheCollegeFever was the most popular startup in 2018

# **2.2. 2019 DATA EDA**

In [159]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
29,Bijak,2019.0,NaN,AgriTech,B2B platform for agricultural commodities.,"Nukul Upadhye, Mahesh Jakhotia, Jitender Bedwa...","Omnivore and Omidyar Network India, Sequoia Ca...","$2,500,000",Seed fund
48,Box8,2011.0,Mumbai,Foodtech,Enables to order food online,"Amit Raj, Anshul Gupta",Trifecta Capital,"$120,000,000",NaN
32,Pumpkart,2014.0,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,It uses technology to create a trust-based net...,"Dhiraj Naubhar, Dheeraj Bansal",Inflection Point Ventures,Undisclosed,NaN

In [160]:
# checking for number of columns and rows
print (data_2019.shape)
print(f"There are {data_2019.shape[0]} rows, and {data_2019.shape[1]} columns")

(89, 9)
There are 89 rows, and 9 columns

In [161]:
# checking for duplicates
print("There are ",data_2019.duplicated().sum(),"duplicate(s)")

There are  0 duplicate(s)

In [162]:
# Checking for nulls
data_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [163]:
# checking for datatypes in the different columns
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [164]:
# checking for the various column headers
data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [165]:
# performing descriptive analysis
data_2019.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company/Brand,89,87,Kratikal,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,60.0,NaN,NaN,NaN,2014.533333,2.937003,2004.0,2013.0,2015.0,2016.25,2019.0
HeadQuarter,70,17,Bangalore,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,84,52,Edtech,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What it does,89,88,Online meat shop,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,86,85,"Vivek Gupta, Abhay Hanjura",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,89,86,Undisclosed,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),89,50,Undisclosed,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,43,15,Series A,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2019 DATA**

- The Series A series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named Kratical was the most popular startup in 2019

- Most of the startups in 2019 were in the Edtech sector

# **2.3. 2020 DATA EDA**

In [166]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
657,iNurture Education,NaN,None,Edtech,"It provides a conducive and healthy teaching, ...",Ashwin Ajila,Kimera Ltd,4000000.0,None,None
692,Khatabook,NaN,Bangalore,Fintech,It helps SMEs to maintain their accounts and l...,Ravish Naresh,B Capital Group,60000000.0,Series B,None
70,Atomberg Technologies,2012.0,Mumbai,Consumer appliances,"Atomberg Technology aspires to be the ""Tesla"" ...","Manoj Meena, Sibabrata Das","Sandeep Tandon, Survam Partners",9000000.0,Series B,None
129,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,None
998,Sabse Sasta Dukaan,2016.0,Kolkata,Pharmaceutical,Online pharmacy dealing in medicines,"Anish Agarwal, Anant Jain",Angel investors,NaN,None,None

In [167]:
#checking for number of columns and rows
print (data_2020.shape)
print(f"There are {data_2020.shape[0]} rows, and {data_2020.shape[1]} columns")

(1055, 10)
There are 1055 rows, and 10 columns

In [168]:
# checking for duplicates
print("There are ",data_2020.duplicated().sum(),"duplicate(s)")

There are  3 duplicate(s)

In [169]:
# Checking for nulls
data_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [170]:
# checking for datatypes in the different columns
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [171]:
# checking for the various column headers
data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [172]:
# perform describtive analysis on the 2020 data
data_2020.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1055,905,Nykaa,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,842.0,NaN,NaN,NaN,2015.36342,4.097909,1973.0,2014.0,2016.0,2018.0,2020.0
HeadQuarter,961,77,Bangalore,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1042,302,Fintech,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1055,990,Provides online learning classes,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1043,927,Falguni Nayar,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1017,848,Venture Catalysts,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,801.0,NaN,NaN,NaN,113042969.543071,2476634939.888347,12700.0,1000000.0,3000000.0,11000000.0,70000000000.0
Stage,591,42,Series A,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2020 DATA**

- The Series A series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named Nykaa was the most popular startup in 2020

- Most of the startups in 2020 were in the Fintech sector

- The average amount invested was about $113,042,969

# **2.4. 2021 DATA EDA**

In [290]:
# get a sample of 2021 dataset
data_2021.sample(5)

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
298,Fabriclore,2016.0,Jaipur,Apparel & Fashion,India's top brand of artisanal & contemporary ...,"Vijay Sharma, Anupam Arya, Sandeep Sharma","Fluid Ventures, Mulberry Silks",NaN,Pre-series A,2021,NaN,NaN,Jaipur,NaN
819,Agnikul,2017.0,Chennai,SpaceTech,"Agnikul is a space tech startup that designs, ...","Moin SPM, Satyanarayanan Chakravarthy, Srinath...","Artha India Ventures, Sriram Krishnan",NaN,Series A,2021,NaN,NaN,Chennai,NaN
333,Avataar Ventures,2019.0,Bangalore,FinTech,Avataar Venture Partners is a growth Capital I...,Mohan Kumar,,NaN,,2021,NaN,NaN,Bangalore,NaN
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,NaN,Pre-series A,2021,NaN,NaN,Mumbai,NaN
976,ForeignAdmits,2018.0,Bangalore,Higher Education,“foreignadmits” aims at addressing one of the ...,"Nikhil Jain, Ashwini Jain",Unicorn India Ventures,NaN,Seed,2021,NaN,NaN,Bangalore,NaN

In [174]:
# get the number of rows and columns for the datasets
print(f'{data_2021.shape}')

print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns")

(1209, 9)
The 2021 dataset has 1209 rows and 9 Columns

In [175]:
# checking for duplicates
print("There are ",data_2021.duplicated().sum(),"duplicate(s)")

There are  19 duplicate(s)

In [176]:
#  Checking for nulls
data_2021.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [177]:
# checking for datatypes in the different columns
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [178]:
# checking for the various column headers
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [179]:
# performing describtive analysis on the dataset
data_2021.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1209,1033,BharatPe,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,1208.0,NaN,NaN,NaN,2016.655629,4.517364,1963.0,2015.0,2018.0,2020.0,2021.0
HeadQuarter,1208,70,Bangalore,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1209,254,FinTech,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1209,1143,BharatPe develops a QR code-based payment app ...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1205,1095,"Ashneer Grover, Shashvat Nakrani",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1147,937,Inflection Point Ventures,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,1206,278,$Undisclosed,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,781,31,Seed,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2021 DATA**

- The Seed series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named BharatPe was the most popular startup in 2021

- Most of the startups in 2021 were in the Fintech sector

**GENERAL OBSERVATIONS FROM DATA**


**Issues Observed**

1. The 2018 dataset has some missing columns which is making the representation of the data incomplete

2. The naming conventions of columns in 2018 and 2019 datasets compared to 2020 and 2021 datasets does not tally

3. The 2020 dataset contains an additional column that appears to serve no meaningful purpose in our dataset or analysis

4. The currencies are all not uniform with some in rupees and others in dollars especially in the 2018 dataset

5. names of the cities in some of the datasets are not spelt correctly bringing about a variation 

6. The stages of funding are not well defined which might affect our analysis



**Remedies to issues Observed**
1. To address the 2018 dataset with some missing columns, we will employ data engineering techniques to populate and create those columns ensuring a commprehensive data structure for our analysis.

2. To enure a seamless data integration and analysis ,we will establish uniformity and coherence across all datasets by embarking on a column renaming process to allign all the columns in the dataset

3. The redundant columns observed in the 2020 dataset will be removed so that any unnecessary elements does not interfere with our analysis

4. All currencies will be converted to dollars for uniformity.Thereby the exchange rate for each of the years will be applied if necessary.

5. A thorough cleaning of the names of the cities will be done to ensure a more accurate dataset to be used for our analysis. 

6. Research will be done in order to group the current stages in our datasets under main stages to make our analysis more understandable.

# **3.0 DATA CLEANING**

**3.1. Converting Indian Rupees to Dollars in 2018 dataset**

In [180]:
# Replace '₹', commas, '—', and "''" in 'Amount' column
data_2018['Amount'] = data_2018['Amount'].str.replace(',', '').str.replace('—', '').str.replace("''",'').replace('', np.nan)

In [181]:
# Conditionally apply multiplication only where '₹' is present
mask = data_2018['Amount'].str.contains('₹', na=False)
data_2018.loc[mask, 'Amount'] = data_2018.loc[mask, 'Amount'].str.replace('₹', '').astype(float) * 0.0146

In [182]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

## **Add year data was collected**

- There is need to add a column that represents the year each dataset was collected. This will help with handling the datasets after merging the dataframes

In [183]:
# add year when data was collected column to every dataset
data_2018['year'] = pd.to_datetime('2018', format='%Y').year
data_2019['year'] = pd.to_datetime('2019', format='%Y').year
data_2020['year'] = pd.to_datetime('2020', format='%Y').year
data_2021['year'] = pd.to_datetime('2021', format='%Y').year

In [279]:
# renaming columns to make them consistent across dataframes
data_2021 = data_2021.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'stage', 'year' : 'year'})
data_2020 = data_2020.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'stage','year' : 'year'})
data_2019 = data_2019.rename(columns={'Company/Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What it does': 'about_company','Founders':'founders','Investor':'investor','Amount($)':'amount','Stage':'stage','year' : 'year'})
data_2018 = data_2018.rename(columns={'Company Name': 'company_brand','Location': 'headquarter','Industry': 'sector','About Company': 'about_company','Amount':'amount','Round/Series':'stage','year' : 'year'})

# *CLEANING SOME KEY COLUMNS IN 2018 DATAFRAME*

In [280]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  526 non-null    object
 1   sector         526 non-null    object
 2   stage          526 non-null    object
 3   amount         378 non-null    object
 4   headquarter    526 non-null    object
 5   about_company  526 non-null    object
 6   year           526 non-null    int64
dtypes: int64(1), object(6)
memory usage: 28.9+ KB

In [186]:
# This is to see the entries that have been in the column 'Round/Series'
unique_values = data_2018["stage"].unique()
unique_values

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [187]:
# Search the Row with the hyperlink to check if it is not a misplaced data entry in that row.
search_string = 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593'
result = data_2018[data_2018['stage'].str.contains(search_string)]

result

,company_brand,sector,stage,amount,headquarter,about_company,year
178,BuyForexOnline,Travel,https://docs.google.com/spreadsheets/d/1x9ziNe...,2000000,"Bangalore, Karnataka, India",BuyForexOnline.com is India's first completely...,2018

In [188]:
# Replace the stage value in row 178 with Seed which was researched online
data_2018.loc[178, 'stage'] ="Seed"

In [189]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  526 non-null    object
 1   sector         526 non-null    object
 2   stage          526 non-null    object
 3   amount         378 non-null    object
 4   headquarter    526 non-null    object
 5   about_company  526 non-null    object
 6   year           526 non-null    int64
dtypes: int64(1), object(6)
memory usage: 28.9+ KB

 *the remaining cleaning of the other columns will be done after concatenating all dataframes*

# *CLEANING SOME KEY COLUMNS IN 2019 DATAFRAME*

In [281]:
# this is to check how many unique values are in each column.

unique_values = data_2019.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 87
Column: founded, Unique values: 15
Column: headquarter, Unique values: 22
Column: sector, Unique values: 56
Column: about_company, Unique values: 88
Column: founders, Unique values: 85
Column: investor, Unique values: 86
Column: amount, Unique values: 50
Column: stage, Unique values: 24
Column: year, Unique values: 1

Cleaning of Founded column of 2019

Key issues identified

* Dealing with missing values
* Conversion of Float to string.

Aprroach to Clean the column

A research was done online (Crunchbase) by using the company name, to discover when the companies with the missing founded values were established to fill them appropriately. Also, the data type was changed from a float to a string to enable us to call it by the founded year during analysis.

In [191]:
unique_values = data_2019['founded'].unique()
unique_values

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008.])

In [192]:
# Changing float(decimal) datatype to int64(integers)
data_2019['founded'] = data_2019['founded'].astype('Int64')

data_2019

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
0,Bombay Shaving,<NA>,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,<NA>,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019
...,...,...,...,...,...,...,...,...,...,...
84,Infra.Market,<NA>,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A,2019
85,Oyo,2013,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN,2019
86,GoMechanic,2016,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B,2019
87,Spinny,2015,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN,2019
88,Ess Kay Fincorp,<NA>,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN,2019

In [193]:
# filling null values in Founded column with year gotten from internet

data_2019.iloc[0,1]=2015

data_2019.iloc[2,1]=2014

data_2019.iloc[5,1]=2017

data_2019.iloc[6,1]=2015

data_2019.iloc[8,1]=2013

data_2019.iloc[11,1]=2006

data_2019.iloc[14,1]=2019

data_2019.iloc[27,1]=2016

data_2019.iloc[30,1]=2015

data_2019.iloc[31,1]=2016

data_2019.iloc[37,1]=2017

data_2019.iloc[39,1]=2018

data_2019.iloc[41,1]=2017

data_2019.iloc[42,1]=2012

data_2019.iloc[44,1]=2019

data_2019.iloc[45,1]=2015

data_2019.iloc[46,1]=2018

data_2019.iloc[47,1]=2010

data_2019.iloc[56,1]=2015

data_2019.iloc[57,1]=2015

data_2019.iloc[59,1]=2018

data_2019.iloc[62,1]=2013

data_2019.iloc[63,1]=2018

data_2019.iloc[64,1]=2016

data_2019.iloc[71,1]=2007

data_2019.iloc[77,1]=2016

data_2019.iloc[82,1]=2013

data_2019.iloc[83,1]=2016

data_2019.iloc[84,1]=2016

data_2019.iloc[88,1]=1994

In [194]:
# Changing int64 datatype to object
data_2019['founded'] = data_2019['founded'].astype('string')

cleaning of Headquarters column of 2019

Key issues identified

* Dealing with missing values


Aprroach to Clean the column

A research was done online (Crunchbase) by using the company name, to discover the headquarters.

In [195]:
unique_values = data_2019['headquarter'].unique()
unique_values

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [196]:
# filling null values in HeadQuarter column 

data_2019.iloc[0,2]='New Delhi'

data_2019.iloc[8,2]='Mumbai'

data_2019.iloc[14,2]='Mumbai'

data_2019.iloc[16,2]='Bangalore'

data_2019.iloc[18,2]='Mumbai'

data_2019.iloc[20,2]='London'

data_2019.iloc[21,2]='Gurugram'

data_2019.iloc[22,2]='San Franscisco'

data_2019.iloc[27,2]='San Franscisco'

data_2019.iloc[29,2]='Gurugram'

data_2019.iloc[31,2]='Haryana'

data_2019.iloc[34,2]='Gurgaon'

data_2019.iloc[41,2]='Haryana'

data_2019.iloc[43,2]='California'

data_2019.iloc[54,2]='Karnataka '

data_2019.iloc[65,2]='New Delhi'

data_2019.iloc[70,2]='Chennai'

data_2019.iloc[76,2]='Bangalore'

data_2019.iloc[79,2]='Bangalore'

Cleaning of 'Sector' column of 2019

Key issues identified

* Dealing with missing values

Aprroach to Clean the column

A research was done online (Crunchbase) by using the Company name, to determine the Sectors to populate the missing values as well.

In [197]:
unique_values = data_2019['sector'].unique()
unique_values

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [198]:
# filling null values in Sector column 

data_2019.iloc[41,3]='App Development'

data_2019.iloc[49,3]='Outsourcing'

data_2019.iloc[52,3]='Management consulting'

data_2019.iloc[56,3]='Fintech'

data_2019.iloc[57,3]='Telecom'

Cleaning of 'about company' column of 2019

Key issues identified

* Dealing with non-printable characters/unicodes.

Aprroach to Clean the column

We grabbed the unicodes and replaced them with empty string.

In [199]:
# has non-printable characters that must be taken out
unique_values = data_2019['about_company'].unique() 
unique_values

array(['Provides a range of male grooming products',
       'A learning platform that provides topic-based journey, animated videos, quizzes, infographic and mock tests to students',
       'It aims to make learning fun via games.',
       'Provides interior designing solutions',
       'It is a seed company engaged in production, processing and marketing of seeds',
       'A drone automation platform',
       'It builds software products that makes work simpler, pleasant, and productive',
       'It is a product-based cybersecurity solutions provider',
       'It is an AI and big data services company providing business solutions.',
       'It is a eyewear company',
       'A B2C\xa0\xa0brand that focusses on premium and comfortable merchandise for Generation Alpha – kids',
       'It is a self-healing enterprise, the IT operations software detects, predicts and prevents problems before they happen',
       'Platform that provides complete financial solutions for excluded individuals and households',
       'Technology-based platform that is connecting suitable applicants to the right recruiters',
       'It produces and sells top quality snacks',
       'Grants small business loans, supply chain finance and working capital loans to small and medium enterprises',
       'Provides online learning classes',
       'Uses AI to do risk profiling of e-commerce consumers who opt for EMI',
       'Offers a range of robotics learning tools',
       'Aims to solve some problems in the feminine hygiene sector',
       'A platform that promotes financial well-being of employees at workplace',
       'Delivers advanced medical care & clinical excellence aided by next-level technology',
       'Offers online courses and extensive mentor-based learning',
       'It uses technology to create a trust-based network of responsible citizens to ensure safety',
       'It solves inadequacies in the healthcare delivery system through technology',
       'Customer Experience (CX) Automation platform',
       'Provides variety of insurance plans and policies',
       'Developer of an artificial intelligence-powered assistant for businesses',
       'Offers B2B tech platform to corporates, aimed at improving the operations of their cafeterias',
       'B2B platform for agricultural commodities.', 'Online meat shop',
       'A global platform for Identity and Access Management',
       'B2B model for appliances and electrical products',
       'Develops drones that are used by the military, paramilitary, police forces and in various industries.',
       'It offers delivery services across India to retail, e-commerce, pharmaceutical, automobile and FMCG companies',
       'Online flight booking',
       'Provides facilities to get products manufactured.',
       'Creates a voice AI platform',
       'Online fruits and vegetables delivery company',
       "It empowers moms to provide the best of foods to their Lil' ones",
       'Blogging platform that enables people to create visual collections of their travel and local experiences',
       'A short video platform', 'Online custom shirt brand',
       'It helps sales and marketing teams understand purchase intent of buyers on buying patterns, usage and renewals',
       'eSports platform where players can access various multiplayer mobile games to participate in online tournaments',
       'Online financial marketplace for customized rate quotes on loans and investment products in India',
       'It develops, publishes and distributes games across various platforms',
       'It develops technology-enabled products to strengthen the farm-to-fork value chain of perishables.',
       'Enables to order food online',
       'It supplies workforce to the economy',
       'Online makeup and beauty products retailer',
       'Provides digital platform for businesses to plan and manage their international freight shipments online',
       'It connects individuals in need of advice in a specific domain to individuals who have expertise in the same',
       'Omnichannel marketplace for gems and jewellery',
       'It connects producers of food directly to retailers, restuarants and service providers.',
       'It offers games that are available across India and UK.',
       'Invoice discounting platform',
       'It digitizes and organises local retailers',
       'It provides post-harvest management services for agricultural commodities',
       'Provides management solution for restaurants',
       'It is a technology enabled logistics solutions provider to the Indian e-commerce industry',
       'Provides comfortable and secure accomodation for students',
       'It is engaged in building sustainable and affordable micro-mobility electric vehicles',
       'It is offering mobility as a service',
       'It is into mother and baby care-focused consumer goods',
       'Home automation solution provider',
       'It helps to connect to legal advise online',
       'It helps students to learn math online',
       'The platform simplifies the process of investment',
       'Platform uses encryption technology to allow businesses to safely store files, invoices, and schedules',
       'A platform to learn online',
       'Enables people to buy and sell new/old cars.',
       'A platform for delivery services',
       'A marketplace to buy and sell used bikes and scooters',
       'It is a sports discovery app that helps to find people and places to play 700+ sports',
       'It creates an engagement loop between doctors, hospitals, and patients via its app',
       'It drives a cultural change in making yoga-based wellness a part of modern lifestyle',
       'It helps lenders to directly provide short-term loans to merchants, employees, and students',
       'It offers affordable housing apartments to young professionals and students',
       'It enables one to book cab online',
       'A car rental service platform',
       'Provides cyber security solutions',
       'A cloud based Customer Loyalty & Engagement Platform',
       'It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing',
       'Provides rooms for comfortable stay',
       'Find automobile repair and maintenance service providers',
       'Online car retailer', 'Organised Non-Banking Finance Company'],
      dtype=object)

In [200]:
# Clean the 'about_company' column by removing '\xa0'
data_2019['about_company'] = data_2019['about_company'].str.replace('\xa0', '') # this is to remove the '\xa0' from the entries

Cleaning of 'Stage' column of 2019

Key issues identified

   * Dealing with missing values

Aprroach to Clean the column

A research was done online (Crunchbase) by using the Company name, to determine the Stage to populate the missing values as well.

In [201]:
unique_values = data_2019["stage"].unique()
unique_values

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [202]:
# filling null values in Stage column 

data_2019.iloc[0,8]='Series C'

data_2019.iloc[4,8]='Seed'

data_2019.iloc[5,8]='Seed'

data_2019.iloc[6,8]='Seed'

data_2019.iloc[10,8]='Seed'

data_2019.iloc[11,8]='Series B'

data_2019.iloc[13,8]='Seed'

data_2019.iloc[14,8]='Series B'

data_2019.iloc[15,8]='Debt'

data_2019.iloc[16,8]='Debt'

data_2019.iloc[18,8]='Seed'

data_2019.iloc[20,8]='Venture round'

data_2019.iloc[23,8]='Unknown'

data_2019.iloc[24,8]='Debt'

data_2019.iloc[27,8]='Series A'

data_2019.iloc[31,8]='Angel'

data_2019.iloc[32,8]='Grant'

data_2019.iloc[33,8]='Corporate round'

data_2019.iloc[39,8]='Seed'

data_2019.iloc[41,8]='Corporate round'

data_2019.iloc[42,8]='Venture round'

data_2019.iloc[43,8]='Series A'

data_2019.iloc[44,8]='Angel'

data_2019.iloc[45,8]='Seed'

data_2019.iloc[48,8]='Secondary market'

data_2019.iloc[54,8]='Series D'

data_2019.iloc[55,8]='Seed'

data_2019.iloc[58,8]='Debt'

data_2019.iloc[59,8]='Angel'

data_2019.iloc[60,8]='Venture round'

data_2019.iloc[61,8]='Debt'

data_2019.iloc[62,8]='Seed'

data_2019.iloc[63,8]='Series C'

data_2019.iloc[66,8]='Seed'

data_2019.iloc[67,8]='Venture round'

data_2019.iloc[69,8]='Seed'

data_2019.iloc[71,8]='Unknown'

data_2019.iloc[74,8]='Debt'

data_2019.iloc[76,8]='Series B'

data_2019.iloc[77,8]='Corporate round'

data_2019.iloc[79,8]='Series C'

data_2019.iloc[80,8]='Series J'

data_2019.iloc[81,8]='Debt'

data_2019.iloc[85,8]='Secondary market'

data_2019.iloc[87,8]='Angel'

data_2019.iloc[88,8]='Series F'

In [203]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  89 non-null     object
 1   founded        89 non-null     string
 2   headquarter    89 non-null     object
 3   sector         89 non-null     object
 4   about_company  89 non-null     object
 5   founders       86 non-null     object
 6   investor       89 non-null     object
 7   amount         89 non-null     object
 8   stage          89 non-null     object
 9   year           89 non-null     int64
dtypes: int64(1), object(8), string(1)
memory usage: 7.1+ KB

*the remaining cleaning of the other columns will be done after concatenating all dataframes*

# *CLEANING SOME KEY COLUMNS IN 2020 DATAFRAME*

In [282]:
# this is to check how many unique values are in each column

unique_values = data_2020.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 905
Column: founded, Unique values: 26
Column: headquarter, Unique values: 77
Column: sector, Unique values: 302
Column: about_company, Unique values: 990
Column: founders, Unique values: 927
Column: investor, Unique values: 848
Column: amount, Unique values: 300
Column: stage, Unique values: 42
Column: year, Unique values: 1

In [205]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1055 non-null   object
 1   founded        842 non-null    float64
 2   headquarter    961 non-null    object
 3   sector         1042 non-null   object
 4   about_company  1055 non-null   object
 5   founders       1043 non-null   object
 6   investor       1017 non-null   object
 7   amount         801 non-null    float64
 8   stage          591 non-null    object
 9   column10       2 non-null      object
 10  year           1055 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 90.8+ KB

In [206]:
# Dropping column10 as it contained nothing relevant to our work
columns_to_drop = ['column10']
data_2020 = data_2020.drop(columns_to_drop, axis=1)

*Cleaning founded column

changing datatype to string

In [208]:
# changing datatype to string from float64 to help us call it for analysis
data_2020['founded'] = data_2020['founded'].astype('string')

In [209]:
# Converting the amount column to numeric

data_2020["amount"] = pd.to_numeric(data_2020["amount"], errors="coerce")

In [283]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1055 non-null   object
 1   founded        842 non-null    string
 2   headquarter    961 non-null    object
 3   sector         1042 non-null   object
 4   about_company  1055 non-null   object
 5   founders       1043 non-null   object
 6   investor       1017 non-null   object
 7   amount         801 non-null    float64
 8   stage          591 non-null    object
 9   year           1055 non-null   int64
dtypes: float64(1), int64(1), object(7), string(1)
memory usage: 82.5+ KB

# *CLEANING SOME KEY COLUMNS IN 2021 DATAFRAME*

In [324]:
# this is to check how many unique values are in each column
unique_values = data_2021.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 1033
Column: founded, Unique values: 30
Column: headquarter, Unique values: 70
Column: sector, Unique values: 253
Column: about_company, Unique values: 1143
Column: founders, Unique values: 1095
Column: investor, Unique values: 937
Column: amount, Unique values: 8
Column: stage, Unique values: 33
Column: year, Unique values: 1
Column: amount($), Unique values: 1

In [325]:
# Dropping duplicate columns as it contained nothing relevant to our work
columns_to_drop = ['amount($)']
data_2021 = data_2021.drop(columns_to_drop, axis=1)

Cleaning of 'HeadQuarter' column of 2021

Key issues identified

* There were non printable characters/unicodes
* Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

We grabbed the unicodes and replaced them with empty strings and viewed the rows with misleading values which were then placed in it's right column. 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References are attached.

In [292]:
# Clean the 'HeadQuarter' column by removing '\t#ref!'
data_2021['headquarter'] = data_2021['headquarter'].str.replace('\t#ref!', '') 

# Display the updated DataFrame
data_2021['headquarter']

0       Bangalore
1          Mumbai
2          Mumbai
3          Mumbai
4        Gurugram
          ...
1204     Gurugram
1205    New Delhi
1206    Bangalore
1207     Gurugram
1208    Bangalore
Name: headquarter, Length: 1209, dtype: object

In [326]:
# this is to view and correct the row for all the values in the headquarter that have misleading values

data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Information Technology & Services'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,NaN,Series C,2021

In [294]:
# this is to reorder the entries in row 1176
Sector=data_2021.loc[1176, 'headquarter']
data_2021.loc[1176, 'headquarter'] = data_2021.loc[1176, 'sector']
data_2021.loc[1176, 'sector']=Sector

In [327]:
# this is to search the row with Computer games 
search_string = 'Computer Games'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",NaN,$1200000,2021

In [296]:
# this is to reorder the entries in row 98 and the stage found online is placed at the right place
investor = data_2021.loc[98, 'amount']
data_2021.loc[98, 'amount'] = data_2021.loc[98, 'stage']
data_2021.loc[98, 'investor']=investor
data_2021.loc[98, 'founders'] = data_2021.loc[98, 'investor']
data_2021.loc[98, 'headquarter']= " Bangalore"
data_2021.loc[98, 'stage']= " Series A"

Reference:

https://www.linkedin.com/company/fanplay-iot/?originalSubdomain=in

https://www.crunchbase.com/organization/fanplay-technologies

In [328]:
# this is to search the row with Food and Beverages 
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Food & Beverages'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

Empty DataFrame
Columns: [company_brand, founded, headquarter, sector, about_company, founders, investor, amount, stage, year]
Index: []

In [298]:
# this is to reorder the entries in row 241 and the Headquarter found online is placed at the right place
headQ=data_2021.loc[241, 'sector']
data_2021.loc[241, 'sector'] = data_2021.loc[241, 'headquarter']
data_2021.loc[241, 'headquarter']="New Delhi"

In [299]:
# this is to reorder the entries in row 255 and the Headquarter found online is placed at the right place
headQ=data_2021.loc[255, 'sector']
data_2021.loc[255, 'sector'] = data_2021.loc[241, 'headquarter']
data_2021.loc[255, 'headquarter']="New Delhi"

Reference:

https://masterchow.in/pages/about-us

In [329]:
# this is to search the row with Pharmaceuticals
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Pharmaceuticals'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

Empty DataFrame
Columns: [company_brand, founded, headquarter, sector, about_company, founders, investor, amount, stage, year]
Index: []

In [301]:
# this is to reorder the entries in row 242 and the headquarter found online is placed at the right place
data_2021.loc[242, 'stage']= data_2021.loc[242, 'amount']
data_2021.loc[242, 'amount'] = data_2021.loc[242, 'investor']
data_2021.loc[242, 'investor']= data_2021.loc[242, 'founders']
data_2021.loc[242, 'founders']= data_2021.loc[242,'about_company']
data_2021.loc[242, 'about_company']= data_2021.loc[242,'sector']
data_2021.loc[242, 'sector']= data_2021.loc[242,'headquarter']
data_2021.loc[242,'headquarter']="Mumbai"

In [302]:
# this is to reorder the entries in row 256 and the headquarter found online is placed at the right place
data_2021.loc[256, 'stage']= data_2021.loc[256, 'amount']
data_2021.loc[256, 'amount'] = data_2021.loc[256, 'investor']
data_2021.loc[256, 'investor']= data_2021.loc[256, 'founders']
data_2021.loc[256, 'founders']= data_2021.loc[256,'about_company']
data_2021.loc[256, 'about_company']= data_2021.loc[256,'sector']
data_2021.loc[256, 'sector']= data_2021.loc[256,'headquarter']
data_2021.loc[256,'headquarter']="Mumbai"

Reference:

https://www.crunchbase.com/organization/fullife-healthcare

In [303]:
# this is to search the row with Online media
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Online Media'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

Empty DataFrame
Columns: [company_brand, founded, headquarter, sector, about_company, founders, investor, amount, stage, year]
Index: []

In [304]:
# this is to reorder the entries in row 1100 and the headquarter found online is placed at the right place
data_2021.loc[1100, 'amount']= data_2021.loc[1100, 'investor']
data_2021.loc[1100, 'investor'] = data_2021.loc[1100, 'founders']
data_2021.loc[1100, 'founders']= data_2021.loc[1100, 'about_company']
data_2021.loc[1100, 'about_company']= data_2021.loc[1100, 'sector']
data_2021.loc[1100, 'sector']= data_2021.loc[1100, 'headquarter']
data_2021.loc[1100, 'headquarter']=" Bangalore "

https://www.linkedin.com/company/sochcast/?originalSubdomain=in

Cleaning of 'Sector' column of 2021

Key issues identified

   * Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

A research was done online by using the Company name to determine the actual information(sector) to populate the row that had such information missing. References were duly done.

In [305]:
# to view the entries in this column
unique_values = data_2021["sector"].unique()
unique_values

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'New Delhi', 'Mumbai', 'EV',
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup', ' Bangalore ', 'Design',
       'B2B Travel', 'Interior Design', 'Manchester, Greater Manchester',
       'Product studio', 'Aviation & Aerospace', 'Staffing & Recruiting'],
      dtype=object)

In [307]:
# Searching for the Row with the unusual Sector Name to check if it is not a misplaced data entry
search_string = "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India."
result = data_2021[data_2021['sector'].str.contains(search_string)]

result

Empty DataFrame
Columns: [company_brand, founded, headquarter, sector, about_company, founders, investor, amount, stage, year]
Index: []

In [314]:
# this is to reorder the entries in row 257 and the sector found online is placed at the right place
data_2021.loc[257, 'stage'] = data_2021.loc[257, 'amount']
data_2021.loc[257, 'amount'] = data_2021.loc[257, 'investor']  
data_2021.loc[257, 'investor'] = data_2021.loc[257, 'founders'] 
data_2021.loc[257, 'founders'] = data_2021.loc[257, 'about_company']
data_2021.loc[257, 'about_company'] = data_2021.loc[257, 'sector']
data_2021.loc[257, 'sector']= "EV"

Reference:

https://www.moeving.com/our-company/

Cleaning of 'Investor' column of 2021

Key issues identified

* There were non printable characters/unicodes
* Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

We identfied the unicodes and replaced them with empty strings and viewed the rows with misleading values which were then placed in it's right column. 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References were duly done.

In [315]:
# this is to view the entries in this column
unique_values = data_2021["investor"].unique()
unique_values

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', 'CDC Group, IDG Capital',
       'Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal', 'Vy Capital',
       'CIIE.CO, KIIT-TBI', 'Inflection Point Ventures',
       'Inflexor Ventures', '',
       '9Unicorns Accelerator Fund, Metaform Ventures',
       'SucSEED Indovation, IIM Calcutta Innovation Park',
       'Safe Planet Medicare', 'Impact Partners, C4D Partners',
       'Tiger Global Management, InnoVen Capital', 'Novo Tellus Capital',
       'Raintree Family Office, ADB arm',
       'Mumbai Angels, Narendra Shyamsukha', 'Paradigm, Kunal Shah',
       'Matrix Partners India, GIC', 'Chiratae Ventures, JAFCO Asia',
       'Mumbai Angels Network, Expert DOJO', 'GVFL',
       'Kotak Mahindra Bank, FMO', 'Kalaari Capital',
       'NB Ventures, IAN Fund',
       'Sequoia Capital India, Hummingbird Ventures',
       'Gaurav Munjal, Snehil Khanor', 'JITO Angel Network, SOSV',
       'Chiratae Ventures, YourNest Venture Capital', 'STRIVE VC',
       'Venture Catalysts', 'Jaipuria Family Office', 'Amazon',
       'Riso Capital', 'MTG Ventures',
       'Qualcomm Ventures, Warburg Pincus', '9Unicorns', 'Morgan Stanley',
       'Alfa Ventures, Agility Venture Partners',
       'Stellaris Venture Partners, Ramakant Sharma', 'Spanache',
       'DSG Consumer Partners, Saama Capital', 'Hindustan Media Ventures',
       'Stellaris Venture Partners, Omidyar Network India, Flourish Ventures',
       'Angelbay Holdings, Faad Network',
       'Alteria Capital, Chiratae Ventures',
       'WaterBridge Ventures, Info Edge',
       'Carmignac, Falcon Edge Capital', 'Vaibhav Domkundwar, Kunal Shah',
       'Chiratae Ventures, Bharat Innovation Fund',
       'Acko Technology, Services, LetsVenture',
       'Bertelsmann India Investments, Fullerton Financial Holdings',
       'Dragoneer Investment Group, Tiger Global Management', '100x.vc',
       'TPG Growth, Caisse de Depot et Placement du Quebec',
       'Centrum Financial Services', 'Chiratae Ventures, BEENEXT',
       'Harsha Bhogle', 'GetVantage, Prakash Katama',
       'Tiger Global Management, Y Combinator Continuity Fund',
       'Michael & Susan Dell Foundation', 'Marquee fintech founders',
       'Falcon Edge India, Norwest Venture Partners',
       'SOSV, Omphalos Ventures India', 'Twitter Ventures, Pawan Munjal',
       'CitiusTech', 'Arena Holdings, Think Investments',
       'T Choithrams BVI, Ardor',
       'Kogta Financial India Limited, ICICI Bank',
       'SucSEED Venture Partners, TMT Connekt',
       'SAIF Partners, Venture Highway', 'Global Founders Capital',
       'JAFCO Asia, Chiratae Ventures', 'Y Combinator',
       'Artha Venture Fund', 'Jitendra Gupta, Amrish Rau',
       'FJ Labs, Brian Norgard', 'Indian Angel Network',
       'Jitendra Gupta, Harsh Shah',
       'Elevation Partners, Emergent Ventures',
       'Kalaari Capital, Dream Capital', 'Lumikai',
       'Matrix Partners India', 'C4D Partners', 'Bertelsmann India',
       'Iron Pillar, Nordstar, Binny Bansal',
       'FMC, Omnivore, Blume Ventures', 'InvestCorp', ' Series A',
       'Y Combinator, 9Unicorns, Titan Capital',
       'Unicorn India Ventures, SEA Fund, Devdatt Shah',
       'Matrix Partners India, Elevation Capital',
       'Avaana Capital, Orios Ventures', 'Punit Balan',
       'Y Combinator, Broom Ventures, Kunal Shah',
       'Skycatcher, AET Fund, BAce Capital, Dream Incubator, 1Up Ventures',
       'Eclear Leasing', 'Pritesh Kumar, Bharat Gupta',
       'First Cheque, Letsventure', 'Sequoia Capital India, BEENEXT',
       'Velocity', 'Tribe Capital, Moore Strategic Ventures (MSV)',
       'Fireside Ventures', 'Inflection Point Ventures, ONGC',
       'Y Combinator, Incubate Fund India',
       'Titan Capital, Rockstud Capital,  John Abraham, WEH Ventures',
       'Info Edge Ventures', 'NB Ventures', 'Accel',
       'Binny Bansal, Kunal Shah', 'TradeCred', 'Unicorn India Ventures',
       'UC Inclusive Credit, Western Capital',
       'IIFL India Private Equity Fund, Smiti Holding & Trading Company',
       'Faering Capital', 'responsAbility Investments, Blue Orchard',
       'Sanchit Agarwal, Sujan Sinha, Michael Cooke',
       'CRV, Nexus Venture Partners',
       'Salesforce Ventures, Sierra Ventures, Sequoia Capital India’s Surge',
       'Micelio Fund, growX ventures',
       'IIFL Wealth, Asset Management, Northern Arc Capital',
       'Better Capital, Ashish Achrekar', 'IAN', 'Alpha Wave Incubation',
       'Point One Capital, Yatra Angel Network (YAN), Opus Consulting, Manipal Technologies.',
       'Microsoft', 'Shell Ventures, Yamaha, Kunal Shah',
       'We Founder Circle',
       'Saama Capital, DSG Consumer Partners, Sharrp Ventures',
       'Tiger Global’s Scott Schleifer', 'Elevation Capital',
       'Venture Catalysts, Auxano Capital, Venture Garage, Yoga Capital, Ah!Ventures, Lead Angels',
       'Sixth Sense Ventures', '9Unicorns, Sequoia Capital India’s Surge',
       'Anicut Angel Fund, 9 Unicorns', 'Info Edge, FalconEdge',
       'WestCap Group, Tomales Bay Capital',
       'Chiratae Ventures, Better Capital',
       'Siguler Guff, Baillie Gifford',
       'IIFL AMC, Mankind Pharma Family Office, Aroa Ventures',
       'ITI Growth Opportunities', 'Amrac Investment Trust',
       'Bhavin Turakhia', 'Amara Raja Batteries',
       'India Infoline Finance', 'Venture Highway', 'BEENEXT, Orios',
       'Axilor', 'Westbridge Capital, Tanglin Venture Partners',
       '100X.VC, Titan Capital, Rahul Mathur, Gaurav Mandlecha',
       'IIFL, Amicus Capital, Ananta Capital',
       'Venture Highway, Endiya Partners',
       'Verlinvest, Sequoia Capital India', 'Anicut Angel Fund',
       'Tiger Global',
       'Alphabit Fund, Fulgur Ventures, Stacks Accelerator, SBX Capital',
       'Roots Ventures, Velo Partners', 'Nexus Venture Partners',
       'Mumbai Angels Network, Huddle, Lumis Partners',
       'SucSEED Indovation Fund',
       'Potencia Ventures, Bisk Ventures, LetsVenture, Ronnie Screwvala, Arihant Patni',
       'Better Capital, First Cheque, Titan Capital', 'Evolvence Capital',
       'SARA ELGI',
       'Nubank, Global Founders Capital, Sequoia Capital India, Matrix Partners India',
       'ah! Ventures High Tables',
       'Eight Roads Ventures, Think Investments, Mankekar Family Office',
       'A91 Partners', 'Chiratae Ventures', 'Sequoia’s Surge',
       'Lead Angels, Titan Capital, Pravega Ventures',
       'Accel Partners, Elevation Capital',
       'Inflection Point Ventures, Rockstud Capital, FirstPort Capital, Bliss Flow Investments Pvt Ltd',
       'Anicut Angel Fund, Axilor Ventures',
       'Ecosystem Ventures, CMM group',
       'Mumbai Angels Network, Social Alpha', 'Disrupt ADQ, QIC',
       'Valar Ventures, IA Ventures', 'Sequoia Capital India', 'Zomato',
       'Lightspeed, Times Group, Tanglin Venture Partners',
       'Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gokul Rajaram, Shirish Nadkarni',
       'Tuscan Ventures, Ohm Stock Brokers, Artha Venture Fund',
       'Signal Peak Ventures', 'Evolvence, Hero Enterprise',
       'BlueOrchard Impact Investment Managers', 'Steadview Capital',
       'MassMutual Ventures', 'YourNest VC', 'Accel India',
       'Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose',
       'TVS Motor, Zoho', 'IIFL Asset Management',
       'Oasis Capital, Scorpio VC, DeltaHub Capital',
       'Titan Capital, Haresh Chawla, AngelList Syndicate',
       '9Unicorns, Ashneer Grover', 'Founders Room Capital',
       '9Unicorns, ZNL', 'WEH Ventures', 'Pharmaceuticals\t#REF!',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Kunal Shah, Deepinder Goyal, Abhiraj Singh Bhal',
       'Guild Capital, RPSG Capital Ventures',
       'General Catalyst, Eight Roads Ventures, Elevation Capital',
       'NB Ventures, Earlsfield Capital', 'Varun Alagh, Sahil Barua',
       'SoftBank Vision Fund 2', 'Tribe Capital, Prime Venture Partners',
       'Jungle Ventures', 'Marquee international institutional investors',
       'Alkeon Capital', 'Y Combinator, Harvard Management',
       'Y Combinator, Goodwater Capital', 'Shrishti Sahu, Umang Vohra',
       'Astra Ventures, Gaurav Jaitly',
       'Capital A, Collective Artists Network',
       'Aditya Singhal, Nishant Sinha', 'Pentathlon Ventures',
       'Alpha Wave Ventures II, Tiger Global Management, SoftBank Vision Fund II',
       'KRAFTON', 'Chiratae Ventures, Lenskart Vision Fund', 'Recur Club',
       'DevX Venture Fund', 'DevX Venture Fund, Blume Founder Fund',
       'Ajith Daneil', 'Aurum Proptech', 'Y-Combinator',
       'The Good Glamm Group', 'Invus', 'Tiger Global, Prosus Ventures',
       'Shuru Up, Ankit Kedia, Arun Gupta',
       'Ankit Mehrotra, Saurabh Aggarwal', 'Sauce.vc',
       '3one4 Capital, Sixth Sense Ventures',
       'YCombinator, Justin Mateen, Pioneer Fund',
       'Sojitz Corporation, Stride Ventures',
       'IIFL Wealth, TPG Growth, Norwest Venture Partners',
       'Nabventures, Avaana Capital', 'Fluid Ventures, Mulberry Silks',
       'Rajesh Rajendran', 'Mike Novogratz, Neeraj Arora',
       'Reliance Digital Health', 'Ritu Marya Family Office.',
       'Ten Innovate', 'Tiger Global, Sequoia Capital',
       'Shark Tank India', 'Premji Invest, Steadview Capital', 'Sequoia',
       'Apis Insurtech Fund I', 'SK Tripathi, Sanjeev Gupta',
       'Hardcastle Petrofer', 'Ocean View Investment, QED Fund',
       'Omidyar Network, Tencent Holdings',
       'ITI Growth Opportunities Fund, Unit-E Ventures',
       'InnoVen Capital, Nexus Venture Partners', 'CIIE.CO',
       'Orios Venture Partners', 'Omidyar Network India',
       'Wipro venture capital arm', 'Yuj Ventures, Sixth Sense Ventures',
       'Premji Invest, Mirae Asset Naver Asia Growth Fund, Alpine Capital',
       'Inflection Point Ventures, SucSEED Venture Partners',
       'Anas Rahman Junaid, Vinod Jose', 'Capital One, Arrowroot Capital',
       'YourNest Venture Capital', 'Incubate Fund India',
       'Kunal Shah, Greg Kidd', 'InnoVen Capital, TEAMFund',
       'Venture Catalysts, 9Unicorns Accelerator Fund',
       'Venture Highway, Rohit Bansal', 'Fresco Capital, Social Starts',
       'Y Combinator, Rebright Partners',
       'Rohit Goutamchand, India CXO Fund',
       'Rajasthan Venture Capital Fund, ACPL Exports',
       'Amplo, Insight Partners', 'Better Capital', 'Justin Mateen',
       'View Trade Holding Corp',
       'InnoVen Capital, Bertelsmann India Investments', 'ScoopWhoop',
       'Canaan Valley Capital, Glade Brook Capital Partners',
       'Vijay Shekhar Sharma, Dr Ritesh Malik',
       'RTP Global, Harshil Mathur', 'Paragon Partners, NABVENTURES',
       'EXPERT DOJO', 'Saama Capital, India Quotient',
       'InCred Financial Services, Vivriti Capital, Northern Arc Capital',
       'ah! Ventures', 'Somak Ghosh, M V Nair', 'Wurk',
       'Plutus Wealth Management, Turtle Entertainment',
       'Ambiga Subramanian, Goutham Ekollu', 'Accel, Owl Ventures',
       'Rajan Anadan', 'Jesse Lucas',
       'IDFC Private Equity, Bessemer Venture Partners',
       'Sequoia Capital India, Accel',
       'Venture Catalysts, Tahseen Consulting', 'Equanimity Ventures',
       'BlueOrchard Finance S A, Gojo & Company',
       'Better Capital, Titan Capital', 'Gojo & Company', 'Mumbai Angels',
       'Pegasus Tech Ventures, Base Partners', '3one4 Capital, Accel',
       'Hitesh Oberoi, Lightbox', 'YES Bank', 'Campus Fund',
       'Hyperplane Venture Capital', 'Matrix Partners India, RTP Global',
       'Info Edge, Ruizheng Investment', 'Quess Corp India',
       'Sunil Kumar Singhvi, 9Unicorns Accelerator Fund',
       'India Accelerator’s Angel Investor Network', 'Shell Foundation',
       'Jimmy Singh', 'Kunal Shah, Deepak Abbot', 'Accel, Nexus Venture',
       'Singapore Angel Network, Artha India Ventures',
       'Starfish Growth Partners, Investpad', 'Hashed', 'Titan Capital',
       "Zerodha's Rainmatter Capital, Better Capital",
       'Sixth Sense Ventures, Colgate Palmolive',
       'Lightbox, Evolvence India Fund', 'Tomorrow Capital',
       'Inflection Point Ventures, DLabs',
       'InnoVen Capital, Steadview Capital', 'BlackSoil Capital',
       'PointOne Capital, Core91 VC', 'A91 Partners, Faering Capital',
       'Blockchain Capital, SBI Ven Capital',
       'Baring Private Equity Partners India, Talbros',
       'Sequoia Capital India, 3one4 Capital',
       'Prosus Ventures, RTP Global',
       'U.S. International Development Finance Corp, responsAbility',
       'Binance Labs, Zee Prime Capital', 'RP-Sanjiv Goenka Group',
       'IvyCap Ventures', 'Zone Startups In', 'Blue Ashva Capital',
       'Ribbit Capital, Kunal Shah', 'Ecom Express', 'InnoVen Capital',
       'Satish Grampurohit', 'Amit Singhal, Raine Ventures',
       'Octahedron Capital, Moonstone Capital',
       'Tiger Global, Dragoneer Investment Group, Steadview Capital, General Atlantic',
       'CDC Group, Aavishkaar Venture Capital', 'GSF, Pras Hanuma',
       'Ajat Hukkoo, Piyush Chaplot', 'Mumbai Angels, Amitesh Pandey',
       'Think Investments',
       'Nexus Venture Partners, 23 High Networth Individuals (HNIs)',
       'Yatra Angel Network, BEENEXT',
       'Orios Venture Partners, Matrix Partners India', 'Trishneet Arora',
       'ContCentric', 'Siana Capital', 'DST Global, General Catalyst',
       'Anthill Ventures', 'InnoVen Capital, InnoVen Capita',
       '3one4 Capital, DSP Group', 'Enzia Ventures, AngelList',
       'Steadview Capital, Insight Partners',
       'Invested Development, Pratithi Investment Trust',
       'Dhianu Das, Agility Venture Partners', 'Hindustan Media Venture',
       'Omnivore', 'Awign Enterprises',
       'Siddharth Bhaskar Shah, Upsparks', 'S Chand',
       'Goldman Sachs, Tata Capital', 'growX ventures, Venture Gurukool',
       'Mount Judi India Growth Fund', 'GEF Capital’s South Asia Fund',
       'Sunil Sethia, Sunil Kumar Singhvi, Manish Mardia',
       'Sequoia Capital', 'Mechanism Capital, DACM',
       'Northern Arc Capital, Niyogin Fintech Limited, Credit Saison India, Vivriti Capital',
       'Pearl Investment LLC', '021 Capital, Sparrow Capital',
       'Kotak Investment Advisors Limited, Gruhas Proptech', 'VANS Group',
       'Sachin Tendulkar', 'Xentel Investments', 'Accel Partners',
       'Waterbridge, Lumikai', 'Auxano, Falcon5', 'Infoedge ventures',
       'JITO Angel Network', 'Jupiter', 'Unitus Ventures',
       'GIC, Infoedge', 'pi Ventures',
       'Northern Arc, Caspian Impact Investments', 'Sofina Ventures SA',
       'Tiger Global, Flipkart Ventures',
       'Inflection Point Ventures, Rockstud Capital, Pentathlon Ventures, Prophetic Ventures syndicate',
       'Prime VP', 'Tribe Capital, IFC Emerging Asia Fund, VEF',
       'Sequoia’s Surge, Y Combinator', 'Endiya Partners',
       'Gokul Rajaram, Pureland Venture, Wavemaker Partners',
       'Callapina Capital', 'Khosla Ventures',
       'Accel Partners, Matrix India',
       'Omidyar Network India, Innoven Capital', 'Temasek, Falcon Edge',
       'Deep Kalra, Ashish Kashyap, Rajesh Magow',
       'IAN, Social Alpha, Startup Oasis', 'Capital India',
       'FirstCry, Lightspeed Venture Partners',
       'Accel, LetsVenture, 1Crowd', 'SAB Holdings',
       'Lightspeed Venture Partners, Elevation Capital',
       'Mumbai Angels Network', 'Jayanti Kanani',
       'LeapFrog, Khosla Ventures', 'Ananta Capital',
       'Northern Arc, Vivriti Capital', 'TATA Cleantech Capital',
       'Aqua-Spark', 'Climate Angels Fund',
       'Sequoia’s Surge, Nexus Venture Partners',
       'Entrepreneur First (EF), GrowX Ventures', 'Zephyr Peacock',
       'ADM Capital', 'SoftBank Vision Fund, Hindustan Media Venture',
       '100x Entrepreneurs', 'Healthcare veterans, PIEDS',
       'Bank of Baroda', 'YCombinator', 'IAN Fund', nan,
       'Mirae Asset, H&M', 'Kotak Securities', 'Klub',
       'Balaji Srinivasan', '$1000000', 'BASF Venture Capital GmbH',
       'Rebright Partners, Flourish Ventures', 'Sequoia Surge',
       'Titan Capital, Sequoia Capital', 'Parthiv Group',
       'GetVantage, Velocity, Shiprocket Capital', 'Krafton Inc, Omidyar',
       'Blume Ventures, Exfinity Venture Partners',
       'Beyond Next Ventures, M Venture Partners', 'AdvantEdge Founders',
       'Faering Capital, Sequoia Capital India, IIFL Alternate Asset Managers',
       'Sixth Sense Ventures, NABVENTURES', 'Temasek, Multiples PE',
       'Griffin Gaming Partners', 'Zinnia Global',
       'InfoEdge Ventures, IAN Fund', 'IIFL, Mumbai Angels',
       'BEENEXT, Sequoia’s Surge', 'Antler India', 'Bharat Inclusion',
       'Fidelity, BlackRock', 'Blacksoil', 'Speciale Invest',
       'Canbank Venture Capital Fund', 'W Health Ventures',
       '021 Capital, Y Combinator', 'Anand Prakash Sharma',
       'Axilor Ventures', 'velocity.in', 'March Capital, Tribe Capital',
       'Learn Capital', 'RTP Global', 'IAN, Yuj Ventures',
       'Sequoia’s Surge, Accel Partners', 'Uday Sodhi', 'Fidelity, GIC',
       'Auxano', 'Angelist India',
       'Stanford Angels and Entrepreneurs India, Anjali Bansal',
       'Vy Capital, Wellington Management', 'Avon Cycles',
       'Matrix Partners India, 021 Capital', 'HNIs, Angels',
       'NewQuest Capital Partners, Motilal Oswal Private Equity',
       'Lasons India', 'Pankaj Chaddah, Srivatsan Rajan', 'Paytm',
       'BlackSoil, CLSA Capital Partners', 'Saama, Whiteboard Capital',
       'Indian Angel Network, Titan Capital, Lead Angels',
       'The Chennai Angels',
       'Venture Highway, Stellaris Venture Partners',
       'State Bank of India, Y Combinator', 'Sanjay Baldwa, Ajay Jain',
       'InfoEdge', 'Nitin Passi, Ruchirans Jaipuria',
       'Stride Ventures, InnoVen Capital',
       'Venture Catalysts, Jeevak Gupta',
       'Triodos Investment Management, SAIF Partners', 'N+1 Capital',
       'DST Global, RTP Global', 'Amit Singal, Manish Aggarwal',
       'Trifecta Capital Advisors, Blume Ventures',
       'Kumar Aakash, Amit Singhal', 'growX ventures',
       'Shaival Desai, Alkemi Venture Partners',
       'Aavishkaar Venture Capital, YWC Venture Capital',
       'Alteria Capital', 'Tiga Investments, Baron Capital',
       'Venture Catalysts, 9unicorns', 'Qualgro',
       'Amit Lakhotia, Pravin Jadhav', 'Pravega Ventures',
       'Greenoaks Capital, Elevation Capital',
       'Sequoia Capital India, rocketship.vc', 'BLinC Invest',
       'Spring Marketing Capital', 'Chaitanya Kalipatnapu, Kedar Gavane',
       'Roha Investment Managers, angel investor Saumil Shah',
       'TNF Ventures, Razorpay', 'Lok Capital, IIFL Asset Management',
       'Nvidia Inception', 'Tiger Global Management, DST Global',
       'Marquee investors', 'Ashish Hemrajani, Parikshit Dar',
       'India Accelerator, Lyxel&Flamingo', 'Roshan Abbas, Ritesh Malik',
       'Goat Capital, JAM Fund', 'General Catalyst, Jungle Ventures',
       'Blackstone Group, ADQ', 'GoAhead Ventures',
       'Paradigm Shift Capital, AngelList India', 'Arali Ventures',
       'Anup Kumar Yama', 'Aryaman Vir', 'iSeed, Titan Capital',
       'Research Innovation Incubation Design Labs',
       'IvyCap Ventures, Endiya Partners',
       'GUSEC Seed Fund, DeVX Venture Fund', 'Tiger Global, Sequoia',
       'Quadria Capital', 'Blume Ventures, Whiteboard Capital',
       'Ashwini Kakkar. 9Unicorns', 'Ashish Shah', 'Faad Network',
       'Paragon Partners, Aavishkaar Capital', 'Krafton, Lumikai',
       'Indovation Fund, Mumbai Angels', 'Gunosy, Blume Ventures',
       'Edge Ventures, Elevation Capital', 'CDC Group',
       'Titan Capital, Kunal Shah',
       'Yamaha Motors, Omidyar Network India, Eight Roads Ventures',
       'Norfund, The Rise Fund', 'Siti Cable',

In [316]:
#replacing any string or unicode with an empty space
data_2021['investor'] = data_2021['investor'].replace(r'\ufeff', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'#REF', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'http://', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'/', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'\t!', '', regex=True)

In [235]:
# Searching for the Row with unusual investor Name to check if it is not a misplaced data entry
data_2021['investor'] = data_2021['investor'].fillna('').astype(str)
search_string = "1000000"
result = data_2021[data_2021['investor'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,Pre-series A,None,2021,NaN,NaN,Noida,NaN
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000,Seed,None,2021,NaN,NaN,Mumbai,NaN

In [267]:
# this is to reorder the entries in row 545 
data_2021.loc[545, 'stage'] = data_2021.loc[545, 'amount']
data_2021.loc[545, 'amount'] = data_2021.loc[545, 'investor'] 
data_2021.loc[1148, 'stage'] = data_2021.loc[1148, 'amount']
data_2021.loc[1148, 'amount'] = data_2021.loc[1148, 'investor']

In [238]:
# Searching for the Row with unusual investor Name to check if it is not a misplaced data entry
data_2021['investor'] = data_2021['investor'].fillna('').astype(str)
search_string = "2000000"
result = data_2021[data_2021['investor'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
242,Fullife Healthcare,2009.0,Mumbai,Pharmaceuticals\t#REF!,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,$22000000,$22000000,$22000000,2021,Primary Business is Development and Manufactur...,Mumbai,Mumbai,NaN
256,Fullife Healthcare,2009.0,Mumbai,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,$22000000,NaN,Series C,2021,Morgan Stanley Private Equity Asia,NaN,Mumbai,NaN
902,EyeMyEye,2021.0,Gurugram,Eyewear,"Shop the latest Eyeglasses, Sunglasses, Power ...",Ganesh Iyer,2000000,$2000000,Pre-series A,2021,NaN,NaN,Gurugram,NaN

In [239]:
# this is to fill the investor at row 902 with the right investor name which was found online
data_2021.loc[902, 'investor'] = "Hyderabad "

Reference for the name of the headquarter:

https://www.crunchbase.com/organization/fullife-healthcare

Reference for the name of the investor:

https://pitchbook.com/profiles/investor/90410-41#overview

Cleaning of 'Amount ($)' column of 2021

Key issues identified

* Some entries in this column were supposed to be in other columns
* values were stored in string 

Aprroach to Clean the column

 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References were duly done.
We converted the amount column to numeric(float) and the errors=coerce parameter converts non numeric to nan values.

In [240]:
# this is to view the entries in this column
unique_values = data_2021["amount"].unique()
unique_values

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       '$1200000', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', 'Upsparks', '$400000', '$150000000', '$4000000',
       '$100000000', '$500000', '$15000000', '$10000000', '$40000000',
       '$225000000', '$6700000', '$1300000', '$20000000', '$250000',
       '$21000000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', nan, 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [241]:
# this is to search for the row that has the ah! Ventures
data_2021['amount'] = data_2021['amount'].fillna('').astype(str)
search_string = "ah! Ventures"
result = data_2021[data_2021['amount'].str.contains(search_string)]


result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,2021,NaN,NaN,New Delhi,NaN

In [242]:
# this is to reorder the entries in row 538 and the right funding stage obtained online is fixed at the stage column 
data_2021.loc[538, 'investor'] = data_2021.loc[538, 'amount'] 
data_2021.loc[538, 'amount'] = data_2021.loc[538, 'stage']
data_2021.loc[538, 'founders'] = data_2021.loc[538, 'investor']
data_2021.loc[538, 'stage']= 'Seed'

Reference:

https://www.crunchbase.com/organization/little-leap

In [243]:
# this is to search for the row that has the JITO Angel Network, LetsVenture
search_string = "JITO Angel Network, LetsVenture"
result = data_2021[data_2021['amount'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021,NaN,NaN,Ahmadabad,NaN

In [244]:
# this is to reorder the entries in row 677 and the right funding stage obtained online is fixed at the stage column
data_2021.loc[677, 'founders'] = data_2021.loc[677, 'investor']
data_2021.loc[677, 'investor'] = data_2021.loc[677, 'amount'] 
data_2021.loc[677, 'amount'] = data_2021.loc[677, 'stage']
data_2021.loc[677, 'stage']= 'Seed'

Reference:

https://www.crunchbase.com/organization/saarthi-pedagogy

In [245]:
# ITO Angel Network, LetsVenture and JITO Angel Network, LetsVenture are the same investors for the said company in that row, hence we renamed it appropraitely

search_string = "ITO Angel Network, LetsVenture"  # name is JITO
result = data_2021[data_2021['amount'].str.contains(search_string)]

# Replace the specific string value in the 'Amount($)' column
data_2021.loc[551, 'amount'] = data_2021.loc[551, 'amount'].replace('ITO Angel Network, LetsVenture', 'JITO Angel Network, LetsVenture')

# Display the updated DataFrame
data_2021.loc[551, 'amount']

'JITO Angel Network, LetsVenture'

In [246]:
# this is to search for the row that has the JITO Angel Network, LetsVenture
search_string = "JITO Angel Network, LetsVenture"
result = data_2021[data_2021['amount'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","JITO Angel Network, LetsVenture",$300000,2021,NaN,NaN,Mumbai,NaN

In [268]:
# this is to reorder the entries in row 677 and the right funding stage obtained online is fixed at the stage column
data_2021.loc[551, 'founders'] = data_2021.loc[551, 'investor']
data_2021.loc[551, 'investor'] = data_2021.loc[551, 'amount'] 
data_2021.loc[551, 'amount'] = data_2021.loc[551, 'stage']
data_2021.loc[551, 'stage']='Angel round'

In [248]:
# Convert 'Amount' column to float:values were stored in string so you convert to numeric(float) and the errors=coerce parameter converts non numeric to nan values 
data_2021['amount'] = pd.to_numeric(data_2021['amount'], errors='coerce')

Cleaning of 'Stage' column of 2021

Key issues identified
* Some entries in this column were supposed to be in other columns
 

Aprroach to Clean the column
 
we reordered the entries to be in its appropriate column.

In [249]:
# this is to view the entries in this column
unique_values = data_2021["stage"].unique()
unique_values

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       ' Series A', '$1200000', 'Bridge', 'Seed+', 'Series F2',
       'Series A+', '$22000000', 'Series G', 'Series F', 'Series H',
       'Series B3', 'PE', 'Series F1', 'Pre-series A1', 'Angel round',
       'Early seed', 'Series D1', '$6000000', 'Seies A', 'Pre-series',
       'Series A2', 'Series I'], dtype=object)

In [250]:
# this is to search for the wrong entry of 6000000
data_2021['stage'] = data_2021['stage'].fillna('').astype(str)
search_string = "6000000"
result = data_2021[data_2021['stage'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year,investors,headqquarter,headQquarter,amount($)
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,NaN,$6000000,2021,NaN,NaN,Mumbai,NaN

In [251]:
# this is to reorder the entries in row 674
data_2021.loc[674, 'founders'] = data_2021.loc[674, 'investor'] 
data_2021.loc[674, 'amount'] = data_2021.loc[674, 'stage']

In [330]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1209 non-null   object
 1   founded        1208 non-null   float64
 2   headquarter    1209 non-null   object
 3   sector         1209 non-null   object
 4   about_company  1209 non-null   object
 5   founders       1204 non-null   object
 6   investor       1206 non-null   object
 7   amount         8 non-null      object
 8   stage          1206 non-null   object
 9   year           1209 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 94.6+ KB

Reference:
https://tracxn.com/d/companies/myre-capital/__ZHNi4qEAbGSv1E4Y9xHHhX5nEs6zuB6-9PZhA13dPVc

 # **MERGING THE 4 DATASETS**

In [331]:
# Merging the data sets 2018 to 2021 to get a Complete_data
complete_data = pd.concat([data_2018, data_2019,data_2020,data_2021], ignore_index = True)

complete_cols = ["company_brand","founded","headquarter", "sector","about_company","founders","investor","amount","stage","year"]

In [332]:
complete_data.head(10)

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,2018,NaN,NaN,NaN
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,233600.0,"Kalkaji, Delhi, India",Tripshelf is an online market place for holida...,2018,NaN,NaN,NaN
7,Hyperdata.IO,Market Research,Angel,730000.0,"Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...,2018,NaN,NaN,NaN
8,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,2018,NaN,NaN,NaN
9,Microchip Payments,Mobile Payments,Seed,NaN,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...,2018,NaN,NaN,NaN

In [362]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2412 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2139 non-null   string
 8   founders       2333 non-null   object
 9   investor       2312 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7), string(1)
memory usage: 225.0+ KB

In [334]:
# Convert 'Amount($)' column to float:values were stored in string so you convert to numeric(float) and the errors=coerce parameter converts non numeric to nan values 
complete_data['amount'] = pd.to_numeric(complete_data['amount'], errors='coerce')

In [335]:
# this is to convert the  year to string datatype to unable us call it per year during analysis.
complete_data['year'] = complete_data['year'].astype('string')

In [336]:
# this is to check if the complete dataset has duplicated entries 
complete_data.duplicated().sum()

24

In [337]:
#duplicated entries were dropped 
complete_data.drop_duplicates()

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,NaN,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2875,Vahdam,Food & Beverages,Series D,NaN,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC
2876,Leap Finance,Financial Services,Series C,NaN,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2877,CollegeDekho,EdTech,Series B,NaN,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2878,WeRize,Financial Services,Series A,NaN,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

 *Cleaning 'Amount' column*

 **Notes**  
- Remove all currency signs  

- Remove all other umwanted characters, words and symbols  

- Fill the nulls uning interpolate method 

- Convert the column from object to float

In [338]:
complete_data['amount']=complete_data['amount'].replace('\$','',regex=True)
complete_data['amount']=complete_data['amount'].replace(['Undisclosed','undisclosed',None],np.NAN)
complete_data['amount']=complete_data['amount'].replace('\,','',regex=True)
complete_data['amount']=complete_data['amount'].replace(",","")

In [339]:
# change the amount column to numeric
complete_data['amount']=pd.to_numeric(complete_data['amount'])

In [340]:
# fill nulll values with 0
complete_data['amount'].fillna(0, inplace=True)

In [341]:
complete_data['amount'].isna().sum()

0

 *Cleaning year column*

*Notes*  

- Convert data type to period

In [344]:
# Convert the year column to date
complete_data['year']=pd.to_datetime(complete_data['year'], format='%Y')

In [345]:
# check for nulls and duplicated
print(f"There are {complete_data['year'].isna().sum()} Null values in the 'year' column")

There are 0 Null values in the 'year' column

In [347]:
complete_data['year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2879 entries, 0 to 2878
Series name: year
Non-Null Count  Dtype
--------------  -----
2879 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 22.6 KB

 *Cleaning 'founded' column*

 **Notes**
- Handle nulls by populating with the backward fill

In [358]:
print(f"There are {complete_data['founded'].isna().sum()} Null values in the 'founded' column")

There are 740 Null values in the 'founded' column

In [367]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2412 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2139 non-null   float64
 8   founders       2333 non-null   object
 9   investor       2312 non-null   object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 225.0+ KB

In [366]:
# Changing int64 datatype to object
complete_data['founded'] = complete_data['founded'].astype('float64')

In [370]:
# Fill the nulls
complete_data["founded"].interpolate(method='linear',inplace= True)

print(f"There are {complete_data['founded'].isna().sum()} missing values")

There are 526 missing values

In [371]:
# Calculate the median founded grouped by year values
founded_median_per_year = complete_data.groupby('year')['founded'].median()

# Calculate the overall median of median_per_year
overall_median_per_year = founded_median_per_year.median()

# Fill NaN values in founded_median_per_year with the overall median of median_per_year
founded_median_per_year.fillna(overall_median_per_year, inplace=True)

# Fill missing values in the 'founded' column with the calculated median per year
complete_data['founded'].fillna(complete_data['year'].map(founded_median_per_year), inplace=True)

In [372]:
print(f"There are {complete_data['founded'].isna().sum()} missing values")

There are 0 missing values

In [373]:
# Convert to datetime
complete_data['founded'] = pd.to_datetime(complete_data['founded'], format='%Y')

# Convert to period
complete_data['founded'] = complete_data['founded'].dt.to_period('Y')

In [375]:
complete_data['founded'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2879 entries, 0 to 2878
Series name: founded
Non-Null Count  Dtype
--------------  -----
2879 non-null   period[Y-DEC]
dtypes: period[Y-DEC](1)
memory usage: 22.6 KB

*Cleaning the 'founders' column*

In [376]:
# Remove unwanted characters
complete_data['founders'] = complete_data['founders'].replace(['...', np.nan], np.NaN)

# Check the number of NaN values in the 'founders' column
nan_count = complete_data['founders'].isna().sum()

print(nan_count)

546

In [377]:
complete_data['founders'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2879 entries, 0 to 2878
Series name: founders
Non-Null Count  Dtype
--------------  -----
2333 non-null   object
dtypes: object(1)
memory usage: 22.6+ KB

*Cleaning Stage column*

link: https://www.startupindia.gov.in/content/sih/en/funding.html

we will categorize our seris into these stages
-others:Miscellaneous phases or unique development activities.
-Early Traction:Gaining initial traction, attracting early adopters, and refining based on feedback. |
-validation and feedback:Validating the business model, product-market fit, and scalability through research and feedback. |
-ideation/outlining plans:Brainstorming and developing business concepts, defining value propositions, and outlining plans. |
-Scaling:Expanding operations, customer base, and market reach for rapid growth.
-Exit option:Considering exit strategies such as mergers, acquisitions, or IPOs.

In [420]:
def categorize_stage(complete_data):
    # Convert 'series' column to lowercase for case-insensitive operations
    complete_data['stage'] = complete_data['stage'].astype(str).str.lower()

    # Step 1: Replace with Exit Option stages
    complete_data.loc[complete_data['stage'].str.contains('post ipo|post series a', regex=True, case=False), 'stage'] = 'exit option'

    # Step 2: Replace with Scaling stages
    complete_data.loc[complete_data['stage'].str.contains('mid series|series b\+|private equity|venture - series unknown', regex=True, case=False), 'stage'] = 'scaling'
    
    # Step 3: Replace with Scaling stages
    complete_data.loc[complete_data['stage'].str.contains('seed|angel', regex=True, case=False), 'stage'] = 'validation'

    # Step 5: Replace Ideation stages
    complete_data.loc[complete_data['stage'].str.contains('pre[ -]?seed', regex=True, case=False), 'stage'] = 'ideation'

    # Step 6: Replace Others
    complete_data.loc[complete_data['stage'].str.contains('pre[ -]?series|bridge|corporate round|debt|undisclosed|secondary market|non-equity assistance|grant|funding round|nan', na=False, regex=True, case=False), 'stage'] = 'others'

    # Step 7: Catch-all replacement for any remaining uncategorized values
    complete_data.loc[~complete_data['stage'].isin(['others', 'early traction', 'validation', 'ideation', 'scaling', 'exit option']), 'stage'] = 'others'

    return complete_data

# Apply the categorization function to your existing DataFrame
complete_data == categorize_stage(complete_data)

# Print the unique values after categorization
print(complete_data['stage'].unique())

['validation' 'early traction' 'others' 'exit option']

In [421]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   period[Y-DEC]
 8   founders       2333 non-null   object
 9   investor       2312 non-null   object
 10  series         0 non-null      object
dtypes: datetime64[ns](1), float64(1), object(8), period[Y-DEC](1)
memory usage: 247.5+ KB

In [423]:
#Drop the extreneous column series
complete_data.drop('series', axis=1, inplace= True)

In [424]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   period[Y-DEC]
 8   founders       2333 non-null   object
 9   investor       2312 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7), period[Y-DEC](1)
memory usage: 225.0+ KB

 *Cleaning the Sector Column*

In [425]:
# Get the first sentence of every list
complete_data['sector']=complete_data['sector'].str.split(",").str[0]

In [426]:
def categorize_sector(complete_data):
    # Replace Artificial Intelligence sectors
    complete_data['sector'] = complete_data['sector'].replace(['AI startup', 'AI Chatbot', 'AI Company', 'AI platform', 'AI Platform', 'AI Startup', 'Artificial Intelligence'], 'Artificial Intelligence')
    
    # Replace Education Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['EdTech', 'EdTech Startup', 'EdtTech', 'Edtech'], 'Education Technology')
    
    # Replace Business-to-Business E-commerce sectors
    complete_data['sector'] = complete_data['sector'].replace(['B2B E-commerce', 'E-commerce', 'B2B Ecommerce', 'Commerce', 'B2B marketplace', 'B2B Marketplace'], 'Business-to-Business E-commerce')
    
    # Replace Fintech sector
    complete_data['sector'] = complete_data['sector'].replace(['FinTech'], 'Fintech')
    
    # Replace Home Services sector
    complete_data['sector'] = complete_data['sector'].replace(['Home services'], 'Home Services')
    
    # Replace Healthcare sectors
    complete_data['sector'] = complete_data['sector'].replace(['HealthTech', 'Healthtech', 'Healtcare', 'HeathTech', 'Alternative Medicine', 'Health care', 'Helathcare', 'Healthcare', 'Health', 'Hospital & Health Care', 'Heathcare'], 'Healthcare')
    
    # Replace Technology Startup sector
    complete_data['sector'] = complete_data['sector'].replace(['Tech Startup', 'Tech startup', 'IT startup', 'Technology Startup'], 'Technology Startup')
    
    # Replace Business-to-Business Services sector
    complete_data['sector'] = complete_data['sector'].replace(['B2B service'], 'Business-to-Business Services')
    
    # Replace Renewable Energy sector
    complete_data['sector'] = complete_data['sector'].replace(['Renewable Energy'], 'Renewable Energy')
    
    # Replace Electronics sector
    complete_data['sector'] = complete_data['sector'].replace(['Electronics'], 'Electronics')
    
    # Replace Food and Beverages sectors
    complete_data['sector'] = complete_data['sector'].replace(['Food & Beverages', 'Food and Beverages', 'Food', 'Food Production', 'Food Industry', 'Food tech', 'Foodtech', 'FoodTech', 'Food Startup', 'Food & tech', 'Food diet', 'Food Processing', 'Food and Beverage', 'Food delivery', 'Food Delivery', 'Food & Logistics', 'Food devlivery', 'QSR startup'], 'Food and Beverages')
    
    # Replace Aerospace sectors
    complete_data['sector'] = complete_data['sector'].replace(['Aeorspace', 'Aerospace', 'Aviation', 'Aviation & Aerospace', 'Aero company'], 'Aerospace')
    
    # Replace Deep Technology sector
    complete_data['sector'] = complete_data['sector'].replace(['Deep Tech', 'Deeptech'], 'Deep Technology')
    
    # Replace Dating Services sector
    complete_data['sector'] = complete_data['sector'].replace(['Dating', 'Dating app'], 'Dating Services')
    
    # Replace Gaming sector
    complete_data['sector'] = complete_data['sector'].replace(['Gaming', 'Computer Games', 'Mobile Games', 'Games', 'E-Sports', 'Gaming startup'], 'Gaming')
    
    # Replace Robotics sector
    complete_data['sector'] = complete_data['sector'].replace(['Robotics', 'Robotics & AI'], 'Robotics')
    
    # Replace Retail sector
    complete_data['sector'] = complete_data['sector'].replace(['Retail', 'Reatil startup', 'Retail Startup', 'Retail Tech'], 'Retail')
    
    # Replace Oil and Energy sector
    complete_data['sector'] = complete_data['sector'].replace(['Oil and Energy', 'Oil & Energy'], 'Oil and Energy')
    
    # Replace Agricultural Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['AgriTech', 'Agritech', 'Agritech startup', 'AgTech', 'Agri tech', 'B2B Agritech', 'Agricultural Technology'], 'Agricultural Technology')
    
    # Replace Telecommunications sector
    complete_data['sector'] = complete_data['sector'].replace(['Telecommuncation', 'Telecommunication', 'Telecommunications'], 'Telecommunications')
    
    # Replace Dairy sector
    complete_data['sector'] = complete_data['sector'].replace(['Milk startup', 'Dairy startup', 'Dairy'], 'Dairy')
    
    # Replace Information Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['IT', 'Information Technology', 'Information Technology & Services', 'Information Technology Company', 'Information Technology and Services', 'IT company'], 'Information Technology')
    
    # Replace Logistics and Supply Chain sector
    complete_data['sector'] = complete_data['sector'].replace(['Logistics', 'Logistics & Supply Chain', 'Logistics and Supply Chain'], 'Logistics and Supply Chain')
    
    # Replace Hospitality sector
    complete_data['sector'] = complete_data['sector'].replace(['Hospitality'], 'Hospitality')
    
    # Replace Fashion and Lifestyle sectors
    complete_data['sector'] = complete_data['sector'].replace(['Fashion', 'Fashion & Lifestyle', 'Fashion and lifestyle', 'Fashion startup', 'Fashion Tech', 'Apparel & Fashion', 'Apparel and Fashion', 'Clothing', 'D2C Fashion', 'D2C jewellery'], 'Fashion and Lifestyle')
    
    # Replace Marketing and Advertising sectors
    complete_data['sector'] = complete_data['sector'].replace(['Marketing', 'Marketing & Advertising', 'Marketing and Advertising', 'MarTech', 'Marketing Technology', 'Advertisement', 'Advertising', 'Marketing company', 'Marketing startup'], 'Marketing and Advertising')
    
    # Replace Transportation and Mobility sectors
    complete_data['sector'] = complete_data['sector'].replace(['Transportation', 'Transport', 'Mobility', 'Mobility/Transport', 'Mobility tech', 'Auto-tech', 'Logitech', 'Transport & Rentals', 'Transport Automation', 'Transportation-as-a-Service Startup', 'TaaS startup', 'Automotive and Rentals', 'IoT/Automobile', 'Automobile Technology', 'Mobility', 'Last Mile Transportation', 'Micro-mobiity'], 'Transportation and Mobility')
    
    # Replace Legal Technology sector
    complete_data['sector'] = complete_data['sector'].replace(['LegalTech', 'Legaltech', 'Legal Services', 'Legal tech', 'Legaltech'], 'Legal Technology')
    
    # Replace Automotive sectors
    complete_data['sector'] = complete_data['sector'].replace(['Automotive', 'Automobile', 'Automotive Startup', 'Automotive company', 'Car Trade', 'Automotive tech', 'Vehicle repair startup', 'Car Service', 'Luxury car startup'], 'Automotive')
    
    # Replace Software-as-a-Service sectors
    complete_data['sector'] = complete_data['sector'].replace(['SaaS startup', 'SaaS', 'SaaS platform', 'Software-as-a-Service', 'Software-as-a-Service Platform', 'Software-as-a-Service Startup', 'SaaS\xa0\xa0startup'], 'Software-as-a-Service')
    
    # Replace Fantasy Sports sector
    complete_data['sector'] = complete_data['sector'].replace(['Fantasy sports', 'Fantasy Sports'], 'Fantasy Sports')
    
    # Replace Video sectors
    complete_data['sector'] = complete_data['sector'].replace(['Video communication', 'Video platform', 'Video', 'Video sharing platform', 'Video streaming platform', 'Video personalization'], 'Video')
    
    # Replace Social Media sectors
    complete_data['sector'] = complete_data['sector'].replace(['Social Media', 'Social network', 'Social Networking', 'Social commerce', 'Social community', 'Social Network', 'Social e-commerce', 'Social media', 'Social platform', 'Social audio'], 'Social Media')
    
    # Replace Skills Development and Professional Training sectors
    complete_data['sector'] = complete_data['sector'].replace(['Skill development', 'Skills Development', 'Professional Training & Coaching', 'Professional Training and Coaching'], 'Skills Development and Professional Training')
    
    # Replace Rental Services sectors
    complete_data['sector'] = complete_data['sector'].replace(['Rental', 'Rental Services', 'Rental space', 'Bike Rental', 'Furniture Rental'], 'Rental Services')
    
    # Replace Recruitment and Staffing sectors
    complete_data['sector'] = complete_data['sector'].replace(['Recruitment', 'Job discovery platform', 'Job portal', 'Staffing & Recruiting', 'Staffing and Recruiting', 'Recruitment startup'], 'Recruitment and Staffing')
    
    # Replace Sports and Sports Technology sectors
    complete_data['sector'] =complete_data['sector'].replace(['Sports', 'SportsTech', 'Sports Technology', 'sports', 'Sports startup'], 'Sports and Sports Technology')
    
    # Replace Consumer Goods and Services sectors
    complete_data['sector'] = complete_data['sector'].replace(['Consumer Goods', 'Consumer goods', 'Consumer software', 'Consumer service', 'Consumer Services', 'Consumer', 'Consumer Applications', 'Consumer appliances', 'Consumer Electronics'], 'Consumer Goods and Services')
    
    # Replace Human Resources and HR Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['HRTech', 'HR Tech', 'HR Tech startup', 'Human Resources', 'Human Resources Technology', 'HRTech', 'HR tech', 'HR'], 'Human Resources and HR Technology')
    
    # Replace Wine and Spirits sector
    complete_data['sector'] = complete_data['sector'].replace(['Wine & Spirits'], 'Wine and Spirits')
    
    # Replace Mechanical and Industrial Engineering sector
    complete_data['sector'] = complete_data['sector'].replace(['Mechanical & Industrial Engineering', 'Mechanical and Industrial Engineering', 'Mechanical Or Industrial Engineering'], 'Mechanical and Industrial Engineering')
    
    # Replace Spirituality sector
    complete_data['sector'] = complete_data['sector'].replace(['Spiritual', 'Linguistic Spiritual'], 'Spirituality')
    
    # Replace Financial Services sectors
    complete_data['sector'] = complete_data['sector'].replace(['Financial Services', 'Banking', 'Capital Markets', 'Finance', 'Finance company', 'Investment Banking', 'Investment Management', 'Finance', 'Finance company', 'Financial Technology', 'FinTech', 'Digital mortgage', 'Online financial service', 'Online credit management startup', 'Trading platform', 'Virtual Banking'], 'Financial Services')
    
    # Replace Industrial Automation sector
    complete_data['sector'] = complete_data['sector'].replace(['Industrial Automation'], 'Industrial Automation')
    
    # Replace Internet of Things sectors
    complete_data['sector'] = complete_data['sector'].replace(['IoT', 'Internet of Things', 'IoT platform', 'IoT startup', 'Internet of Things Platform', 'Internet of Things Startup'], 'Internet of Things')
    
    # Replace Computer Software sectors
    complete_data['sector'] = complete_data['sector'].replace(['Computer software', 'Computer Software', 'Software', 'Software company', 'Software Startup'], 'Computer Software')
    
    # Replace Furniture and Home Decor sectors
    complete_data['sector'] = complete_data['sector'].replace(['Furniture', 'Home Decor', 'Interior Design'], 'Furniture and Home Decor')
    
    # Replace Location Analytics sector
    complete_data['sector'] = complete_data['sector'].replace(['Location Analytics'], 'Location Analytics')
    
    # Replace Media and Entertainment sectors
    complete_data['sector'] = complete_data['sector'].replace(['Media', 'Online Media', 'Podcast', 'Podcasting', 'Content publishing', 'Publication', 'Digital Media', 'Media and Entertainment', 'Broadcasting', 'News', 'Digital Entertainment', 'Media Tech', 'Visual Media', 'Online Portals', 'Content creation', 'Content Management', 'Content Marktplace'], 'Media and Entertainment')
    
    # Replace Consumer Electronics sector
    complete_data['sector'] =complete_data['sector'].replace(['Consumer Electronics'], 'Consumer Electronics')
    
    # Replace Tobacco sector
    complete_data['sector'] = complete_data['sector'].replace(['Tobacco'], 'Tobacco')
    
    # Replace Insurance sectors
    complete_data['sector'] = complete_data['sector'].replace(['Insuretech', 'Insurance Technology', 'Insurtech', 'InsureTech', 'Insurance'], 'Insurance')
    
    # Replace Machine Learning Operations sector
    complete_data['sector'] = complete_data['sector'].replace(['MLOps platform'], 'Machine Learning Operations')
    
    # Replace Venture Capital sectors
    complete_data['sector'] = complete_data['sector'].replace(['Venture Capital', 'Venture Capital & Private Equity', 'Venture Capital and Private Equity', 'Venture capitalist'], 'Venture Capital')
    
    # Replace Pet Care and Veterinary Services sectors
    complete_data['sector'] = complete_data['sector'].replace(['Pet care', 'Veterinary', 'Veterinary Services'], 'Pet Care and Veterinary Services')
    
    # Replace Drone Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['Drone', 'Drone Technology'], 'Drone Technology')
    
    # Replace Wholesale sector
    complete_data['sector'] = complete_data['sector'].replace(['Wholesale'], 'Wholesale')
    
    # Replace Construction and Construction Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['Construction', 'Construction tech'], 'Construction and Construction Technology')
    
    # Replace E-learning and Education Management sectors
    complete_data['sector'] = complete_data['sector'].replace(['E-learning', 'E-learning', 'Education Management'], 'E-learning and Education Management')
    
    # Replace Over-the-Top Media Services sector
    complete_data['sector'] = complete_data['sector'].replace(['OTT', 'Over-the-Top Media Services'], 'Over-the-Top Media Services')
    
    # Replace Computer and Network Security sectors
    complete_data['sector'] = complete_data['sector'].replace(['Computer & Network Security', 'Computer and Network Security', 'Cybersecurity'], 'Computer and Network Security')
    
    # Replace Social Networking and Community Platforms sectors
    complete_data['sector'] = complete_data['sector'].replace(['Social network', 'Social Networking', 'Social Network', 'Social community', 'Social platform'], 'Social Networking and Community Platforms')
    
    # Replace Music and Music Streaming sectors
    complete_data['sector'] = complete_data['sector'].replace(['Music', 'Music Streaming'], 'Music and Music Streaming')
    
    # Replace Hauz Khas sector
    complete_data['sector'] = complete_data['sector'].replace(['Hauz Khas'], 'Hauz Khas')
    
    # Replace Pharmaceuticals sectors
    complete_data['sector'] = complete_data['sector'].replace(['Pharmaceuticals', 'Pharmaceutical', 'Pharma', 'Biopharma', 'Pharmaceuticals'], 'Pharmaceuticals')
    
    # Replace Cosmetics, Personal Care, and Beauty Products sectors
    complete_data['sector'] = complete_data['sector'].replace(['Cosmetics', 'Beauty products', 'Personal Care', 'Beauty & wellness', 'Personal care startup', 'Skincare startup'], 'Cosmetics, Personal Care, and Beauty Products')
    
    # Replace Real Estate and Property Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['Real Estate', 'Real estate', 'Commercial Real Estate', 'Housing Marketplace', 'Proptech', 'Property Technology'], 'Real Estate and Property Technology')
    
    # Replace Digital Platforms sector
    complete_data['sector'] = complete_data['sector'].replace(['Digital platform', 'Digital Platform'], 'Digital Platforms')
    
    # Replace NFT and Non-Fungible Tokens sectors
    complete_data['sector'] = complete_data['sector'].replace(['NFT Marketplace', 'Non-Fungible Token Marketplace', 'NFT', 'Non-Fungible Tokens'], 'NFT and Non-Fungible Tokens')
    
    # Replace Space Technology and Defense sectors
    complete_data['sector'] = complete_data['sector'].replace(['SpaceTech', 'Spacetech', 'Space Technology', 'Defense & Space'], 'Space Technology and Defense')
    
    # Replace Fishery sector
    complete_data['sector'] = complete_data['sector'].replace(['Fishery'], 'Fishery')
            
    # Replace Renewable Energy, Environmental Services, and Clean Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['Renewables & Environment', 'Renewable Energy and Environmental Services', 'Environmental Services', 'Environmental service', 'Clean Technology', 'CleanTech', 'Pollution control equiptment'], 'Renewable Energy, Environmental Services, and Clean Technology')
    
    # Replace Online Storytelling sector
    complete_data['sector'] = complete_data['sector'].replace(['Online storytelling'], 'Online Storytelling')
    
    # Replace Customer Relationship Management sector
    complete_data['sector'] = complete_data['sector'].replace(['CRM', 'Customer Relationship Management'], 'Customer Relationship Management')
    
    # Replace Nutrition and Nutrition Technology sectors
    complete_data['sector'] = complete_data['sector'].replace(['Nutrition', 'Nutrition sector', 'Nutrition tech', 'Nutrition Tech', 'Food & Nutrition'], 'Nutrition and Nutrition Technology')
    
    # Replace Direct-to-Consumer sectors
    complete_data['sector'] = complete_data['sector'].replace(['D2C', 'Direct-to-Consumer', 'D2C Business', 'D2C startup', 'D2C Fashion', 'D2C jewellery'], 'Direct-to-Consumer')
    
    # Replace Innovation Management sector
    complete_data['sector'] = complete_data['sector'].replace(['Innovation Management', 'Innovation management'], 'Innovation Management')
    
    # Replace Community Platforms and Communities sectors
    complete_data['sector'] = complete_data['sector'].replace(['Community platform', 'Community', 'Communities'], 'Community Platforms and Communities')
    
    # Replace Networking and Networking Platforms sectors
    complete_data['sector'] = complete_data['sector'].replace(['Networking', 'Networking platform'], 'Networking and Networking Platforms')
    
    # Replace Augmented Reality and AR/VR sectors
    complete_data['sector'] = complete_data['sector'].replace(['AR startup', 'Augmented Reality Startup', 'AR platform', 'Augmented reality', 'Augmented Reality', 'AR/VR', 'AR/VR startup'], 'Augmented Reality and AR/VR')
    
    # Replace Content sectors
    complete_data['sector'] = complete_data['sector'].replace(['Content publishing', 'Content commerce', 'Content creation', 'Content Management', 'Content Marktplace'], 'Content')
    
    # Replace Rental Space sector
    complete_data['sector'] = complete_data['sector'].replace(['Rental space'], 'Rental Space')
    
    # Replace Tourism sector
    complete_data['sector'] = complete_data['sector'].replace(['Tourism'], 'Tourism')
    
    # Replace Femtech sector
    complete_data['sector'] = complete_data['sector'].replace(['FemTech', 'Femtech'], 'Femtech')
    
    # Replace Cultural sector
    complete_data['sector'] = complete_data['sector'].replace(['Cultural'], 'Cultural')
    
    # Replace Co-working sectors
    complete_data['sector'] = complete_data['sector'].replace(['Co-working', 'Co-working Startup', 'Coworking'], 'Co-working')
    
    # Replace Supply Chain and Logistics sectors
    complete_data['sector'] = complete_data['sector'].replace(['Supply chain platform', 'Supply Chain Platform', 'Logistics & Supply Chain', 'Logistics and Supply Chain', 'B2B Supply Chain'], 'Supply Chain and Logistics')
    
    # Replace Cryptocurrency sectors
    complete_data['sector'] =complete_data['sector'].replace(['Crypto', 'Cryptocurrency'], 'Cryptocurrency')
    
    # Replace Clothing sector
    complete_data['sector'] = complete_data['sector'].replace(['Clothing'], 'Clothing')
    
    # Replace Analytics and Data Science sectors
    complete_data['sector'] = complete_data['sector'].replace(['Analytics', 'Location Analytics', 'Data Analytics', 'Data Science', 'Data Intelligence'], 'Analytics and Data Science')
    
    # Replace Internet of Things Platform sector
    complete_data['sector'] = complete_data['sector'].replace(['IoT platform', 'Internet of Things Platform'], 'Internet of Things Platform')
    
    # Replace Defense and Space sectors
    complete_data['sector'] = complete_data['sector'].replace(['Defense & Space', 'Defense and Space'], 'Defense and Space')
    
    return complete_data

In [427]:
complete_data['sector'].isna().sum()

13

In [428]:
# apply function
complete_data=categorize_sector(complete_data)

In [429]:
complete_data['sector'].fillna(complete_data['sector'].mode()[0], inplace=True)

In [430]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2879 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   period[Y-DEC]
 8   founders       2333 non-null   object
 9   investor       2312 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7), period[Y-DEC](1)
memory usage: 225.0+ KB

*Cleaning HeadQuater Column*

In [431]:
# Get the first location from every list
complete_data['headquarter']=complete_data['headquarter'].str.split(",").str[0]

In [432]:
def fix_headquarters(row):
    replacements = {'Bengaluru': 'Bangalore', 'Banglore': 'Bangalore', 'Gurugram': 'Gurgaon', 'Hyderebad': 'Hyderabad',
                    'New Delhi': 'Delhi', 'Ahmadabad': 'Ahmedabad', 'Ernakulam': 'Cochin', 'Telugana': 'Telangana',
                    'Rajastan': 'Rajasthan', 'San Franciscao': 'San Francisco', 'Samsitpur': 'Samastipur', 'Santra': 'Samtra',
                    'Rajsamand': 'Rajasthan', 'Kerala': 'Kochi', 'The Nilgiris': 'Nilgiris', 'Gurugram\t#REF!': 'Gurgaon',
                    'California': 'San Francisco', 'San Francisco Bay Area': 'San Francisco', 'Hyderebad': 'Hyderabad',
                    'Online Media\t#REF!': 'Unknown', 'Pharmaceuticals\t#REF!': 'Unknown',
                    'Information Technology & Services': 'Unknown', 'Small Towns': 'Unknown', 'Orissia': 'Odisha',
                    'Santra': 'Samtra', 'Vadodara': 'Vadodara', 'Food & Beverages': 'Unknown', 'Bangaldesh': 'Bangladesh'}

    return replacements.get(row, row)

# Apply the fix_headquarters function to the 'headquarter' column
complete_data['headquarter'] = complete_data['headquarter'].apply(fix_headquarters)

In [433]:
complete_data.head()

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
0,TheCollegeFever,Brand Marketing,validation,250000.0,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",2018-01-01,2016,NaN,NaN
1,Happy Cow Dairy,Agriculture,validation,584000.0,Mumbai,A startup which aggregates milk from dairy far...,2018-01-01,2016,NaN,NaN
2,MyLoanCare,Credit,early traction,949000.0,Gurgaon,Leading Online Loans Marketplace in India,2018-01-01,2016,NaN,NaN
3,PayMe India,Financial Services,validation,2000000.0,Noida,PayMe India is an innovative FinTech organizat...,2018-01-01,2016,NaN,NaN
4,Eunimart,E-Commerce Platforms,validation,0.0,Hyderabad,Eunimart is a one stop solution for merchants ...,2018-01-01,2016,NaN,NaN

In [434]:
# check for duplicates
complete_data[complete_data.duplicated()]

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
348,TheCollegeFever,Brand Marketing,validation,250000.0,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",2018-01-01,2016,NaN,NaN
760,Krimanshi,Biotechnology company,validation,600000.0,Jodhpur,Krimanshi aims to increase rural income by imp...,2020-01-01,2015,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City"
820,Nykaa,"Cosmetics, Personal Care, and Beauty Products",others,0.0,Mumbai,Nykaa is an online marketplace for different b...,2020-01-01,2012,Falguni Nayar,"Alia Bhatt, Katrina Kaif"
977,Byju’s,Education Technology,others,500000000.0,Bangalore,An Indian educational technology and online tu...,2020-01-01,2011,Byju Raveendran,"Owl Ventures, Tiger Global Management"
1777,Curefoods,Food and Beverages,others,0.0,Bangalore,Healthy & nutritious foods and cold pressed ju...,2021-01-01,2020,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal"
1779,Bewakoof,Fashion and Lifestyle,others,0.0,Mumbai,Bewakoof is a lifestyle fashion brand that mak...,2021-01-01,2012,Prabhkiran Singh,InvestCorp
1787,Advantage Club,Human Resources and HR Technology,others,0.0,Mumbai,Advantage Club is India's largest employee eng...,2021-01-01,2014,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah"
1789,Ruptok,Fintech,others,0.0,Delhi,Ruptok fintech Pvt. Ltd. is an online gold loa...,2021-01-01,2020,Ankur Gupta,Eclear Leasing
1913,Trinkerr,Financial Services,early traction,0.0,Bangalore,Trinkerr is India's first social trading platf...,2021-01-01,2021,"Manvendra Singh, Gaurav Agarwal",Accel India
1914,Zorro,Social Media,validation,0.0,Gurgaon,Pseudonymous social network platform,2021-01-01,2021,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose"
1915,Ultraviolette,Automotive,early traction,0.0,Bangalore,Create and Inspire the future of sustainable u...,2021-01-01,2021,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho"
1916,NephroPlus,Healthcare,early traction,0.0,Hyderabad,A vision and passion of redefining healthcare ...,2021-01-01,2009,Vikram Vuppala,IIFL Asset Management
1917,Unremot,Information Technology,validation,0.0,Bangalore,Unremot is a personal office for consultants!,2021-01-01,2020,Shiju Radhakrishnan,Inflection Point Ventures
1918,FanAnywhere,Financial Services,validation,0.0,Bangalore,Celebrity NFT platform,2021-01-01,2021,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital"
1919,PingoLearn,E-learning and Education Management,others,0.0,Pune,PingoLearn offers language learning courses wi...,2021-01-01,2021,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate"
1920,Spry,Music and Music Streaming,validation,0.0,Mumbai,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,2021-01-01,2021,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover"
1921,Enmovil,Information Technology,early traction,0.0,Hyderabad,Enmovil delivers a Business Intelligence Platf...,2021-01-01,2015,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund
1922,ASQI Advisors,Financial Services,early traction,0.0,Mumbai,Bringing Blockchain technology intro mainstrea...,2021-01-01,2019,Swapnil Pawar,Founders Room Capital
1923,Insurance Samadhan,Insurance,early traction,0.0,Delhi,The insurance industry will help in representa...,2021-01-01,2018,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL"
1924,Evenflow Brands,Consumer Goods and Services,others,0.0,Mumbai,Identify and partner with the upcoming eCommer...,2021-01-01,2020,"Utsav Agarwal, Pulkit Chhabra",
1925,MasterChow,New Delhi,validation,0.0,Delhi,A ready-to-cook Asian cuisine brand,2021-01-01,2020,"Vidur Kataria, Sidhanth Madan",WEH Ventures
2064,MPL,Gaming,others,0.0,Bangalore,Mobile Premier League is a skill-based eSports...,2021-01-01,2018,"Sai Srinivas Kiran G, Shubham Malhotra","Pegasus Tech Ventures, Base Partners"
2077,BharatPe,Fintech,others,0.0,Delhi,BharatPe develops a QR code-based payment app ...,2021-01-01,2018,"Ashneer Grover, Shashvat Nakrani","InnoVen Capital, Steadview Capital"
2532,BYJU'S,Education Technology,others,0.0,Bangalore,BYJU'S is an educational technology company th...,2021-01-01,2011,"Byju Raveendran, Divya Gokulnath","Tiga Investments, Baron Capital"

In [435]:
# drop duplicates
complete_data.drop_duplicates(keep='first', inplace=True)

In [436]:
# check for duplicates
print(f" There are {complete_data.duplicated().sum()} duplicates")

 There are 0 duplicates

In [437]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2855 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2855 non-null   object
 1   sector         2855 non-null   object
 2   stage          2855 non-null   object
 3   amount         2855 non-null   float64
 4   headquarter    2761 non-null   object
 5   about_company  2855 non-null   object
 6   year           2855 non-null   datetime64[ns]
 7   founded        2855 non-null   period[Y-DEC]
 8   founders       2310 non-null   object
 9   investor       2289 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7), period[Y-DEC](1)
memory usage: 245.4+ KB

In [443]:
# Final merged dataset with cleaned column names and cleaned amount values
complete_data.to_csv('datasets/startup_funding2018-2021.csv')

OSError: Cannot save file into a non-existent directory: 'datasets'