# **ANALYSIS OF START-UP FUNDING TRENDS IN THE INDIAN ECOSYSTEM**

**DESCRIPTION**
The Indian ecosystem is dynamic and constantly evolving, thus, for every business venturing into an unknown territory i.e., a new country or landscape, the fear of the unknown normally takes precedence with regards to whether the business will succeed or not. By examining existing data spanning from 2018 to 2021 on start-up funding, this project will identify key patterns, investment behaviors, and emerging sectors within the Indian start-up ecosystem to inform strategic decision-making for venturing into this market.


**HYPOTHESIS**
- Null Hypothesis (H0) – The funds a company receives does not depend on the sector the company invests in. 


- Alternative Hypothesis (H1) – The funds a company receives depends on the sector a company invests in. 


**BUSINESS QUESTIONS**

1.Does the location of a start-up influence/determine the sector?  

2.Which industries have received the most funding in each year, and how has this distribution changed over time?  

3.What is the distribution of funding amounts among start-ups (e.g., average, median, and range) each year?  

4.What are the average funding amounts for different funding stages (e.g., Seed, Series A, Series B, etc.) each year?  

5.How does funding vary within the various geographical locations for start-ups?

# **1.0 DATA UNDERSTANDING AND DATA EXPLORATION**

In [1041]:
%pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\joojo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1042]:
# Load libraries
# Database connnection
import pyodbc     
import pandas as pd
import numpy as np
from dotenv import dotenv_values

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns


import scipy.stats as stats
from matplotlib.dates import YearLocator
from matplotlib.ticker import FuncFormatter
import matplotlib.ticker as ticker
import re

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

LOADING OF DATA

LOADING FROM DATABASE

In [1043]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("LOGIN")
password = environment_variables.get("PASSWORD")

In [1044]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

#use the connect method using pyodbc to connect
connection = pyodbc.connect(connection_string)

In [1045]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [1046]:
# load 2021 data
data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
data_2020=pd.read_sql(query_2020,connection)

In [1047]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [1048]:
# Saving the DataFrame to a CSV file
data_2020.to_csv('datasets/startup_funding2020.csv', index=False)

In [1049]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [1050]:
# Saving the DataFrame to a CSV file
data_2021.to_csv('datasets/startup_funding2021.csv', index=False)

LOADING CSV FILES

In [1051]:

    # load 2018 data
data_2018= pd.read_csv('datasets\startup_funding2018.csv')

data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [1052]:
# load 2019 data
data_2019=pd.read_csv('datasets\startup_funding2019.csv')

data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

## **2.0  EXPLORATORY DATA ANALYSIS (EDA)**

# **2.1. 2018 DATASET EDA**

In [1053]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
137,Drstore,Hospital,Seed,—,"Mumbai, Maharashtra, India",Drstore is a exclusive e- commerce platform.
440,Virtual MetalStreet(MetalStreet),"B2B, Marketplace",Angel,700000,"Bengaluru, Karnataka, India",Virtual MetalStreet(Metalstreet) is a B2B mark...
139,Chizel,"3D Printing, Manufacturing, Product Design",Seed,—,"Pune, Maharashtra, India",Chizel is a worlds most advanced cloud platfor...
110,Stones2Milestones,"E-Learning, Education, Higher Education",Seed,—,"Gurgaon, Haryana, India",Stones2milestones is a Gurgaon Based Learning ...
347,Cricnwin,"Digital Entertainment, Fantasy Sports, Gaming,...",Seed,—,"Gurgaon, Haryana, India",Cricnwin is a Gurugram - based Fan Engagement ...

In [1054]:
# checking for number of columns and rows
print (data_2018.shape)
print(f"There are {data_2018.shape[0]} rows, and {data_2018.shape[1]} columns")

(526, 6)
There are 526 rows, and 6 columns

In [1055]:
# checking for duplicates
print("There are ",data_2018.duplicated().sum(),"duplicate(s)")

There are  1 duplicate(s)

In [1056]:
# Checking for missing values
data_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [1057]:
# checking info
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [1058]:
# checking for the various column headers
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [1059]:
# Performing describtive analysis on the data
data_2018.describe(include='all').T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

 **OBSERVATIONS FROM 2018 DATA**

- The Seed series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named TheCollegeFever was the most popular startup in 2018

# **2.2. 2019 DATA EDA**

In [1060]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
68,Licious,2015.0,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Ventures,"$25,000,000",Series D
14,Open Secret,NaN,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,Undisclosed,NaN
64,Moms Co,NaN,New Delhi,E-commerce,It is into mother and baby care-focused consum...,Malika Sadani,"Saama Capital, DSG Consumer Partners","$5,000,000",Series B
53,eJOHRI,2015.0,Mumbai,Jewellery,Omnichannel marketplace for gems and jewellery,"Jignesh Mehta, Shailen Mehta",Rajesh Ranavat,"$1,000,000",Pre series A
41,VMate,NaN,NaN,NaN,A short video platform,NaN,Alibaba,"$100,000,000",NaN

In [1061]:
# checking for number of columns and rows
print (data_2019.shape)
print(f"There are {data_2019.shape[0]} rows, and {data_2019.shape[1]} columns")

(89, 9)
There are 89 rows, and 9 columns

In [1062]:
# checking for duplicates
print("There are ",data_2019.duplicated().sum(),"duplicate(s)")

There are  0 duplicate(s)

In [1063]:
# Checking for nulls
data_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [1064]:
# checking for datatypes in the different columns
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [1065]:
# checking for the various column headers
data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [1066]:
# performing descriptive analysis
data_2019.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company/Brand,89,87,Kratikal,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,60.0,NaN,NaN,NaN,2014.533333,2.937003,2004.0,2013.0,2015.0,2016.25,2019.0
HeadQuarter,70,17,Bangalore,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,84,52,Edtech,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What it does,89,88,Online meat shop,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,86,85,"Vivek Gupta, Abhay Hanjura",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,89,86,Undisclosed,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),89,50,Undisclosed,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,43,15,Series A,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2019 DATA**

- The Series A series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named Kratical was the most popular startup in 2019

- Most of the startups in 2019 were in the Edtech sector

# **2.3. 2020 DATA EDA**

In [1067]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
704,Tesco Charge Zone,NaN,Gujarat,EV,Operates electric vehicle charging zone,Kartikey Hariyani,Mumbai Angels Network,NaN,None,None
875,goStops,2012.0,Delhi,Accomodation,A premium chain of youth hostels catering to t...,"Pallavi Agarwal, Pankaj Parwanda",Atraxn Partners.,NaN,None,None
1028,PayMart,2015.0,Chandigarh,Fintech,Provides cardless cash withdrawals through sma...,Amit Narang,"IIM Ahmedabad’s incubator (CIIE.CO),Chandigarh...",NaN,None,None
808,Mera Cashier,2019.0,Noida,Fintech,App meant for small and micro businessmen to m...,"Suneel Kumar, Gaurav Tomar, Sucharita Redd","Sukhbir Singh, India Accelerator, Boudhik Vent...",150000.0,None,None
252,TREAD,2020.0,Bangalore,Fitness startup,A homegrown fitness startup that aims to advan...,Dinesh Godara,"Better Capital, Kunal Shah, Gaurav Munjal",1100000.0,Pre-seed,None

In [1068]:
#checking for number of columns and rows
print (data_2020.shape)
print(f"There are {data_2020.shape[0]} rows, and {data_2020.shape[1]} columns")

(1055, 10)
There are 1055 rows, and 10 columns

In [1069]:
# checking for duplicates
print("There are ",data_2020.duplicated().sum(),"duplicate(s)")

There are  3 duplicate(s)

In [1070]:
# Checking for nulls
data_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [1071]:
# checking for datatypes in the different columns
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [1072]:
# checking for the various column headers
data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [1073]:
# perform describtive analysis on the 2020 data
data_2020.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1055,905,Nykaa,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,842.0,NaN,NaN,NaN,2015.36342,4.097909,1973.0,2014.0,2016.0,2018.0,2020.0
HeadQuarter,961,77,Bangalore,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1042,302,Fintech,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1055,990,Provides online learning classes,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1043,927,Falguni Nayar,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1017,848,Venture Catalysts,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,801.0,NaN,NaN,NaN,113042969.543071,2476634939.888347,12700.0,1000000.0,3000000.0,11000000.0,70000000000.0
Stage,591,42,Series A,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2020 DATA**

- The Series A series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named Nykaa was the most popular startup in 2020

- Most of the startups in 2020 were in the Fintech sector

- The average amount invested was about $113,042,969

# **2.4. 2021 DATA EDA**

In [1074]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
451,Oyo,2012.0,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,"$7,000,000",Series F1
60,PharmEasy,2015.0,Mumbai,HealthTech,PharmEasy is a health tech startup offering se...,"Dharmil Sheth, Dhaval Shah, Mikhil Innani","TPG Growth, Caisse de Depot et Placement du Qu...","$350,000,000",Series E
562,FRAAZO,2020.0,Mumbai,Food & Beverages,FRAAZO is Mumbai's favourite App for Fresh Veg...,"Atul Kumar, Aashish Krishnatre","Sixth Sense Ventures, NABVENTURES",$11000000,Series A
139,SATYA MicroCapital,2017.0,New Delhi,Banking,Satya MicroCapital Limited is a Delhi based NB...,Vivek Tiwari,"responsAbility Investments, Blue Orchard",$10000000,None
452,Agri10x,2018.0,Pune,AgriTech,Agri10x integrates the entire Agri value-chain...,"Abhijith Naraparaju, Pankajj P. Ghode, Sundeep...",Omnivore,Undisclosed,Seed

In [1075]:
# get the number of rows and columns for the datasets
print(f'{data_2021.shape}')

print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns")

(1209, 9)
The 2021 dataset has 1209 rows and 9 Columns

In [1076]:
# checking for duplicates
print("There are ",data_2021.duplicated().sum(),"duplicate(s)")

There are  19 duplicate(s)

In [1077]:
#  Checking for nulls
data_2021.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [1078]:
# checking for datatypes in the different columns
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [1079]:
# checking for the various column headers
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [1080]:
# performing describtive analysis on the dataset
data_2021.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1209,1033,BharatPe,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,1208.0,NaN,NaN,NaN,2016.655629,4.517364,1963.0,2015.0,2018.0,2020.0,2021.0
HeadQuarter,1208,70,Bangalore,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1209,254,FinTech,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1209,1143,BharatPe develops a QR code-based payment app ...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1205,1095,"Ashneer Grover, Shashvat Nakrani",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1147,937,Inflection Point Ventures,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,1206,278,$Undisclosed,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,781,31,Seed,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**OBSERVATIONS FROM 2021 DATA**

- The Seed series stage was the most funded or preferred

- The most preferred location for startups was Bangalore

- The company named BharatPe was the most popular startup in 2021

- Most of the startups in 2021 were in the Fintech sector

**GENERAL OBSERVATIONS FROM DATA**


**Issues Observed**

1. The 2018 dataset has some missing columns which is making the representation of the data incomplete

2. The naming conventions of columns in 2018 and 2019 datasets compared to 2020 and 2021 datasets does not tally

3. The 2020 dataset contains an additional column that appears to serve no meaningful purpose in our dataset or analysis

4. The currencies are all not uniform with some in rupees and others in dollars especially in the 2018 dataset

5. names of the cities in some of the datasets are not spelt correctly bringing about a variation 

6. The stages of funding are not well defined which might affect our analysis



**Remedies to issues Observed**
1. To address the 2018 dataset with some missing columns, we will employ data engineering techniques to populate and create those columns ensuring a commprehensive data structure for our analysis.

2. To enure a seamless data integration and analysis ,we will establish uniformity and coherence across all datasets by embarking on a column renaming process to allign all the columns in the dataset

3. The redundant columns observed in the 2020 dataset will be removed so that any unnecessary elements does not interfere with our analysis

4. All currencies will be converted to dollars for uniformity.Thereby the exchange rate for each of the years will be applied if necessary.

5. A thorough cleaning of the names of the cities will be done to ensure a more accurate dataset to be used for our analysis. 

6. Research will be done in order to group the current stages in our datasets under main stages to make our analysis more understandable.

# **3.0 DATA CLEANING**

**3.1. Converting Indian Rupees to Dollars in 2018 dataset**

In [1081]:
# Replace '₹', commas, '—', and "''" in 'Amount' column
data_2018['Amount'] = data_2018['Amount'].str.replace(',', '').str.replace('—', '').str.replace("''",'').replace('', np.nan)

In [1082]:
# Conditionally apply multiplication only where '₹' is present
mask = data_2018['Amount'].str.contains('₹', na=False)
data_2018.loc[mask, 'Amount'] = data_2018.loc[mask, 'Amount'].str.replace('₹', '').astype(float) * 0.0146

In [1083]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

## **Add year data was collected**

- There is need to add a column that represents the year each dataset was collected. This will help with handling the datasets after merging the dataframes

In [1084]:
# add year when data was collected column to every dataset
data_2018['year'] = pd.to_datetime('2018', format='%Y').year
data_2019['year'] = pd.to_datetime('2019', format='%Y').year
data_2020['year'] = pd.to_datetime('2020', format='%Y').year
data_2021['year'] = pd.to_datetime('2021', format='%Y').year

In [1085]:
# renaming columns to make them consistent across dataframes
data_2021 = data_2021.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'stage', 'year' : 'year'})
data_2020 = data_2020.rename(columns={'Company_Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What_it_does': 'about_company','Founders':'founders','Investor':'investor','Amount':'amount','Stage':'stage','year' : 'year'})
data_2019 = data_2019.rename(columns={'Company/Brand': 'company_brand', 'Founded': 'founded','HeadQuarter': 'headquarter','Sector': 'sector','What it does': 'about_company','Founders':'founders','Investor':'investor','Amount($)':'amount','Stage':'stage','year' : 'year'})
data_2018 = data_2018.rename(columns={'Company Name': 'company_brand','Location': 'headquarter','Industry': 'sector','About Company': 'about_company','Amount':'amount','Round/Series':'stage','year' : 'year'})

# *CLEANING SOME KEY COLUMNS IN 2018 DATAFRAME*

In [1086]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  526 non-null    object
 1   sector         526 non-null    object
 2   stage          526 non-null    object
 3   amount         378 non-null    object
 4   headquarter    526 non-null    object
 5   about_company  526 non-null    object
 6   year           526 non-null    int64
dtypes: int64(1), object(6)
memory usage: 28.9+ KB

In [1087]:
# This is to see the entries that have been in the column 'Round/Series'
unique_values = data_2018["stage"].unique()
unique_values

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [1088]:
# Search the Row with the hyperlink to check if it is not a misplaced data entry in that row.
search_string = 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593'
result = data_2018[data_2018['stage'].str.contains(search_string)]

result

,company_brand,sector,stage,amount,headquarter,about_company,year
178,BuyForexOnline,Travel,https://docs.google.com/spreadsheets/d/1x9ziNe...,2000000,"Bangalore, Karnataka, India",BuyForexOnline.com is India's first completely...,2018

In [1089]:
# Replace the stage value in row 178 with Seed which was researched online
data_2018.loc[178, 'stage'] ="Seed"

In [1090]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  526 non-null    object
 1   sector         526 non-null    object
 2   stage          526 non-null    object
 3   amount         378 non-null    object
 4   headquarter    526 non-null    object
 5   about_company  526 non-null    object
 6   year           526 non-null    int64
dtypes: int64(1), object(6)
memory usage: 28.9+ KB

 *the remaining cleaning of the other columns will be done after concatenating all dataframes*

# *CLEANING SOME KEY COLUMNS IN 2019 DATAFRAME*

In [1091]:
# this is to check how many unique values are in each column.

unique_values = data_2019.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 87
Column: founded, Unique values: 12
Column: headquarter, Unique values: 17
Column: sector, Unique values: 52
Column: about_company, Unique values: 88
Column: founders, Unique values: 85
Column: investor, Unique values: 86
Column: amount, Unique values: 50
Column: stage, Unique values: 15
Column: year, Unique values: 1

Cleaning of Founded column of 2019

Key issues identified

* Dealing with missing values
* Conversion of Float to string.

Aprroach to Clean the column

A research was done online (Crunchbase) by using the company name, to discover when the companies with the missing founded values were established to fill them appropriately. Also, the data type was changed from a float to a string to enable us to call it by the founded year during analysis.

In [1092]:
unique_values = data_2019['founded'].unique()
unique_values

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008.])

In [1093]:
# Changing float(decimal) datatype to int64(integers)
data_2019['founded'] = data_2019['founded'].astype('Int64')

data_2019

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
0,Bombay Shaving,<NA>,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,<NA>,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019
...,...,...,...,...,...,...,...,...,...,...
84,Infra.Market,<NA>,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A,2019
85,Oyo,2013,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN,2019
86,GoMechanic,2016,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B,2019
87,Spinny,2015,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN,2019
88,Ess Kay Fincorp,<NA>,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN,2019

In [1094]:
# filling null values in Founded column with year gotten from internet

data_2019.iloc[0,1]=2015

data_2019.iloc[2,1]=2014

data_2019.iloc[5,1]=2017

data_2019.iloc[6,1]=2015

data_2019.iloc[8,1]=2013

data_2019.iloc[11,1]=2006

data_2019.iloc[14,1]=2019

data_2019.iloc[27,1]=2016

data_2019.iloc[30,1]=2015

data_2019.iloc[31,1]=2016

data_2019.iloc[37,1]=2017

data_2019.iloc[39,1]=2018

data_2019.iloc[41,1]=2017

data_2019.iloc[42,1]=2012

data_2019.iloc[44,1]=2019

data_2019.iloc[45,1]=2015

data_2019.iloc[46,1]=2018

data_2019.iloc[47,1]=2010

data_2019.iloc[56,1]=2015

data_2019.iloc[57,1]=2015

data_2019.iloc[59,1]=2018

data_2019.iloc[62,1]=2013

data_2019.iloc[63,1]=2018

data_2019.iloc[64,1]=2016

data_2019.iloc[71,1]=2007

data_2019.iloc[77,1]=2016

data_2019.iloc[82,1]=2013

data_2019.iloc[83,1]=2016

data_2019.iloc[84,1]=2016

data_2019.iloc[88,1]=1994

In [1095]:
# Changing int64 datatype to object
data_2019['founded'] = data_2019['founded'].astype('string')

cleaning of Headquarters column of 2019

Key issues identified

* Dealing with missing values


Aprroach to Clean the column

A research was done online (Crunchbase) by using the company name, to discover the headquarters.

In [1096]:
unique_values = data_2019['headquarter'].unique()
unique_values

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [1097]:
# filling null values in HeadQuarter column 

data_2019.iloc[0,2]='New Delhi'

data_2019.iloc[8,2]='Mumbai'

data_2019.iloc[14,2]='Mumbai'

data_2019.iloc[16,2]='Bangalore'

data_2019.iloc[18,2]='Mumbai'

data_2019.iloc[20,2]='London'

data_2019.iloc[21,2]='Gurugram'

data_2019.iloc[22,2]='San Franscisco'

data_2019.iloc[27,2]='San Franscisco'

data_2019.iloc[29,2]='Gurugram'

data_2019.iloc[31,2]='Haryana'

data_2019.iloc[34,2]='Gurgaon'

data_2019.iloc[41,2]='Haryana'

data_2019.iloc[43,2]='California'

data_2019.iloc[54,2]='Karnataka '

data_2019.iloc[65,2]='New Delhi'

data_2019.iloc[70,2]='Chennai'

data_2019.iloc[76,2]='Bangalore'

data_2019.iloc[79,2]='Bangalore'

Cleaning of 'Sector' column of 2019

Key issues identified

* Dealing with missing values

Aprroach to Clean the column

A research was done online (Crunchbase) by using the Company name, to determine the Sectors to populate the missing values as well.

In [1098]:
unique_values = data_2019['sector'].unique()
unique_values

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [1099]:
# filling null values in Sector column 

data_2019.iloc[41,3]='App Development'

data_2019.iloc[49,3]='Outsourcing'

data_2019.iloc[52,3]='Management consulting'

data_2019.iloc[56,3]='Fintech'

data_2019.iloc[57,3]='Telecom'

Cleaning of 'about company' column of 2019

Key issues identified

* Dealing with non-printable characters/unicodes.

Aprroach to Clean the column

We grabbed the unicodes and replaced them with empty string.

In [1100]:
# has non-printable characters that must be taken out
unique_values = data_2019['about_company'].unique() 
unique_values

array(['Provides a range of male grooming products',
       'A learning platform that provides topic-based journey, animated videos, quizzes, infographic and mock tests to students',
       'It aims to make learning fun via games.',
       'Provides interior designing solutions',
       'It is a seed company engaged in production, processing and marketing of seeds',
       'A drone automation platform',
       'It builds software products that makes work simpler, pleasant, and productive',
       'It is a product-based cybersecurity solutions provider',
       'It is an AI and big data services company providing business solutions.',
       'It is a eyewear company',
       'A B2C\xa0\xa0brand that focusses on premium and comfortable merchandise for Generation Alpha – kids',
       'It is a self-healing enterprise, the IT operations software detects, predicts and prevents problems before they happen',
       'Platform that provides complete financial solutions for excluded individuals and households',
       'Technology-based platform that is connecting suitable applicants to the right recruiters',
       'It produces and sells top quality snacks',
       'Grants small business loans, supply chain finance and working capital loans to small and medium enterprises',
       'Provides online learning classes',
       'Uses AI to do risk profiling of e-commerce consumers who opt for EMI',
       'Offers a range of robotics learning tools',
       'Aims to solve some problems in the feminine hygiene sector',
       'A platform that promotes financial well-being of employees at workplace',
       'Delivers advanced medical care & clinical excellence aided by next-level technology',
       'Offers online courses and extensive mentor-based learning',
       'It uses technology to create a trust-based network of responsible citizens to ensure safety',
       'It solves inadequacies in the healthcare delivery system through technology',
       'Customer Experience (CX) Automation platform',
       'Provides variety of insurance plans and policies',
       'Developer of an artificial intelligence-powered assistant for businesses',
       'Offers B2B tech platform to corporates, aimed at improving the operations of their cafeterias',
       'B2B platform for agricultural commodities.', 'Online meat shop',
       'A global platform for Identity and Access Management',
       'B2B model for appliances and electrical products',
       'Develops drones that are used by the military, paramilitary, police forces and in various industries.',
       'It offers delivery services across India to retail, e-commerce, pharmaceutical, automobile and FMCG companies',
       'Online flight booking',
       'Provides facilities to get products manufactured.',
       'Creates a voice AI platform',
       'Online fruits and vegetables delivery company',
       "It empowers moms to provide the best of foods to their Lil' ones",
       'Blogging platform that enables people to create visual collections of their travel and local experiences',
       'A short video platform', 'Online custom shirt brand',
       'It helps sales and marketing teams understand purchase intent of buyers on buying patterns, usage and renewals',
       'eSports platform where players can access various multiplayer mobile games to participate in online tournaments',
       'Online financial marketplace for customized rate quotes on loans and investment products in India',
       'It develops, publishes and distributes games across various platforms',
       'It develops technology-enabled products to strengthen the farm-to-fork value chain of perishables.',
       'Enables to order food online',
       'It supplies workforce to the economy',
       'Online makeup and beauty products retailer',
       'Provides digital platform for businesses to plan and manage their international freight shipments online',
       'It connects individuals in need of advice in a specific domain to individuals who have expertise in the same',
       'Omnichannel marketplace for gems and jewellery',
       'It connects producers of food directly to retailers, restuarants and service providers.',
       'It offers games that are available across India and UK.',
       'Invoice discounting platform',
       'It digitizes and organises local retailers',
       'It provides post-harvest management services for agricultural commodities',
       'Provides management solution for restaurants',
       'It is a technology enabled logistics solutions provider to the Indian e-commerce industry',
       'Provides comfortable and secure accomodation for students',
       'It is engaged in building sustainable and affordable micro-mobility electric vehicles',
       'It is offering mobility as a service',
       'It is into mother and baby care-focused consumer goods',
       'Home automation solution provider',
       'It helps to connect to legal advise online',
       'It helps students to learn math online',
       'The platform simplifies the process of investment',
       'Platform uses encryption technology to allow businesses to safely store files, invoices, and schedules',
       'A platform to learn online',
       'Enables people to buy and sell new/old cars.',
       'A platform for delivery services',
       'A marketplace to buy and sell used bikes and scooters',
       'It is a sports discovery app that helps to find people and places to play 700+ sports',
       'It creates an engagement loop between doctors, hospitals, and patients via its app',
       'It drives a cultural change in making yoga-based wellness a part of modern lifestyle',
       'It helps lenders to directly provide short-term loans to merchants, employees, and students',
       'It offers affordable housing apartments to young professionals and students',
       'It enables one to book cab online',
       'A car rental service platform',
       'Provides cyber security solutions',
       'A cloud based Customer Loyalty & Engagement Platform',
       'It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing',
       'Provides rooms for comfortable stay',
       'Find automobile repair and maintenance service providers',
       'Online car retailer', 'Organised Non-Banking Finance Company'],
      dtype=object)

In [1101]:
# Clean the 'about_company' column by removing '\xa0'
data_2019['about_company'] = data_2019['about_company'].str.replace('\xa0', '') # this is to remove the '\xa0' from the entries

Cleaning of 'Stage' column of 2019

Key issues identified

   * Dealing with missing values

Aprroach to Clean the column

A research was done online (Crunchbase) by using the Company name, to determine the Stage to populate the missing values as well.

In [1102]:
unique_values = data_2019["stage"].unique()
unique_values

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [1103]:
# filling null values in Stage column 

data_2019.iloc[0,8]='Series C'

data_2019.iloc[4,8]='Seed'

data_2019.iloc[5,8]='Seed'

data_2019.iloc[6,8]='Seed'

data_2019.iloc[10,8]='Seed'

data_2019.iloc[11,8]='Series B'

data_2019.iloc[13,8]='Seed'

data_2019.iloc[14,8]='Series B'

data_2019.iloc[15,8]='Debt'

data_2019.iloc[16,8]='Debt'

data_2019.iloc[18,8]='Seed'

data_2019.iloc[20,8]='Venture round'

data_2019.iloc[23,8]='Unknown'

data_2019.iloc[24,8]='Debt'

data_2019.iloc[27,8]='Series A'

data_2019.iloc[31,8]='Angel'

data_2019.iloc[32,8]='Grant'

data_2019.iloc[33,8]='Corporate round'

data_2019.iloc[39,8]='Seed'

data_2019.iloc[41,8]='Corporate round'

data_2019.iloc[42,8]='Venture round'

data_2019.iloc[43,8]='Series A'

data_2019.iloc[44,8]='Angel'

data_2019.iloc[45,8]='Seed'

data_2019.iloc[48,8]='Secondary market'

data_2019.iloc[54,8]='Series D'

data_2019.iloc[55,8]='Seed'

data_2019.iloc[58,8]='Debt'

data_2019.iloc[59,8]='Angel'

data_2019.iloc[60,8]='Venture round'

data_2019.iloc[61,8]='Debt'

data_2019.iloc[62,8]='Seed'

data_2019.iloc[63,8]='Series C'

data_2019.iloc[66,8]='Seed'

data_2019.iloc[67,8]='Venture round'

data_2019.iloc[69,8]='Seed'

data_2019.iloc[71,8]='Unknown'

data_2019.iloc[74,8]='Debt'

data_2019.iloc[76,8]='Series B'

data_2019.iloc[77,8]='Corporate round'

data_2019.iloc[79,8]='Series C'

data_2019.iloc[80,8]='Series J'

data_2019.iloc[81,8]='Debt'

data_2019.iloc[85,8]='Secondary market'

data_2019.iloc[87,8]='Angel'

data_2019.iloc[88,8]='Series F'

In [1104]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  89 non-null     object
 1   founded        89 non-null     string
 2   headquarter    89 non-null     object
 3   sector         89 non-null     object
 4   about_company  89 non-null     object
 5   founders       86 non-null     object
 6   investor       89 non-null     object
 7   amount         89 non-null     object
 8   stage          89 non-null     object
 9   year           89 non-null     int64
dtypes: int64(1), object(8), string(1)
memory usage: 7.1+ KB

*the remaining cleaning of the other columns will be done after concatenating all dataframes*

# *CLEANING SOME KEY COLUMNS IN 2020 DATAFRAME*

In [1105]:
# this is to check how many unique values are in each column

unique_values = data_2020.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 905
Column: founded, Unique values: 26
Column: headquarter, Unique values: 77
Column: sector, Unique values: 302
Column: about_company, Unique values: 990
Column: founders, Unique values: 927
Column: investor, Unique values: 848
Column: amount, Unique values: 300
Column: stage, Unique values: 42
Column: column10, Unique values: 2
Column: year, Unique values: 1

In [1106]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1055 non-null   object
 1   founded        842 non-null    float64
 2   headquarter    961 non-null    object
 3   sector         1042 non-null   object
 4   about_company  1055 non-null   object
 5   founders       1043 non-null   object
 6   investor       1017 non-null   object
 7   amount         801 non-null    float64
 8   stage          591 non-null    object
 9   column10       2 non-null      object
 10  year           1055 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 90.8+ KB

In [1107]:
# Dropping column10 as it contained nothing relevant to our work
columns_to_drop = ['column10']
data_2020 = data_2020.drop(columns_to_drop, axis=1)

*Cleaning founded column

changing datatype to string

In [1108]:
# changing datatype to string from float64 to help us call it for analysis
data_2020['founded'] = data_2020['founded'].astype('string')

In [1109]:
# Converting the amount column to numeric

data_2020["amount"] = pd.to_numeric(data_2020["amount"], errors="coerce")

In [1110]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1055 non-null   object
 1   founded        842 non-null    string
 2   headquarter    961 non-null    object
 3   sector         1042 non-null   object
 4   about_company  1055 non-null   object
 5   founders       1043 non-null   object
 6   investor       1017 non-null   object
 7   amount         801 non-null    float64
 8   stage          591 non-null    object
 9   year           1055 non-null   int64
dtypes: float64(1), int64(1), object(7), string(1)
memory usage: 82.6+ KB

# *CLEANING SOME KEY COLUMNS IN 2021 DATAFRAME*

In [1111]:
# this is to check how many unique values are in each column
unique_values = data_2021.nunique()

for column, count in unique_values.items():
    print(f"Column: {column}, Unique values: {count}")

Column: company_brand, Unique values: 1033
Column: founded, Unique values: 30
Column: headquarter, Unique values: 70
Column: sector, Unique values: 254
Column: about_company, Unique values: 1143
Column: founders, Unique values: 1095
Column: investor, Unique values: 937
Column: amount, Unique values: 278
Column: stage, Unique values: 31
Column: year, Unique values: 1

Cleaning of 'HeadQuarter' column of 2021

Key issues identified

* There were non printable characters/unicodes
* Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

We grabbed the unicodes and replaced them with empty strings and viewed the rows with misleading values which were then placed in it's right column. 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References are attached.

In [1112]:
# Clean the 'HeadQuarter' column by removing '\t#ref!'
data_2021['headquarter'] = data_2021['headquarter'].str.replace('\t#ref!', '') 

# Display the updated DataFrame
data_2021['headquarter']

0       Bangalore
1          Mumbai
2          Mumbai
3          Mumbai
4        Gurugram
          ...
1204     Gurugram
1205    New Delhi
1206    Bangalore
1207     Gurugram
1208    Bangalore
Name: headquarter, Length: 1209, dtype: object

In [1113]:
# this is to view and correct the row for all the values in the headquarter that have misleading values

data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Information Technology & Services'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,$75000000,Series C,2021

In [1114]:
# this is to reorder the entries in row 1176
Sector=data_2021.loc[1176, 'headquarter']
data_2021.loc[1176, 'headquarter'] = data_2021.loc[1176, 'sector']
data_2021.loc[1176, 'sector']=Sector

In [1115]:
# this is to search the row with Computer games 
search_string = 'Computer Games'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021

In [1116]:
# this is to reorder the entries in row 98 and the stage found online is placed at the right place
investor = data_2021.loc[98, 'amount']
data_2021.loc[98, 'amount'] = data_2021.loc[98, 'stage']
data_2021.loc[98, 'investor']=investor
data_2021.loc[98, 'founders'] = data_2021.loc[98, 'investor']
data_2021.loc[98, 'headquarter']= " Bangalore"
data_2021.loc[98, 'stage']= " Series A"

Reference:

https://www.linkedin.com/company/fanplay-iot/?originalSubdomain=in

https://www.crunchbase.com/organization/fanplay-technologies

In [1117]:
# this is to search the row with Food and Beverages 
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Food & Beverages'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed,2021
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed,2021

In [1118]:
# this is to reorder the entries in row 241 and the Headquarter found online is placed at the right place
headQ=data_2021.loc[241, 'sector']
data_2021.loc[241, 'sector'] = data_2021.loc[241, 'headquarter']
data_2021.loc[241, 'headquarter']="New Delhi"

In [1119]:
# this is to reorder the entries in row 255 and the Headquarter found online is placed at the right place
headQ=data_2021.loc[255, 'sector']
data_2021.loc[255, 'sector'] = data_2021.loc[241, 'headquarter']
data_2021.loc[255, 'headquarter']="New Delhi"

Reference:

https://masterchow.in/pages/about-us

In [1120]:
# this is to search the row with Pharmaceuticals
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Pharmaceuticals'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None,2021
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None,2021

In [1121]:
# this is to reorder the entries in row 242 and the headquarter found online is placed at the right place
data_2021.loc[242, 'stage']= data_2021.loc[242, 'amount']
data_2021.loc[242, 'amount'] = data_2021.loc[242, 'investor']
data_2021.loc[242, 'investor']= data_2021.loc[242, 'founders']
data_2021.loc[242, 'founders']= data_2021.loc[242,'about_company']
data_2021.loc[242, 'about_company']= data_2021.loc[242,'sector']
data_2021.loc[242, 'sector']= data_2021.loc[242,'headquarter']
data_2021.loc[242,'headquarter']="Mumbai"

In [1122]:
# this is to reorder the entries in row 256 and the headquarter found online is placed at the right place
data_2021.loc[256, 'stage']= data_2021.loc[256, 'amount']
data_2021.loc[256, 'amount'] = data_2021.loc[256, 'investor']
data_2021.loc[256, 'investor']= data_2021.loc[256, 'founders']
data_2021.loc[256, 'founders']= data_2021.loc[256,'about_company']
data_2021.loc[256, 'about_company']= data_2021.loc[256,'sector']
data_2021.loc[256, 'sector']= data_2021.loc[256,'headquarter']
data_2021.loc[256,'headquarter']="Mumbai"

Reference:

https://www.crunchbase.com/organization/fullife-healthcare

In [1123]:
# this is to search the row with Online media
data_2021['headquarter'] = data_2021['headquarter'].fillna('').astype(str)
search_string = 'Online Media'
result = data_2021[data_2021['headquarter'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
1100,Sochcast,2020.0,Online Media\t#REF!,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana, A...","Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed,None,None,2021

In [1124]:
# this is to reorder the entries in row 1100 and the headquarter found online is placed at the right place
data_2021.loc[1100, 'amount']= data_2021.loc[1100, 'investor']
data_2021.loc[1100, 'investor'] = data_2021.loc[1100, 'founders']
data_2021.loc[1100, 'founders']= data_2021.loc[1100, 'about_company']
data_2021.loc[1100, 'about_company']= data_2021.loc[1100, 'sector']
data_2021.loc[1100, 'sector']= data_2021.loc[1100, 'headquarter']
data_2021.loc[1100, 'headquarter']=" Bangalore "

https://www.linkedin.com/company/sochcast/?originalSubdomain=in

Cleaning of 'Sector' column of 2021

Key issues identified

   * Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

A research was done online by using the Company name to determine the actual information(sector) to populate the row that had such information missing. References were duly done.

In [1125]:
# to view the entries in this column
unique_values = data_2021["sector"].unique()
unique_values

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Pharmaceuticals\t#REF!',
       'New Delhi',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup', 'Online Media\t#REF!',
       'Design', 'B2B Travel', 'Interior Design', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting'], dtype=object)

In [1126]:
# Searching for the Row with the unusual Sector Name to check if it is not a misplaced data entry
search_string = "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India."
result = data_2021[data_2021['sector'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000,Seed,None,2021

In [1127]:
# this is to reorder the entries in row 257 and the sector found online is placed at the right place
data_2021.loc[257, 'stage'] = data_2021.loc[257, 'amount']
data_2021.loc[257, 'amount'] = data_2021.loc[257, 'investor']  
data_2021.loc[257, 'investor'] = data_2021.loc[257, 'founders'] 
data_2021.loc[257, 'founders'] = data_2021.loc[257, 'about_company']
data_2021.loc[257, 'about_company'] = data_2021.loc[257, 'sector']
data_2021.loc[257, 'sector']= "EV"

Reference:

https://www.moeving.com/our-company/

Cleaning of 'Investor' column of 2021

Key issues identified

* There were non printable characters/unicodes
* Some entries in this column were supposed to be in other columns

Aprroach to Clean the column

We identfied the unicodes and replaced them with empty strings and viewed the rows with misleading values which were then placed in it's right column. 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References were duly done.

In [1128]:
# this is to view the entries in this column
unique_values = data_2021["investor"].unique()
unique_values

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', 'CDC Group, IDG Capital',
       'Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal', 'Vy Capital',
       'CIIE.CO, KIIT-TBI', 'Inflection Point Ventures',
       'Inflexor Ventures', None,
       '9Unicorns Accelerator Fund, Metaform Ventures',
       'SucSEED Indovation, IIM Calcutta Innovation Park',
       'Safe Planet Medicare', 'Impact Partners, C4D Partners',
       'Tiger Global Management, InnoVen Capital', 'Novo Tellus Capital',
       'Raintree Family Office, ADB arm',
       'Mumbai Angels, Narendra Shyamsukha', 'Paradigm, Kunal Shah',
       'Matrix Partners India, GIC', 'Chiratae Ventures, JAFCO Asia',
       'Mumbai Angels Network, Expert DOJO', 'GVFL',
       'Kotak Mahindra Bank, FMO', 'Kalaari Capital',
       'NB Ventures, IAN Fund',
       'Sequoia Capital India, Hummingbird Ventures',
       'Gaurav Munjal, Snehil Khanor', 'JITO Angel Network, SOSV',
       'Chiratae Ventures, YourNest Venture Capital', 'STRIVE VC',
       'Venture Catalysts', 'Jaipuria Family Office', 'Amazon',
       'Riso Capital', 'MTG Ventures',
       'Qualcomm Ventures, Warburg Pincus', '9Unicorns', 'Morgan Stanley',
       'Alfa Ventures, Agility Venture Partners',
       'Stellaris Venture Partners, Ramakant Sharma', 'Spanache',
       'DSG Consumer Partners, Saama Capital', 'Hindustan Media Ventures',
       'Stellaris Venture Partners, Omidyar Network India, Flourish Ventures',
       'Angelbay Holdings, Faad Network',
       'Alteria Capital, Chiratae Ventures',
       'WaterBridge Ventures, Info Edge',
       'Carmignac, Falcon Edge Capital', 'Vaibhav Domkundwar, Kunal Shah',
       'Chiratae Ventures, Bharat Innovation Fund',
       'Acko Technology, Services, LetsVenture',
       'Bertelsmann India Investments, Fullerton Financial Holdings',
       'Dragoneer Investment Group, Tiger Global Management',
       'http://100x.vc/',
       'TPG Growth, Caisse de Depot et Placement du Quebec',
       'Centrum Financial Services', 'Chiratae Ventures, BEENEXT',
       'Harsha Bhogle', 'GetVantage, Prakash Katama',
       'Tiger Global Management, Y Combinator Continuity Fund',
       'Michael & Susan Dell Foundation', 'Marquee fintech founders',
       'Falcon Edge India, Norwest Venture Partners',
       'SOSV, Omphalos Ventures India', 'Twitter Ventures, Pawan Munjal',
       'CitiusTech', 'Arena Holdings, Think Investments',
       'T Choithrams BVI, Ardor',
       'Kogta Financial India Limited, ICICI Bank',
       'SucSEED Venture Partners, TMT Connekt',
       'SAIF Partners, Venture Highway', 'Global Founders Capital',
       'JAFCO Asia, Chiratae Ventures', 'Y Combinator',
       'Artha Venture Fund', 'Jitendra Gupta, Amrish Rau',
       'FJ Labs, Brian Norgard', 'Indian Angel Network',
       'Jitendra Gupta, Harsh Shah',
       'Elevation Partners, Emergent Ventures',
       'Kalaari Capital, Dream Capital', 'Lumikai',
       'Matrix Partners India', 'C4D Partners', 'Bertelsmann India',
       'Iron Pillar, Nordstar, Binny Bansal',
       'FMC, Omnivore, Blume Ventures', 'InvestCorp', 'Upsparks',
       'Y Combinator, 9Unicorns, Titan Capital',
       'Unicorn India Ventures, SEA Fund, Devdatt Shah',
       'Matrix Partners India, Elevation Capital',
       'Avaana Capital, Orios Ventures', 'Punit Balan',
       'Y Combinator, Broom Ventures, Kunal Shah',
       'Skycatcher, AET Fund, BAce Capital, Dream Incubator, 1Up Ventures',
       'Eclear Leasing', 'Pritesh Kumar, Bharat Gupta',
       'First Cheque, Letsventure', 'Sequoia Capital India, BEENEXT',
       'Velocity', 'Tribe Capital, Moore Strategic Ventures (MSV)',
       'Fireside Ventures', 'Inflection Point Ventures, ONGC',
       'Y Combinator, Incubate Fund India',
       'Titan Capital, Rockstud Capital,  John Abraham, WEH Ventures',
       'Info Edge Ventures', 'NB Ventures', 'Accel',
       'Binny Bansal, Kunal Shah', 'TradeCred', 'Unicorn India Ventures',
       'UC Inclusive Credit, Western Capital',
       'IIFL India Private Equity Fund, Smiti Holding & Trading Company',
       'Faering Capital', 'responsAbility Investments, Blue Orchard',
       'Sanchit Agarwal, Sujan Sinha, Michael Cooke',
       'CRV, Nexus Venture Partners',
       'Salesforce Ventures, Sierra Ventures, Sequoia Capital India’s Surge',
       'Micelio Fund, growX ventures',
       'IIFL Wealth, Asset Management, Northern Arc Capital',
       'Better Capital, Ashish Achrekar', 'IAN', 'Alpha Wave Incubation',
       'Point One Capital, Yatra Angel Network (YAN), Opus Consulting, Manipal Technologies.',
       'Microsoft', 'Shell Ventures, Yamaha, Kunal Shah',
       'We Founder Circle',
       'Saama Capital, DSG Consumer Partners, Sharrp Ventures',
       'Tiger Global’s Scott Schleifer', 'Elevation Capital',
       'Venture Catalysts, Auxano Capital, Venture Garage, Yoga Capital, Ah!Ventures, Lead Angels',
       'Sixth Sense Ventures', '9Unicorns, Sequoia Capital India’s Surge',
       'Anicut Angel Fund, 9 Unicorns', 'Info Edge, FalconEdge',
       'WestCap Group, Tomales Bay Capital',
       'Chiratae Ventures, Better Capital',
       'Siguler Guff, Baillie Gifford',
       'IIFL AMC, Mankind Pharma Family Office, Aroa Ventures',
       'ITI Growth Opportunities', 'Amrac Investment Trust',
       'Bhavin Turakhia', 'Amara Raja Batteries',
       'India Infoline Finance', 'Venture Highway', 'BEENEXT, Orios',
       'Axilor', 'Westbridge Capital, Tanglin Venture Partners',
       '100X.VC\ufeff,\ufeff Titan Capital, Rahul Mathur, Gaurav Mandlecha',
       'IIFL, Amicus Capital, Ananta Capital',
       'Venture Highway, Endiya Partners',
       'Verlinvest, Sequoia Capital India', 'Anicut Angel Fund',
       'Tiger Global',
       'Alphabit Fund, Fulgur Ventures, Stacks Accelerator, SBX Capital',
       'Roots Ventures, Velo Partners', 'Nexus Venture Partners',
       'Mumbai Angels Network, Huddle, Lumis Partners',
       'SucSEED Indovation Fund',
       'Potencia Ventures, Bisk Ventures, LetsVenture, Ronnie Screwvala, Arihant Patni',
       'Better Capital, First Cheque, Titan Capital', 'Evolvence Capital',
       'SARA ELGI',
       'Nubank, Global Founders Capital, Sequoia Capital India, Matrix Partners India',
       'ah! Ventures High Tables',
       'Eight Roads Ventures, Think Investments, Mankekar Family Office',
       'A91 Partners', 'Chiratae Ventures', 'Sequoia’s Surge',
       'Lead Angels, Titan Capital, Pravega Ventures',
       'Accel Partners, Elevation Capital',
       'Inflection Point Ventures, Rockstud Capital, FirstPort Capital, Bliss Flow Investments Pvt Ltd',
       'Anicut Angel Fund, Axilor Ventures',
       'Ecosystem Ventures, CMM group',
       'Mumbai Angels Network, Social Alpha', 'Disrupt ADQ, QIC',
       'Valar Ventures, IA Ventures', 'Sequoia Capital India', 'Zomato',
       'Lightspeed, Times Group, Tanglin Venture Partners',
       'Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gokul Rajaram, Shirish Nadkarni',
       'Tuscan Ventures, Ohm Stock Brokers, Artha Venture Fund',
       'Signal Peak Ventures', 'Evolvence, Hero Enterprise',
       'BlueOrchard Impact Investment Managers', 'Steadview Capital',
       'MassMutual Ventures', 'YourNest VC', 'Accel India',
       'Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose',
       'TVS Motor, Zoho', 'IIFL Asset Management',
       'Oasis Capital, Scorpio VC, DeltaHub Capital',
       'Titan Capital, Haresh Chawla, AngelList Syndicate',
       '9Unicorns, Ashneer Grover', 'Founders Room Capital',
       '9Unicorns, ZNL', 'WEH Ventures',
       'Morgan Stanley Private Equity Asia',
       'Anshuman Maheshwary, Dr Srihari Raju Kalidindi',
       'Kunal Shah, Deepinder Goyal, Abhiraj Singh Bhal',
       'Guild Capital, RPSG Capital Ventures',
       'General Catalyst, Eight Roads Ventures, Elevation Capital',
       'NB Ventures, Earlsfield Capital', 'Varun Alagh, Sahil Barua',
       'SoftBank Vision Fund 2', 'Tribe Capital, Prime Venture Partners',
       'Jungle Ventures', 'Marquee international institutional investors',
       'Alkeon Capital', 'Y Combinator, Harvard Management',
       'Y Combinator\ufeff, \ufeffGoodwater Capital',
       'Shrishti Sahu, Umang Vohra', 'Astra Ventures, Gaurav Jaitly',
       'Capital A, Collective Artists Network',
       'Aditya Singhal, Nishant Sinha', 'Pentathlon Ventures',
       'Alpha Wave Ventures II, Tiger Global Management, SoftBank Vision Fund II',
       'KRAFTON', 'Chiratae Ventures, Lenskart Vision Fund', 'Recur Club',
       'DevX Venture Fund', 'DevX Venture Fund, Blume Founder Fund',
       'Ajith Daneil', 'Aurum Proptech', 'Y-Combinator',
       'The Good Glamm Group', 'Invus', 'Tiger Global, Prosus Ventures',
       'Shuru Up, Ankit Kedia, Arun Gupta',
       'Ankit Mehrotra, Saurabh Aggarwal', 'Sauce.vc',
       '3one4 Capital, Sixth Sense Ventures',
       'YCombinator, Justin Mateen, Pioneer Fund',
       'Sojitz Corporation, Stride Ventures',
       'IIFL Wealth, TPG Growth, Norwest Venture Partners',
       'Nabventures, Avaana Capital', 'Fluid Ventures, Mulberry Silks',
       'Rajesh Rajendran', 'Mike Novogratz, Neeraj Arora',
       'Reliance Digital Health', 'Ritu Marya Family Office.',
       'Ten Innovate', 'Tiger Global, Sequoia Capital',
       'Shark Tank India', 'Premji Invest, Steadview Capital', 'Sequoia',
       'Apis Insurtech Fund I', 'SK Tripathi, Sanjeev Gupta',
       'Hardcastle Petrofer', 'Ocean View Investment, QED Fund',
       'Omidyar Network, Tencent Holdings',
       'ITI Growth Opportunities Fund, Unit-E Ventures',
       'InnoVen Capital, Nexus Venture Partners', 'CIIE.CO',
       'Orios Venture Partners', 'Omidyar Network India',
       'Wipro venture capital arm', 'Yuj Ventures, Sixth Sense Ventures',
       'Premji Invest, Mirae Asset Naver Asia Growth Fund, Alpine Capital',
       'Inflection Point Ventures, SucSEED Venture Partners',
       'Anas Rahman Junaid, Vinod Jose', 'Capital One, Arrowroot Capital',
       'YourNest Venture Capital', 'Incubate Fund India',
       'Kunal Shah, Greg Kidd', 'InnoVen Capital, TEAMFund',
       'Venture Catalysts, 9Unicorns Accelerator Fund',
       'Venture Highway, Rohit Bansal', 'Fresco Capital, Social Starts',
       'Y Combinator, Rebright Partners',
       'Rohit Goutamchand, India CXO Fund',
       'Rajasthan Venture Capital Fund, ACPL Exports',
       'Amplo, Insight Partners', 'Better Capital', 'Justin Mateen',
       'View Trade Holding Corp',
       'InnoVen Capital, Bertelsmann India Investments', 'ScoopWhoop',
       'Canaan Valley Capital, Glade Brook Capital Partners',
       'Vijay Shekhar Sharma, Dr Ritesh Malik',
       'RTP Global, Harshil Mathur', 'Paragon Partners, NABVENTURES',
       'EXPERT DOJO', 'Saama Capital, India Quotient',
       'InCred Financial Services, Vivriti Capital, Northern Arc Capital',
       'ah! Ventures', 'Somak Ghosh, M V Nair', 'Wurk',
       'Plutus Wealth Management, Turtle Entertainment',
       'Ambiga Subramanian, Goutham Ekollu', 'Accel, Owl Ventures',
       'Rajan Anadan', 'Jesse Lucas',
       'IDFC Private Equity, Bessemer Venture Partners',
       'Sequoia Capital India, Accel',
       'Venture Catalysts, Tahseen Consulting', 'Equanimity Ventures',
       'BlueOrchard Finance S A, Gojo & Company',
       'Better Capital, Titan Capital', 'Gojo & Company', 'Mumbai Angels',
       'Pegasus Tech Ventures, Base Partners', '3one4 Capital, Accel',
       'Hitesh Oberoi, Lightbox', 'YES Bank', 'Campus Fund',
       'Hyperplane Venture Capital', 'Matrix Partners India, RTP Global',
       'Info Edge, Ruizheng Investment', 'Quess Corp India',
       'Sunil Kumar Singhvi, 9Unicorns Accelerator Fund',
       'India Accelerator’s Angel Investor Network', 'Shell Foundation',
       'Jimmy Singh', 'Kunal Shah, Deepak Abbot', 'Accel, Nexus Venture',
       'Singapore Angel Network, Artha India Ventures',
       'Starfish Growth Partners, Investpad', 'Hashed', 'Titan Capital',
       "Zerodha's Rainmatter Capital, Better Capital",
       'Sixth Sense Ventures, Colgate Palmolive',
       'Lightbox, Evolvence India Fund', 'Tomorrow Capital',
       'Inflection Point Ventures, DLabs',
       'InnoVen Capital, Steadview Capital', 'BlackSoil Capital',
       'PointOne Capital, Core91 VC', 'A91 Partners, Faering Capital',
       'Blockchain Capital, SBI Ven Capital',
       'Baring Private Equity Partners India, Talbros',
       'Sequoia Capital India, 3one4 Capital',
       'Prosus Ventures, RTP Global',
       'U.S. International Development Finance Corp, responsAbility',
       'Binance Labs, Zee Prime Capital', 'RP-Sanjiv Goenka Group',
       'IvyCap Ventures', 'Zone Startups In', 'Blue Ashva Capital',
       'Ribbit Capital, Kunal Shah', 'Ecom Express', 'InnoVen Capital',
       'Satish Grampurohit', 'Amit Singhal, Raine Ventures',
       'Octahedron Capital, Moonstone Capital',
       'Tiger Global, Dragoneer Investment Group, Steadview Capital, General Atlantic',
       'CDC Group, Aavishkaar Venture Capital', 'GSF, Pras Hanuma',
       'Ajat Hukkoo, Piyush Chaplot', 'Mumbai Angels, Amitesh Pandey',
       'Think Investments',
       'Nexus Venture Partners, 23 High Networth Individuals (HNIs)',
       'Yatra Angel Network, BEENEXT',
       'Orios Venture Partners, Matrix Partners India', 'Trishneet Arora',
       'ContCentric', 'Siana Capital', 'DST Global, General Catalyst',
       'Anthill Ventures', 'InnoVen Capital, InnoVen Capita',
       '3one4 Capital, DSP Group', 'Enzia Ventures, AngelList',
       'Steadview Capital, Insight Partners',
       'Invested Development, Pratithi Investment Trust',
       'Dhianu Das, Agility Venture Partners', 'Hindustan Media Venture',
       'Omnivore', 'Awign Enterprises',
       'Siddharth Bhaskar Shah, Upsparks', 'S Chand',
       'Goldman Sachs, Tata Capital', 'growX ventures, Venture Gurukool',
       'Mount Judi India Growth Fund', 'GEF Capital’s South Asia Fund',
       'Sunil Sethia, Sunil Kumar Singhvi, Manish Mardia',
       'Sequoia Capital', 'Mechanism Capital, DACM',
       'Northern Arc Capital, Niyogin Fintech Limited, Credit Saison India, Vivriti Capital',
       'Pearl Investment LLC', '021 Capital, Sparrow Capital',
       'Kotak Investment Advisors Limited, Gruhas Proptech', 'VANS Group',
       'Sachin Tendulkar', 'Xentel Investments', 'Accel Partners',
       'Waterbridge, Lumikai', 'Auxano, Falcon5', 'Infoedge ventures',
       'JITO Angel Network', 'Jupiter', 'Unitus Ventures',
       'GIC, Infoedge', 'pi Ventures',
       'Northern Arc, Caspian Impact Investments', 'Sofina Ventures SA',
       'Tiger Global, Flipkart Ventures',
       'Inflection Point Ventures, Rockstud Capital, Pentathlon Ventures, Prophetic Ventures syndicate',
       'Prime VP', 'Tribe Capital, IFC Emerging Asia Fund, VEF',
       'Sequoia’s Surge, Y Combinator', 'Endiya Partners',
       'Gokul Rajaram, Pureland Venture, Wavemaker Partners',
       'Callapina Capital', 'Khosla Ventures',
       'Accel Partners, Matrix India',
       'Omidyar Network India, Innoven Capital', 'Temasek, Falcon Edge',
       'Deep Kalra, Ashish Kashyap, Rajesh Magow',
       'IAN, Social Alpha, Startup Oasis', 'Capital India',
       'FirstCry, Lightspeed Venture Partners',
       'Accel, LetsVenture, 1Crowd', 'SAB Holdings',
       'Lightspeed Venture Partners, Elevation Capital',
       'Mumbai Angels Network', 'Jayanti Kanani',
       'LeapFrog, Khosla Ventures', 'Ananta Capital',
       'Northern Arc, Vivriti Capital', 'TATA Cleantech Capital',
       'Aqua-Spark', 'Climate Angels Fund',
       'Sequoia’s Surge, Nexus Venture Partners',
       'Entrepreneur First (EF), GrowX Ventures', 'Zephyr Peacock',
       'ADM Capital', 'SoftBank Vision Fund, Hindustan Media Venture',
       '100x Entrepreneurs', 'Healthcare veterans, PIEDS',
       'Bank of Baroda', 'YCombinator', 'IAN Fund', 'Vishal Gupta',
       'Mirae Asset, H&M', 'Kotak Securities', 'Klub',
       'Balaji Srinivasan', '$1000000', 'BASF Venture Capital GmbH',
       'Rebright Partners, Flourish Ventures', 'Sequoia Surge',
       'Titan Capital, Sequoia Capital', 'Parthiv Group',
       'Omkar Pandharkame, Ketaki Ogale',
       'GetVantage, Velocity, Shiprocket Capital', 'Krafton Inc, Omidyar',
       'Blume Ventures, Exfinity Venture Partners',
       'Beyond Next Ventures, M Venture Partners', 'AdvantEdge Founders',
       'Faering Capital, Sequoia Capital India, IIFL Alternate Asset Managers',
       'Sixth Sense Ventures, NABVENTURES', 'Temasek, Multiples PE',
       'Griffin Gaming Partners', 'Zinnia Global',
       'InfoEdge Ventures, IAN Fund', 'IIFL, Mumbai Angels',
       'BEENEXT, Sequoia’s Surge', 'Antler India', 'Bharat Inclusion',
       'Fidelity, BlackRock', 'Blacksoil', 'Speciale Invest',
       'Canbank Venture Capital Fund', 'W Health Ventures',
       '021 Capital, Y Combinator', 'Anand Prakash Sharma',
       'Axilor Ventures', 'velocity.in', 'March Capital, Tribe Capital',
       'Learn Capital', 'RTP Global', 'IAN, Yuj Ventures',
       'Sequoia’s Surge, Accel Partners', 'Uday Sodhi', 'Fidelity, GIC',
       'Auxano', 'Angelist India',
       'Stanford Angels and Entrepreneurs India, Anjali Bansal',
       'Vy Capital, Wellington Management', 'Avon Cycles',
       'Matrix Partners India, 021 Capital', 'HNIs, Angels',
       'NewQuest Capital Partners, Motilal Oswal Private Equity',
       'Lasons India', 'Pankaj Chaddah, Srivatsan Rajan', 'Paytm',
       'BlackSoil, CLSA Capital Partners', 'Saama, Whiteboard Capital',
       'Indian Angel Network, Titan Capital, Lead Angels',
       'The Chennai Angels',
       'Venture Highway, Stellaris Venture Partners',
       'State Bank of India, Y Combinator', 'Sanjay Baldwa, Ajay Jain',
       'InfoEdge', 'Nitin Passi, Ruchirans Jaipuria',
       'Stride Ventures, InnoVen Capital',
       'Venture Catalysts, Jeevak Gupta',
       'Triodos Investment Management, SAIF Partners', 'N+1 Capital',
       'DST Global, RTP Global', 'Amit Singal, Manish Aggarwal',
       'Trifecta Capital Advisors, Blume Ventures',
       'Kumar Aakash, Amit Singhal', 'growX ventures',
       'Shaival Desai, Alkemi Venture Partners',
       'Aavishkaar Venture Capital, YWC Venture Capital',
       'Alteria Capital', 'Tiga Investments, Baron Capital',
       'Venture Catalysts, 9unicorns', 'Qualgro',
       'Amit Lakhotia, Pravin Jadhav', 'Pravega Ventures',
       'Greenoaks Capital, Elevation Capital',
       'Sequoia Capital India, rocketship.vc', 'BLinC Invest',
       'Spring Marketing Capital', 'Chaitanya Kalipatnapu, Kedar Gavane',
       'Roha Investment Managers, angel investor Saumil Shah',
       'TNF Ventures, Razorpay', 'Lok Capital, IIFL Asset Management',
       'Nvidia Inception', 'Tiger Global Management, DST Global',
       'Marquee investors', 'Ashish Hemrajani, Parikshit Dar',
       'India Accelerator, Lyxel&Flamingo', 'Roshan Abbas, Ritesh Malik',
       'Goat Capital, JAM Fund', 'General Catalyst, Jungle Ventures',
       'Blackstone Group, ADQ', 'GoAhead Ventures',
       'Paradigm Shift Capital, AngelList India', 'Arali Ventures',
       'Anup Kumar Yama', 'Aryaman Vir', 'iSeed, Titan Capital',
       'Research Innovation Incubation Design Labs', 'Sushil Agarwal',
       'IvyCap Ventures, Endiya Partners',
       'GUSEC Seed Fund, DeVX Venture Fund', 'Tiger Global, Sequoia',
       'Quadria Capital', 'Blume Ventures, Whiteboard Capital',
       'Ashwini Kakkar. 9Unicorns', 'Ashish Shah', 'Faad Network',
       'Paragon Partners, Aavishkaar Capital', 'Krafton, Lumikai',
       'Indovation Fund, Mumbai Angels', 'Gunosy, Blume Ventures',
       'Edge Ventures, Elevation Capital', 'CDC Group',
       'Titan Capital, Kunal Shah',
       'Yamaha Motors, Omidyar Network India, Eight Roads Ventures',
       'Norfund, The Rise Fund', 'Siti Cable',
       'Crossbeam Venture Partners', 'Aavishkaar Capital', 'Mapmyindia',
       'Jyoti Bansal', 'Accor',

In [1129]:
#replacing any string or unicode with an empty space
data_2021['investor'] = data_2021['investor'].replace(r'\ufeff', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'#REF', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'http://', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'/', '', regex=True)

data_2021['investor'] = data_2021['investor'].replace(r'\t!', '', regex=True)

In [1130]:
# Searching for the Row with unusual investor Name to check if it is not a misplaced data entry
data_2021['investor'] = data_2021['investor'].fillna('').astype(str)
search_string = "1000000"
result = data_2021[data_2021['investor'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,Pre-series A,None,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000,Seed,None,2021

In [1131]:
# this is to reorder the entries in row 545 
data_2021.loc[545, 'stage'] = data_2021.loc[545, 'amount']
data_2021.loc[545, 'amount'] = data_2021.loc[545, 'investor'] 
data_2021.loc[1148, 'stage'] = data_2021.loc[1148, 'amount']
data_2021.loc[1148, 'amount'] = data_2021.loc[1148, 'investor']

In [1132]:
# Searching for the Row with unusual investor Name to check if it is not a misplaced data entry
data_2021['investor'] = data_2021['investor'].fillna('').astype(str)
search_string = "2000000"
result = data_2021[data_2021['investor'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
902,EyeMyEye,2021.0,Gurugram,Eyewear,"Shop the latest Eyeglasses, Sunglasses, Power ...",Ganesh Iyer,2000000,$2000000,Pre-series A,2021

In [1133]:
# this is to fill the investor at row 902 with the right investor name which was found online
data_2021.loc[902, 'investor'] = "Hyderabad "

Reference for the name of the headquarter:

https://www.crunchbase.com/organization/fullife-healthcare

Reference for the name of the investor:

https://pitchbook.com/profiles/investor/90410-41#overview

Cleaning of 'Amount ($)' column of 2021

Key issues identified

* Some entries in this column were supposed to be in other columns
* values were stored in string 

Aprroach to Clean the column

 
A research was done online (Crunchbase and other search links) by using the Company name, to determine the actual information(Stage or HeadQuater) to populate the rows that had such information missing as well.
References were duly done.
We converted the amount column to numeric(float) and the errors=coerce parameter converts non numeric to nan values.

In [1134]:
# this is to view the entries in this column
unique_values = data_2021["amount"].unique()
unique_values

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       '$1200000', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', 'Upsparks', '$400000', '$150000000', '$4000000',
       '$100000000', '$500000', '$15000000', '$10000000', '$40000000',
       '$225000000', '$6700000', '$1300000', '$20000000', '$250000',
       '$21000000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', '$96000000',
       '$60000000', '$500000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$150000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$86000000', '$130000', '$$100,00', '$111000000', '$265000',
       '$76000000', '$100,000,000', '$75,000,000', '$3,800,000',
       '$12,000,000', '$1,600,000', '$260,000', '$1,000,000,000',
       '$18,000,000', '$20,000,000', '$350,000', '$95,000,000',
       '$4,100,000', '$5,200,000', '$8,000,000', '$1,400,000',
       '$2,600,000', '$900,000', '$250,000', '$16,000,000', '$7,000,000',
       '$11,000,000', '$280,000,000', '$50,000,000', '$14,300,000',
       '$81,000,000', '$1,300,000', '$8,200,000', '$70,000,000',
       '$720,000', '$600000', '$9000000', '$1800000', '$330000',
       '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'ITO Angel Network, LetsVenture', '$48000000', '$3600000',
       '$11000000', '$192000000', '$65000000', '$1400000', '$1900000',
       '$41000000', '$144000000', '$5200000', '$270000000', '$140000',
       '$250000000', '$320000', '$350000000', '$4800000', '$38000000',
       '$125000', '$26000000', '$64000000', '$620000', '$900000',
       'JITO Angel Network, LetsVenture', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$6,300,000', '$12,500,000', '$24,000,000', '$140,000',
       '$16,500,000', '$340,000', '$43,000,000', '$150,000,000',
       '$3300000', '$92000000', '$17000000', '$135000000', '$$1,55,000',
       '$2100000', '$840000000', '$248000000', '$4300000', '$570000',
       '$2200000', '$4700000', '$300000000', '$260000000', '$140000000',
       '$175000000', '$19000000', '$810000', '$7500000', '$600000000',
       '$90000000', '$5700000', '$6750000', '$78000000', '$5400000',
       '$115000000', '$255000000', '$18000000', '$570000000', '$550000',
       '$2700000', '$4200000', '$31000000', '$540000', '$14000000',
       '$340000', '$', '$6200000', '1000000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [1135]:
# this is to search for the row that has the ah! Ventures
data_2021['amount'] = data_2021['amount'].fillna('').astype(str)
search_string = "ah! Ventures"
result = data_2021[data_2021['amount'].str.contains(search_string)]


result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,2021

In [1136]:
# this is to reorder the entries in row 538 and the right funding stage obtained online is fixed at the stage column 
data_2021.loc[538, 'investor'] = data_2021.loc[538, 'amount'] 
data_2021.loc[538, 'amount'] = data_2021.loc[538, 'stage']
data_2021.loc[538, 'founders'] = data_2021.loc[538, 'investor']
data_2021.loc[538, 'stage']= 'Seed'

Reference:

https://www.crunchbase.com/organization/little-leap

In [1137]:
# this is to search for the row that has the JITO Angel Network, LetsVenture
search_string = "JITO Angel Network, LetsVenture"
result = data_2021[data_2021['amount'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021

In [1138]:
# this is to reorder the entries in row 677 and the right funding stage obtained online is fixed at the stage column
data_2021.loc[677, 'founders'] = data_2021.loc[677, 'investor']
data_2021.loc[677, 'investor'] = data_2021.loc[677, 'amount'] 
data_2021.loc[677, 'amount'] = data_2021.loc[677, 'stage']
data_2021.loc[677, 'stage']= 'Seed'

Reference:

https://www.crunchbase.com/organization/saarthi-pedagogy

In [1139]:
# ITO Angel Network, LetsVenture and JITO Angel Network, LetsVenture are the same investors for the said company in that row, hence we renamed it appropraitely

search_string = "ITO Angel Network, LetsVenture"  # name is JITO
result = data_2021[data_2021['amount'].str.contains(search_string)]

# Replace the specific string value in the 'Amount($)' column
data_2021.loc[551, 'amount'] = data_2021.loc[551, 'amount'].replace('ITO Angel Network, LetsVenture', 'JITO Angel Network, LetsVenture')

# Display the updated DataFrame
data_2021.loc[551, 'amount']

'JITO Angel Network, LetsVenture'

In [1140]:
# this is to search for the row that has the JITO Angel Network, LetsVenture
search_string = "JITO Angel Network, LetsVenture"
result = data_2021[data_2021['amount'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","JITO Angel Network, LetsVenture",$300000,2021

In [1141]:
# this is to reorder the entries in row 677 and the right funding stage obtained online is fixed at the stage column
data_2021.loc[551, 'founders'] = data_2021.loc[551, 'investor']
data_2021.loc[551, 'investor'] = data_2021.loc[551, 'amount'] 
data_2021.loc[551, 'amount'] = data_2021.loc[551, 'stage']
data_2021.loc[551, 'stage']='Angel round'

In [1142]:
# Convert 'Amount' column to float:values were stored in string so you convert to numeric(float) and the errors=coerce parameter converts non numeric to nan values 
data_2021['amount'] = pd.to_numeric(data_2021['amount'], errors='coerce')

Cleaning of 'Stage' column of 2021

Key issues identified
* Some entries in this column were supposed to be in other columns
 

Aprroach to Clean the column
 
we reordered the entries to be in its appropriate column.

In [1143]:
# this is to view the entries in this column
unique_values = data_2021["stage"].unique()
unique_values

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       ' Series A', '$1200000', 'Bridge', 'Seed+', 'Series F2',
       'Series A+', 'Series G', 'Series F', 'Series H', 'Series B3', 'PE',
       'Series F1', 'Pre-series A1', 'Angel round', 'Early seed',
       'Series D1', '$6000000', 'Seies A', 'Pre-series', 'Series A2',
       'Series I'], dtype=object)

In [1144]:
# this is to search for the wrong entry of 6000000
data_2021['stage'] = data_2021['stage'].fillna('').astype(str)
search_string = "6000000"
result = data_2021[data_2021['stage'].str.contains(search_string)]

result

,company_brand,founded,headquarter,sector,about_company,founders,investor,amount,stage,year
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,NaN,$6000000,2021

In [1145]:
# this is to reorder the entries in row 674
data_2021.loc[674, 'founders'] = data_2021.loc[674, 'investor'] 
data_2021.loc[674, 'amount'] = data_2021.loc[674, 'stage']

In [1146]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1209 non-null   object
 1   founded        1208 non-null   float64
 2   headquarter    1209 non-null   object
 3   sector         1209 non-null   object
 4   about_company  1209 non-null   object
 5   founders       1205 non-null   object
 6   investor       1209 non-null   object
 7   amount         2 non-null      object
 8   stage          1209 non-null   object
 9   year           1209 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 94.6+ KB

Reference:
https://tracxn.com/d/companies/myre-capital/__ZHNi4qEAbGSv1E4Y9xHHhX5nEs6zuB6-9PZhA13dPVc

 # **MERGING THE 4 DATASETS**

In [1147]:
# Merging the data sets 2018 to 2021 to get a Complete_data
complete_data = pd.concat([data_2018, data_2019,data_2020,data_2021], ignore_index = True)

complete_cols = ["company_brand","founded","headquarter", "sector","about_company","founders","investor","amount","stage","year"]

In [1148]:
complete_data.head(10)

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,2018,NaN,NaN,NaN
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,233600.0,"Kalkaji, Delhi, India",Tripshelf is an online market place for holida...,2018,NaN,NaN,NaN
7,Hyperdata.IO,Market Research,Angel,730000.0,"Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...,2018,NaN,NaN,NaN
8,Freightwalla,"Information Services, Information Technology",Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,2018,NaN,NaN,NaN
9,Microchip Payments,Mobile Payments,Seed,NaN,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...,2018,NaN,NaN,NaN

In [1149]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2415 non-null   object
 3   amount         1270 non-null   object
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   int64
 7   founded        2139 non-null   object
 8   founders       2334 non-null   object
 9   investor       2315 non-null   object
dtypes: int64(1), object(9)
memory usage: 225.1+ KB

In [1150]:
# this is to check if the complete dataset has duplicated entries 
complete_data.duplicated().sum()

24

In [1151]:
#duplicated entries were dropped 
complete_data.drop_duplicates()

,company_brand,sector,stage,amount,headquarter,about_company,year,founded,founders,investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,NaN,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2875,Vahdam,Food & Beverages,Series D,NaN,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC
2876,Leap Finance,Financial Services,Series C,NaN,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2877,CollegeDekho,EdTech,Series B,NaN,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2878,WeRize,Financial Services,Series A,NaN,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

 *Cleaning 'Amount' column*

 **Notes**  
- Remove all currency signs  

- Remove all other umwanted characters, words and symbols  

- Fill the nulls uning interpolate method 

- Convert the column from object to float

In [1152]:
# Define conversion rates for each year
conversion_rates = {
    2018: 0.01482,
    2019: 0.01434,
    2020: 0.01331,
    2021: 0.01378
}

# Optimized function to clean and convert Amount values
def clean_amount(amount, year):
    # Ensure the amount is treated as a string
    if pd.isnull(amount):
        return 0
    amount = str(amount).strip()
    # Handle specific non-numeric strings
    if amount in ['-', '—', '--', 'Undisclosed', 'Undisclosed ']:
        return 0
    # Remove currency symbols and commas
    amount = amount.replace(',', '').replace('$', '').replace('₹', '')
    try:
        # Convert based on year if it's in rupees
        if '₹' in amount:
            return float(amount) * conversion_rates[year]
        # Otherwise, assume it's already in dollars
        return float(amount)
    except ValueError:
        # If conversion fails, return 0
        return 0

# Apply the cleaning function to the Amount column
complete_data['amount'] = complete_data.apply(lambda row: clean_amount(
    row['amount'], row['year']), axis=1)

In [1153]:
complete_data['amount'].isna().sum()

0

 *Cleaning year column*

*Notes*  

- Convert data type to period

In [1154]:
# Convert the year column to date
complete_data['year']=pd.to_datetime(complete_data['year'], format='%Y')

In [1155]:
# check for nulls and duplicated
print(f"There are {complete_data['year'].isna().sum()} Null values in the 'year' column")

There are 0 Null values in the 'year' column

In [1156]:
complete_data['year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2879 entries, 0 to 2878
Series name: year
Non-Null Count  Dtype
--------------  -----
2879 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 22.6 KB

 *Cleaning 'founded' column*

 **Notes**
- Handle nulls by populating with the backward fill

In [1157]:
print(f"There are {complete_data['founded'].isna().sum()} Null values in the 'founded' column")

There are 740 Null values in the 'founded' column

In [1158]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2866 non-null   object
 2   stage          2415 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2139 non-null   object
 8   founders       2334 non-null   object
 9   investor       2315 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 225.1+ KB

In [1159]:
# Replacing null values in 'Founded' with the median year and ensuring all entries are integers
# Convert non-numeric values to NaN
complete_data['founded'] = pd.to_numeric(complete_data['founded'], errors='coerce')

# Finding the median year after converting non-numeric values to NaN
median_year = complete_data['founded'].median()

# Filling NaN values in 'Founded' column with the median year
complete_data['founded'].fillna(median_year, inplace=True)

# Converting 'Founded' column to integers
complete_data['founded'] = complete_data['founded'].astype(int)

In [1160]:
print(f"There are {complete_data['founded'].isna().sum()} missing values")

There are 0 missing values

*Cleaning the 'founders' column*

In [1161]:
# Remove unwanted characters
complete_data['founders'] = complete_data['founders'].replace(['...', np.nan], np.NaN)

# Check the number of NaN values in the 'founders' column
nan_count = complete_data['founders'].isna().sum()

print(nan_count)

545

In [1162]:
# Trimming white spaces and standardize text format to title case for 'Founders'
complete_data['founders'] = complete_data['founders'].str.strip().str.title()

# Filling null values in 'Founders' with 'Unknown'
complete_data['founders'].fillna('Unknown', inplace=True)

In [1163]:
complete_data['founders'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2879 entries, 0 to 2878
Series name: founders
Non-Null Count  Dtype
--------------  -----
2879 non-null   object
dtypes: object(1)
memory usage: 22.6+ KB

*Cleaning Stage column*

link: https://www.startupindia.gov.in/content/sih/en/funding.html

we will categorize our seris into these stages
-others:Miscellaneous phases or unique development activities.
-Early Traction:Gaining initial traction, attracting early adopters, and refining based on feedback. |
-validation and feedback:Validating the business model, product-market fit, and scalability through research and feedback. |
-ideation/outlining plans:Brainstorming and developing business concepts, defining value propositions, and outlining plans. |
-Scaling:Expanding operations, customer base, and market reach for rapid growth.
-Exit option:Considering exit strategies such as mergers, acquisitions, or IPOs.

In [1164]:
# Dictionary for mapping stages to standardized terms
stage_mapping = {
    r'(?i)^angel$': 'Pre-Seed',
    r'(?i)^seed (funding|fund|round|investment|a|\+)?$': 'Seed',
    r'(?i)^pre[-\s]?seed( round)?$': 'Pre-Seed',
    r'(?i)^pre[-\s]?series[-\s]?a1?$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?a$': 'Pre-Series A',
    r'(?i)^pre- series a$': 'Pre-Series A',
    r'(?i)^pre[-\s]?series[-\s]?b$': 'Pre-Series B',
    r'(?i)^pre[-\s]?series[-\s]?c$': 'Pre-Series C',
    r'(?i)^early seed$': 'Pre-Seed',
    r'(?i)^series a[-\s]?[1+2]?$': 'Series A',
    r'(?i)^series b[-\s]?[+2-3]?$': 'Series B',
    r'(?i)^series c, d$': 'Series C',
    r'(?i)^series d1$': 'Series D',
    r'(?i)^series e2$': 'Series E',
    r'(?i)^series f[1-2]?$': 'Series F',
    r'(?i)^venture - series unknown$': 'Venture',
    r'(?i)^post series a$': 'Post-Series A',
    r'(?i)^non-equity assistance$': 'Other',
    r'(?i)^corporate round$': 'Other',
    r'(?i)^bridge( round)?$': 'Other',
    r'(?i)^private equity$': 'PE',
    r'(?i)^secondary market$': 'Other',
    r'(?i)^debt financing$': 'Debt',
     r'(?i)^post-ipo (debt|equity)$': 'Post-IPO',
    r'(?i)^undisclosed$': 'Other',
    r'(?i)^funding round$': 'Other',
    r'(?i)^fresh funding$': 'Other',
    r'(?i)^mid series$': 'Other',
    r'(?i)^edge$': 'Other',
    r'(?i)^grant$': 'Grant',
    r'(?i)^seies a$': 'Series A',
    r'(?i)^pre[-\s]?series$': 'Pre-Seed',
    r'(?i)^angel round$': 'Pre-Seed',
    r'(?i)^seed round & series a$': 'Seed',
    r'(?i)^series i$': 'Series I'
}

# Applying the mappings using regular expressions
for pattern, replacement in stage_mapping.items():
    complete_data['stage'] = complete_data['stage'].str.replace(pattern, replacement, regex=True)

complete_data['stage'] = complete_data['stage'].str.replace(r'(?i)seed\+', 'Seed', regex=True)

# Replacing numeric and erroneous entries with 'Unknown'
complete_data['stage'] = complete_data['stage'].replace(
    r'\$\d+', 'Unknown', regex=True)  # Catch dollar amounts
complete_data['stage'] = complete_data['stage'].replace(
     r'https?://\S+', 'Unknown', regex=True)  # Catch URLs

# Handle NaN values
complete_data['stage'].fillna('Unknown', inplace=True)

complete_data['stage'].unique()

array(['Seed', 'Series A', 'Pre-Seed', 'Series B', 'PE', 'Venture',
       'Grant', 'Debt', 'Post-IPO', 'Series H', 'Series C', 'Series E',
       'Other', 'Series D', 'Pre-Series A', 'Series G', 'Venture round',
       'Post-Series A', 'Unknown', 'Series F', 'Series J', 'Pre-Series C',
       'Pre-Series B', '', ' Series A', 'Series I'], dtype=object)

In [1165]:
complete_data['stage'].unique()

array(['Seed', 'Series A', 'Pre-Seed', 'Series B', 'PE', 'Venture',
       'Grant', 'Debt', 'Post-IPO', 'Series H', 'Series C', 'Series E',
       'Other', 'Series D', 'Pre-Series A', 'Series G', 'Venture round',
       'Post-Series A', 'Unknown', 'Series F', 'Series J', 'Pre-Series C',
       'Pre-Series B', '', ' Series A', 'Series I'], dtype=object)

In [1166]:
complete_data['stage'].isnull().sum()

0

 *Cleaning the Sector Column*

In [1167]:
# Comprehensive mappings and sector categories (redefined here for completeness)
comprehensive_mappings = {
    'fintech': 'financial services', 'credit': 'financial services', 'lending': 'financial services',
    'saas': 'software as a service', 'ecommerce': 'e-commerce', 'ecommerce platforms': 'e-commerce',
    'retail': 'e-commerce', 'marketing': 'brand marketing', 'event promotion': 'brand marketing',
    'tech': 'technology', 'tech company': 'technology', 'tech platform': 'technology',
    'tech startup': 'technology', 'cloud computing computer saas software': 'software as a service',
    'software company': 'software', 'software startup': 'software',
    'cloud computing computer software': 'software', 'cloud computing enterprise software': 'software',
    'cloud infrastructure paas saas': 'software as a service', 'edtech': 'education',
    'elearning': 'education', 'higher education': 'education', 'health care': 'health & wellness',
    'wellness': 'health & wellness', 'medical': 'health & wellness', 'healthcare services': 'health & wellness',
    'social commerce': 'e-commerce', 'social ecommerce': 'e-commerce', 'online portals': 'e-commerce',
    'startup': 'startups', 'startup laboratory': 'startups', 'real estate': 'property',
    'commercial real estate': 'property', 'coworking': 'property',
    'communities coworking incubators': 'property', 'commercial real estate coworking office administration real estate': 'property',
    'transport': 'transportation', 'transport automation': 'transportation', 'transport rentals': 'transportation',
    'travel tech': 'travel', 'travel saas': 'travel', 'traveltech': 'travel', 'virtual banking': 'financial services',
    'banking': 'financial services', 'ai': 'artificial intelligence'
}
sector_categories = {
    'Technology': ['artificial intelligence', 'cloud computing', 'software', 'software as a service'],
    'E-commerce': ['e-commerce', 'social commerce', 'online portals'],
    'Fintech': ['financial services'],
    'Healthcare': ['health & wellness'],
    'Education': ['education'],
    'Real Estate': ['property'],
    'Transportation': ['transportation'],
    'Travel': ['travel'],
    'Startups': ['startups']
}

def clean_and_categorize(sector):
    if pd.isna(sector):
        return sector, 'Other'

    # Clean sector description
    sector = sector.lower()
    sector = re.sub(r'[^\w\s]', '', sector)
    sector = re.sub(r'\s+', ' ', sector).strip()

    # Apply mappings and categorize
    mapped_sector = comprehensive_mappings.get(sector, sector)
    for category, keywords in sector_categories.items():
        if any(keyword in mapped_sector for keyword in keywords):
            return mapped_sector, category
    return mapped_sector, 'Other'


# Apply cleaning and categorization function to the "Sector" column
complete_data[['sector', 'Category']] = complete_data['sector'].apply(
    lambda x: pd.Series(clean_and_categorize(x)))

# Mapping dictionary based on the user's specified categories
category_mapping = {
    'technology': ['software', 'ai', 'artificial intelligence', 'iot', 'internet of things', 'machine learning', 'tech', 'saas', 'cloud computing', 'software as a service', 'blockchain'],
    'e-commerce': ['e-commerce', 'online shopping', 'online market', 'online retail', 'ecommerce'],
    'fintech': ['fintech', 'digital payment', 'personal finance', 'insurtech', 'investment platform', 'banking', 'financial services'],
    'healthcare': ['telemedicine', 'biotechnology', 'pharmaceuticals', 'health analytics', 'health & wellness', 'medical', 'healthcare'],
    'education': ['edtech', 'e-learning', 'online courses', 'learning management system', 'educational technology'],
    'agriculture': ['agriculture', 'agritech', 'precision farming', 'farm management software'],
    'renewable energy': ['renewable energy', 'solar', 'wind energy', 'cleantech'],
    'food and beverages': ['food processing', 'health-centric products', 'food delivery', 'catering', 'food and beverage'],
    'mobility and transportation': ['electric vehicle', 'ride-sharing', 'logistics', 'transportation'],
    'retail': ['retail', 'virtual reality shopping', 'retail analytics', 'customer engagement'],
    'real estate': ['real estate', 'property management', 'real estate investment', 'virtual tours', 'property'],
    'manufacturing': ['digital manufacturing', 'robotics', 'manufacturing', 'supply chain optimization'],
    'tourism and hospitality': ['tourism', 'hospitality', 'travel tech', 'booking platform', 'experiential travel'],
    'media and entertainment': ['media', 'entertainment', 'digital media', 'streaming services', 'content creation', 'gaming'],
    'sports technology': ['sports', 'sports analytics', 'athlete performance tracking', 'fan engagement'],
    'beauty and wellness': ['beauty', 'cosmetics', 'wellness', 'wellness apps', 'personalized beauty solutions'],
    'legal tech': ['legal tech', 'legal processes', 'document management', 'client services'],
    'human resources': ['human resources', 'recruitment', 'employee engagement', 'performance management'],
    'cybersecurity': ['cybersecurity', 'network security', 'risk management'],
    'space technology': ['space technology', 'satellite communications', 'space exploration']
}

def map_sector_to_category(sector):
    if pd.isna(sector):
        return 'Other'  # Handle NaN values explicitly
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'  # Default category if no match is found


# Apply the new mapping to the 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_category)

# Update the mapping dictionary to incorporate the new adjustments
category_mapping.update({
    'media and entertainment': category_mapping['media and entertainment'] + ['advertising', 'marketing', 'digital marketing'],
    'mobility and transportation': category_mapping['mobility and transportation'] + ['automobile', 'automobiles', 'automotive', 'autonomous vehicles', 'aviation', 'aerospace'],
    'business services': ['b2b', 'advisory', 'consulting', 'service industry', 'business development'],
    'healthcare': category_mapping['healthcare'] + ['alternative medicine', 'mhealth', 'health apps', 'pharmaceutical apps'],
    'technology': category_mapping['technology'] + ['ar', 'vr', 'augmented reality', 'virtual reality', 'api platform']
    })

# Function to map sectors to categories with updated mappings


def map_sector_to_updated_category(sector):
    if pd.isna(sector):
        return 'Other'
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'


# Reapplying the mapping to the 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_updated_category)

# Updating the category mapping dictionary to incorporate additional groupings
category_mapping.update({
    'accommodation and rental services': ['accommodation', 'bike rental', 'coliving', 'rental services'],
    'consumer goods and services': ['appliance', 'clothing', 'consumer electronics', 'consumer goods', 'eyeglasses'],
    'design and creative industries': ['design', 'deisgning', 'fashion', 'fashion and lifestyle'],
    'energy and environmental services': ['energy', 'energy storage', 'environmental service', 'environmental services'],
    'financial services': category_mapping['fintech'] + ['finance', 'finance company', 'digital mortgage', 'escrow'],
    'technology': category_mapping['technology'] + ['analytics', 'data analytics', 'data science', 'automation', 'drone', 'crypto', 'cryptocurrency']
})

# Reapply the updated mapping to further reduce the 'Other' category
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_updated_category)

# Update the category mapping dictionary to incorporate the latest insights
category_mapping.update({
    'consumer services': category_mapping.get('consumer services', []) + ['consumer service', 'consumer services', 'customer service company', 'customer service messaging', 'home services', 'health diagnostics', 'hospital services', 'hygiene management'],
    'education and training': category_mapping.get('education', []) + ['education', 'education management', 'children education online portals'],
    'events and entertainment': ['events', 'celebrity engagement', 'entertainment management', 'cultural events'],
    'food and beverages': category_mapping['food and beverages'] + ['beverage', 'beverages', 'food beverages', 'food production', 'food nutrition', 'food industry'],
    'technology and innovation': category_mapping['technology'] + ['apps', 'battery', 'electronics', 'data intelligence', 'emobility', 'innovation management'],
    'health and wellness': category_mapping.get('healthcare', []) + ['health', 'health and fitness', 'health diagnostics', 'health insurance'],
    'dating and social networking': ['dating', 'dating app', 'dating private social networking'],
    'e-commerce and retail': category_mapping['e-commerce'] + ['e store', 'econnect', 'commerce', 'd2c', 'd2c business']
    })

# Function to map sectors to categories with updated mappings


def map_sector_to_final_category(sector):
    if pd.isna(sector):
        return 'Other'
    sector = sector.lower()
    for category, keywords in category_mapping.items():
        if any(keyword in sector for keyword in keywords):
            return category
    return 'Other'


# Reapply the mapping to the 'Sector' column to reduce the 'Other' category
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Adjust the function to handle NaN values before applying text corrections


def correct_sector_misspellings(sector):
    if pd.isna(sector):
        return sector  # Return NaN as is
    corrections = {
        'accomodation': 'accommodation',
        'aeorspace': 'aerospace',
         'companyasaservice': 'company as a service',
        'entreprenurship': 'entrepreneurship',
        'estore': 'e-store',
        'food devlivery': 'food delivery'
    }
    sector = sector.lower()
    # Apply corrections
    for incorrect, correct in corrections.items():
        sector = sector.replace(incorrect, correct)
    return sector


# Reapply corrections to the 'Sector' column
complete_data['sector'] = complete_data['sector'].apply(correct_sector_misspellings)

# Reapply the mapping to the corrected 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Further refine the category mappings based on the additional analysis
category_mapping.update({
    'technology': category_mapping['technology'] + ['internet', 'mobile payments', 'mobile', 'it', 'digital platform', 'podcast', 'video communication', 'mobile games', 'video personalization'],
    'financial services': category_mapping['financial services'] + ['trading platform', 'wealth management', 'investment', 'investment management', 'venture capital', 'venture capital private equity'],
    'healthcare': category_mapping['healthcare'] + ['hospital', 'nutrition', 'fitness', 'health diagnostics', 'hygiene', 'life sciences'],
    'consumer services': category_mapping['consumer services'] + ['rental', 'housing', 'housing rentals', 'consultancy', 'home decor', 'home interior services', 'furniture', 'furniture rental'],
    'media and entertainment': category_mapping['media and entertainment'] + ['music streaming', 'music', 'social audio', 'content publishing', 'social platform', 'blogging', 'publication', 'podcast'],
    'events and entertainment': category_mapping['events and entertainment'] + ['wedding', 'matrimony', 'events', 'cultural'],
    'food and beverages': category_mapping['food and beverages'] + ['craft beer', 'food diet'],
    'legal services': ['legal', 'legal services', 'legal processes'],
    'real estate': category_mapping['real estate'] + ['interior decor', 'housing'],
    'transportation': category_mapping['mobility and transportation'] + ['ev', 'mobilitytransport', 'micromobiity'],
    'business services': category_mapping['business services'] + ['business supplies equipment', 'crm', 'customer service company', 'customer service messaging', 'consultancy', 'company as a service', 'product studio', 'staffing recruiting'],
    'renewable energy': category_mapping['renewable energy'] + ['renewables environment', 'water purification', 'pollution control equipment'],
    'education and training': category_mapping['education and training'] + ['job discovery platform', 'skill development', 'online storytelling'],
    'consumer goods': category_mapping['consumer goods and services'] + ['furniture rental', 'merchandise', 'textiles', 'fmcg']
})

# Reapply the mapping to the corrected 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Further refine the category mappings based on the additional analysis
category_mapping.update({
    'technology': category_mapping['technology'] + [
        'cloud company', 'video streaming platform', 'scanning app', 'video platform', 'video', 'computer games',
        'mlops platform', 'networking platform', 'networking', 'telecommunication', 'telecommunications', 'online financial service', 'information services'
    ],
    'financial services': category_mapping['financial services'] + [
        'insurance', 'mutual funds', 'wl rac protection', 'taxation'
    ],
    'media and entertainment': category_mapping['media and entertainment'] + [
        'video', 'video streaming platform', 'video platform', 'fm', 'multinational conglomerate company', 'social network', 'ott', 'sochcast is an audio experiences company that give the listener and creators an immersive audio experience'
    ],
    'business services': category_mapping['business services'] + [
        'packaging services', 'work fulfillment', 'sales services', 'sales and distribution', 'entrepreneurship', 'job portal', 'content management'
    ],
    'consumer goods': category_mapping['consumer goods'] + [
        'consumer', 'jewellery', 'lifestyle', 'wholesale', 'tobacco', 'hauz khas', 'delivery service', 'pollution control equipment', 'fishery', 'mechanical or industrial engineering'
    ],
    'healthcare': category_mapping['healthcare'] + ['medical'],
    'real estate': category_mapping['real estate'] + [
        'housing', 'nano distribution network', 'home interior services', 'interior decor'
    ],
    'events and entertainment': category_mapping['events and entertainment'] + [
        'games', 'advertisement', 'defense space', 'nft', 'content publishing', 'advertisement'
        ],
    'energy and environmental services': category_mapping['energy and environmental services'] + [
        'renewable player', 'pollution control equipment'
    ]
})

# Reapply the mapping to the corrected 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Function to correct the remaining misspellings and standardize terms within the sectors


def correct_final_sector_misspellings(sector):
    corrections = {
        'telecommuncation': 'telecommunication',
        'pollution control equiptment': 'pollution control equipment'
    }
    if pd.isna(sector):
        return sector  # Return NaN as is
    sector = sector.lower()
    # Apply corrections
    for incorrect, correct in corrections.items():
        sector = sector.replace(incorrect, correct)
    return sector

# Reapply corrections to the 'Sector' column
complete_data['sector'] = complete_data['sector'].apply(correct_final_sector_misspellings)

# Expand categories to accommodate remaining sectors
category_mapping.update({
    'technology': category_mapping['technology'] + ['crowdsourcing'],
    'transportation': category_mapping['mobility and transportation'] + ['tyre management'],
    'aerospace': ['aero company'],
    'construction': ['construction'],
    'human resources': category_mapping['human resources'] + ['hr'],
    'e-commerce': category_mapping['e-commerce'] + ['e-store'],
    'mechanical engineering': ['mechanical industrial engineering'],
    'travel': ['travel'],
    'pollution control': ['pollution control equipment'],
    'localization services': ['translation localization'],
    'regional': ['manchester greater manchester']
})

# Reapply the mapping to the corrected 'Sector' column
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Replace empty values in the 'Sector' column with 'Unknown'
complete_data['sector'].fillna('Unknown', inplace=True)

# Reapply the mapping to the 'Sector' column after replacing empty values
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Function to re-categorize the remaining sectors in 'Other'


def finalize_other_category(sector):
    if sector == 'food':
        return 'food and beverages'
    elif sector == 'ev':
        return 'mobility and transportation'
    elif sector == '' or sector == 'unknown':
        return 'Other'
    return sector


# Apply final adjustments to the 'Sector' column
complete_data['sector'] = complete_data['sector'].apply(finalize_other_category)

# Reapply the mapping to the 'Sector' column after final adjustments
complete_data['Category'] = complete_data['sector'].apply(map_sector_to_final_category)

# Function to merge small categories into broader ones

def merge_small_categories(category):
    if category == 'manufacturing':
        return 'technology'
    elif category == 'e-commerce and retail':
        return 'e-commerce'
    elif category == 'health and wellness':
        return 'healthcare'
    elif category == 'energy and environmental services':
        return 'renewable energy'
    elif category == 'accommodation and rental services':
        return 'real estate'
    elif category == 'construction':
        return 'real estate'
    elif category == 'tourism and hospitality':
        return 'travel'
    elif category == 'dating and social networking':
        return 'media and entertainment'
    elif category == 'legal services':
        return 'business services'
    elif category == 'agriculture':
        return 'food and beverages'
    elif category == 'aerospace':
        return 'technology'
    elif category == 'transportation':
        return 'mobility and transportation'
    elif category == 'mechanical engineering':
        return 'technology'
    elif category == 'localization services':
        return 'business services'
    elif category == 'regional':
        return 'Other'
    return category


# Apply the merging function to the 'Category' column
complete_data['Category'] = complete_data['Category'].apply(merge_small_categories)

# Check the updated distribution of categories after merging small categories
final_category_counts_after_merging_small = complete_data['Category'].value_counts()
final_remaining_other_sectors = complete_data[complete_data['Category']
                                     == 'Other']['sector'].dropna().unique()

final_category_counts_after_merging_small, final_remaining_other_sectors

(Category
 technology                        1365
 fintech                            364
 education and training             264
 e-commerce                         159
 mobility and transportation        113
 media and entertainment            108
 food and beverages                 106
 Other                               47
 business services                   40
 real estate                         39
 consumer goods and services         38
 financial services                  37
 design and creative industries      34
 beauty and wellness                 25
 healthcare                          25
 renewable energy                    22
 consumer services                   20
 travel                              15
 consumer goods                      14
 technology and innovation           12
 sports technology                   12
 events and entertainment            10
 human resources                     10
 Name: count, dtype: int64,
 array(['Other', 'app development', 'outsourcing', 'telecom', 'Unknown',
        'new delhi'], dtype=object))

In [1168]:
complete_data['sector'].isna().sum()

0

In [1169]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2879 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2785 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   int32
 8   founders       2879 non-null   object
 9   investor       2315 non-null   object
 10  Category       2879 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(8)
memory usage: 236.3+ KB

*Cleaning HeadQuater Column*

In [1170]:
# Function to simplify and standardize headquarters
def standardize_headquarters(hq):
    if pd.isna(hq):
        return "Unknown"              # Filling null values with a placeholder
    city = hq.split(',')[0].strip()   # Simplifying the entry to city name only
    return city.title()               # Converting to title case

complete_data['headquarter'] = complete_data['headquarter'].apply(standardize_headquarters)

# Check the unique values after cleaning
complete_data['headquarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow',
       'Telangana', 'Gurugram', 'London', 'San Franscisco', 'California',
       'Karnataka', 'Surat', 'Rajasthan', 'Tirunelveli', 'Unknown',
       'Singapore', 'Gujarat', 'Kerala', 'Frisco', 'Dhingsara',
       'New York', 'Patna', 'San Francisco', 'San Ramon', 'Paris',
       'Plano', 'Sydney', 'San Francisco Bay Area', 'Bangaldesh',
       'Milano', 'Palmwoods', 'France', 'Samastipur', 'Irvine', 'Tumkur',
       'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'Tangerang', 'Berlin',
       'Seattle', 'Riyadh', 'Seoul', 'Bangkok', 'Warangal', 'Hyderebad',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Banglore', 'Ahmadabad',
       '', 'Small Towns', 'Rajsamand', 'Ranchi', 'Computer Games',
       'Vadodara', 'Gurugram\t#Ref!', 'Nagpur', 'West Bengal',
       'Samsitpur', 'Silvassa', 'Thiruvananthapuram', 'Roorkee',
       'Ambernath', 'Panchkula', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View', 'Jharkhand', 'Bhilwara', 'Guwahati', 'Manchester',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

In [1171]:
 #Listing irrelevant entries 
irrelevant_entries = ['Computer Games', 'Food & Beverages',
                      'Online Media', 'Information Technology & Services']

# Mapping of common misspellings or variations to standardized city names
city_corrections = {
    'Bangalore City': 'Bangalore',
    'Bengaluru': 'Bangalore',
    'Gurugram': 'Gurgaon',
    'Noida': 'Noida',
    'Hyderebad': 'Hyderabad',
    'Banglore': 'Bangalore',
    'Ahmadabad': 'Ahmedabad',
    'Rajastan': 'Rajasthan',
    'San Franciscao': 'San Francisco',
    'San Francisco Bay Area': 'San Francisco',
    'Telugana': 'Telangana'
}

# Removing "\t#Ref!" from any entries
complete_data['headquarter'] = complete_data['headquarter'].replace(
    to_replace=r'\t#Ref!', value='', regex=True)


def correct_city_names(city):
    if city in irrelevant_entries:
        return "Unknown"  # Changing to "Unknown" for irrelevant categories
    return city_corrections.get(city, city)

complete_data['headquarter'] = complete_data['headquarter'].apply(correct_city_names)

# Verify the corrections 
complete_data['headquarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad', 'Kalkaji',
       'Delhi', 'India', 'Hubli', 'New Delhi', 'Chennai', 'Mohali',
       'Kolkata', 'Pune', 'Jodhpur', 'Kanpur', 'Ahmedabad', 'Azadpur',
       'Haryana', 'Cochin', 'Faridabad', 'Jaipur', 'Kota', 'Anand',
       'Belgaum', 'Thane', 'Margão', 'Indore', 'Alwar', 'Kannur',
       'Trivandrum', 'Ernakulam', 'Kormangala', 'Uttar Pradesh',
       'Andheri', 'Mylapore', 'Ghaziabad', 'Kochi', 'Powai', 'Guntur',
       'Kalpakkam', 'Bhopal', 'Coimbatore', 'Worli', 'Alleppey',
       'Chandigarh', 'Guindy', 'Lucknow', 'Telangana', 'London',
       'San Franscisco', 'California', 'Karnataka', 'Surat', 'Rajasthan',
       'Tirunelveli', 'Unknown', 'Singapore', 'Gujarat', 'Kerala',
       'Frisco', 'Dhingsara', 'New York', 'Patna', 'San Francisco',
       'San Ramon', 'Paris', 'Plano', 'Sydney', 'Bangaldesh', 'Milano',
       'Palmwoods', 'France', 'Samastipur', 'Irvine', 'Tumkur',
       'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing', 'Ludhiana',
       'Dehradun', 'Tangerang', 'Berlin', 'Seattle', 'Riyadh', 'Seoul',
       'Bangkok', 'Warangal', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', '',
       'Small Towns', 'Rajsamand', 'Ranchi', 'Vadodara', 'Nagpur',
       'West Bengal', 'Samsitpur', 'Silvassa', 'Thiruvananthapuram',
       'Roorkee', 'Ambernath', 'Panchkula', 'Mangalore', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View', 'Jharkhand', 'Bhilwara', 'Guwahati', 'Manchester',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

In [1172]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2879 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2879 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   int32
 8   founders       2879 non-null   object
 9   investor       2315 non-null   object
 10  Category       2879 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(8)
memory usage: 236.3+ KB

*Cleaning Investor Column*

In [1173]:
# Trimming white spaces and standardize text format to title case for 'Investor'
complete_data['investor'] = complete_data['investor'].str.strip().str.title()

# Filling null values in 'Investor' with 'Undisclosed'
complete_data['investor'].fillna('Undisclosed', inplace=True)

In [1174]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2879 non-null   object
 1   sector         2879 non-null   object
 2   stage          2879 non-null   object
 3   amount         2879 non-null   float64
 4   headquarter    2879 non-null   object
 5   about_company  2879 non-null   object
 6   year           2879 non-null   datetime64[ns]
 7   founded        2879 non-null   int32
 8   founders       2879 non-null   object
 9   investor       2879 non-null   object
 10  Category       2879 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(8)
memory usage: 236.3+ KB

In [1175]:
# Saving the DataFrame to a CSV file
complete_data.to_csv('datasets/cleaned_startup_funding 2018-2021.csv', index=False)

 Detailed Univariate and Multivariate Analysis of All the columns in the Dataset